@using Microsoft.AspNet.Identity
@if (Request.IsAuthenticated)
{
    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
    {
        @Html.AntiForgeryToken()

        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="https://example.com" id="dropdown04" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">@Html.Raw("Hello " + User.Identity.GetUserName())</a>
            <div class="dropdown-menu" aria-labelledby="dropdown04">
                <a class="dropdown-item" href="/u/messages">Mesaje</a>
                <a class="dropdown-item" href="/u/appoitments">Programari</a>
                <a class="dropdown-item" href="/u/profile">Profil</a>
                <a class="dropdown-item" href="javascript:document.getElementById('logoutForm').submit()">Iesire din cont</a>
            </div>
        </li>
    }
}
else
{
    <li class="nav-item">@Html.ActionLink("Cont nou", "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink", @class = "nav-link" })</li>
    <li class="nav-item">@Html.ActionLink("Login", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink", @class = "nav-link" })</li>
}
