@if (Request.Url.PathAndQuery == "/")
{
    <div class="sectionimg text-center">
        <div class="container">
            <h1>Cea mai mare platforma de meditatii</h1>
            <div class="row">
                <div class="col-md-6 text-center"><a href="/" class="btn btn-primary btn-lg">Cauta profesor</a></div>
                <div class="col-md-6 text-center"><a href="/" class="btn btn-primary btn-lg">Esti profesor ? Inscriere-te acum.</a></div>
            </div>
        </div>
    </div>
}
