<h1>Messages</h1>
<div>
	<div *ngFor="let message of messages">
		<article class="row">
			
			<div class="col-md-9">
				<div id="subject" class="m-0-top-bottom display-inline-block"><a href="#" data-toggle="modal" data-target="#myModal"> {{message.Subject}} </a></div>
			</div>
			<div class="col-md-2">
				<div class="row">
					<div class="col-md-12">
						<div class="m-sm-bottom m-0-top">
							<div>
								<button class="btn btn-block btn-primary btn-sm m-0-top m-0-left-right m-sm-bottom">
									<span>Trimite mesaj</span>
								</button>
							</div>
						</div>
					</div>
				</div>
			</div>
		</article>
	</div>

	<!-- pager -->
	<ul *ngIf="pager.pages && pager.pages.length" class="pagination">
		<li [ngClass]="{hidden:pager.currentPage === 1}">
			<a (click)="setCurrentPage(1)">First</a>
		</li>
		<li [ngClass]="{hidden:pager.currentPage === 1}">
			<a (click)="setCurrentPage(pager.currentPage - 1)">Previous</a>
		</li>
		<li *ngFor="let page of pager.pages" [ngClass]="{active:pager.currentPage === page}">
			<a (click)="setCurrentPage(page)">{{page}}</a>
		</li>
		<li [ngClass]="{hidden:pager.currentPage === pager.totalPages}">
			<a (click)="setCurrentPage(pager.currentPage + 1)">Next</a>
		</li>
		<li [ngClass]="{hidden:pager.currentPage === pager.totalPages}">
			<a (click)="setCurrentPage(pager.totalPages)">Last</a>
		</li>
	</ul>

</div>

<!-- Modal -->
<div class="modal fade" id="myModal" role="dialog">
	<div class="modal-dialog">

		<!-- Modal content-->
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal">&times;</button>
				<h4 class="modal-title">Modal Header</h4>
			</div>
			<div class="modal-body">
				<p>Some text in the modal.</p>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
			</div>
		</div>

	</div>
</div>