<div class="profile-container paddingtop20" *ngIf="ad">
	<section class="intro section-wrapper">
        <div class="container-fluid">
            <div class="row align-items-end bottomline ">
                <div class="col-md-9">
                   <h2> <img src="{{ad.Teacher.ProfileImageUrl}}"  class="avatar"/>
                    {{ad.Teacher.FirstName}} {{isCurrentUserIsLoggedIn && ad.Teacher.LastName.length !=null  ? ad.Teacher.LastName : ad.Teacher.LastName.substring(0,1) + "."}}</h2>
                </div>
                <div class="col-md-3">
                    <div class="m-sm-bottom m-0-top">
                        
                            <button class="btn btn-outline-dark btn-lg btn-block" (click)="open(content);" *ngIf="isCurrentUserIsLoggedIn">
                                <span>Trimite mesaj</span>
                            </button>
                        
                            <button class="btn btn-outline-success btn-lg btn-block" [disabled]="phoneclicked" (click)="getPhoneNumber();" *ngIf="isCurrentUserIsLoggedIn && ad.Teacher.PhoneNumber != null && ad.Teacher.PhoneNumber != ''  " id="phonenumber">
                                <span *ngIf="!phoneclicked">{{phoneNumber}}</span>
                                <a href="tel:{{phoneNumber}}" *ngIf="phoneclicked" role="button" aria-pressed="true" class="link-light font-weight-bold">{{phoneNumber}}</a>
                            </button>
                        
                    </div>
                </div>
            </div>
            

            <div class="row bottomline">
                <div id="cities" class="col-md-12">
                    <img *ngIf="ad.Teacher.Cities.Length > 0" src="/img/point.png" style="float:left;margin-right: 5px;;">
                    <div *ngFor="let city of ad.Teacher.Cities;let last = last" class="category-item">{{ city.County + ' - ' + city.Name}}{{last? "" : ","}}</div>  
                    <div id="online" class="category-item" *ngIf="ad.Teacher.AlsoOnline"> - <img src="/img/online.png"> Meditatii oferite si online</div> 
                    <div style="display: flex;width: 100%;" *ngIf="ad.Teacher.AtTeacher">La domiciliul meditatorului</div>
                    <div style="display: flex;width: 100%;" *ngIf="ad.Teacher.AtStudent">La domiciliul elevului</div>
                </div>
            </div>

            <div class="row bottomline">
                    <div class="col-md-12"> 
                        <div class="category-item">Ofera meditatii la <a href='{{ad.Category.Name}}'>{{ad.Category.Name}}</a></div>
                    </div>
            </div>
            <div class="row bottomline">
                <div class="col-md-12" id="cycles"> 
                     <div class="category-item">Nivelul: <a href='{{cycle.Name}}' *ngFor="let cycle of ad.Cycles;let last = last">{{cycle.Name}}</a>{{ last ? "" : ","}}</div>
                </div>
            </div>
            <div class="row bottomline">
                <div class="col-md-12" id="cycles"> 
                    <div class="price" style="font-weight: 600;">Pret: {{ad.Price != null && ad.Price != "" ? ad.Price + " / " + ad.DurationName : "-"}}</div>
                </div>
            </div>
            <div class="row bottomline-dark">
                    <div class="col-md-12 mb-2" style="white-space: pre-line;">
                        <h4>Descriere</h4>
                            {{ad.Description}}
                    </div>
            </div>
            <div class="row bottomline">
                <div class="col-md-6 float-left"><small class="float-left">Adaugat la data: {{ad.Added | date:'yyyy-MM-dd'}}</small></div>
                <div class="col-md-6 float-right"><small class="float-right">Vizualizari: {{nrOfViews}}</small></div>
            </div>
        </div>
    </section>

    
</div>

<!-- Modal -->
<ng-template #content let-c="close" let-d="dismiss">
    <div class="modal-header">
      <h4 class="modal-title">Trimite mesaj</h4>
      <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
            <textarea placeholder="Mesaj" name="newMessage" id="newMessage" [(ngModel)]="newMessage" required rows="5" style="width:100% !important; max-width: 100% !important;"></textarea>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-outline-dark" (click)="sendMessage();c('Save click');">Save</button>
    </div>
  </ng-template>
