@{
    ViewBag.Title = "Plata a fost realizat cu succes";
}
<meditatii-app>

</meditatii-app>
<section class="text-with-image text-with-faq body-content __m-b-0">
    <div class="container">
        <div class="row">
            <div class="col-sm-8 col-sm-offset-2 col-md-5 col-md-offset-0 text-center col-md-push-7">
                <div style="width:123px;height: 128px; background-image: url(/img/svg/success.svg); background-size: cover; margin-top:100px;margin-bottom:100px;float:right;">
                </div>
            </div>
            <div class="col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-0 col-lg-5 col-md-pull-5  m-b-120">
                <h3>Plata a fost realizata.</h3>
                <div class="clearboth"></div>
                <p>Multumim pentru incredere</p>
            </div>
        </div>
    </div>
</section>

<section class="text-with-image text-with-faq body-content __m-b-0">
    <div class="container">
        <div class="row">
            <div class="col-sm-8 col-sm-offset-2 col-md-5 col-md-offset-0 text-center col-md-push-7">
            </div>
            <div class="col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-0 col-lg-5 col-md-pull-5  m-b-120">
            </div>
        </div>
    </div>
</section>