@{
    ViewBag.Title = "Confirmarea emailului";
}

<h2>@ViewBag.Title.</h2>
<div>
    <p>
        Multumim pentru confirmarea email-ului. @Html.ActionLink("Acceseaza contul", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })
    </p>
</div>
