@{
    ViewBag.Title = "";
}

<hgroup class="title">
    <h1>@ViewBag.Title</h1>
</hgroup>
<div>
    <p>
        A fost trimis un link pentru resetarea parolei valabil doar 1 oră. Te rugăm să urmezi informaţiile din email.
    </p>
</div>
	
