@{
    ViewBag.Title = "";
}

<hgroup class="title">
    <h1>@ViewBag.Title</h1>
</hgroup>
<div>
    <p>
        Informațiile pentru resetarea parolei au fost trimise la adresa ta de email
    </p>
</div>
	
