@{
	ViewBag.Title = "About";
}

<script src="https://static.opentok.com/v2/js/opentok.min.js"></script>

<style>

	body, html {
		background-color: gray;
		height: 100%;
	}

	#videos {
		position: relative;
		width: 100%;
		height: 100%;
		margin-left: auto;
		margin-right: auto;
	}

	#subscriber {
		position: absolute;
		left: 0;
		top: 0;
		width: 100%;
		height: 100%;
		z-index: 10;
	}

	#publisher {
		position: absolute;
		width: 360px;
		height: 240px;
		bottom: 10px;
		left: 10px;
		z-index: 100;
		border: 3px solid white;
		border-radius: 3px;
	}

</style>
<script>
	/// replace these values with those generated in your TokBox Account
	var apiKey = "46085862";
	var sessionId = "1_MX40NjA4NTg2Mn5-MTUyMTgwNTUwMjUwNn5XT21qTHNvNUw3UUlFOVROTnhJQnkxRTR-fg";
	var token = "T1==cGFydG5lcl9pZD00NjA4NTg2MiZzaWc9MTRmMmM3MDczOWI3YTE2MTkwM2I0MDAxNWVkNDIxMGFmODY0NGM3MjpzZXNzaW9uX2lkPTFfTVg0ME5qQTROVGcyTW41LU1UVXlNVGd3TlRVd01qVXdObjVYVDIxcVRITnZOVXczVVVsRk9WUk9UbmhKUW5reFJUUi1mZyZjcmVhdGVfdGltZT0xNTIxODA1NTkwJm5vbmNlPTAuNjYyNzQ5ODc2ODcxODc2NyZyb2xlPXB1Ymxpc2hlciZleHBpcmVfdGltZT0xNTIxODA5MTg3JmluaXRpYWxfbGF5b3V0X2NsYXNzX2xpc3Q9";

	// Handling all of our errors here by alerting them
	function handleError(error) {
		if (error) {
			alert(error.message);
		}
	}

	// (optional) add server code here
	initializeSession();

	function initializeSession() {
		var session = OT.initSession(apiKey, sessionId);

		// Subscribe to a newly created stream
		session.on('streamCreated', function (event) {
			session.subscribe(event.stream, 'subscriber', {
				insertMode: 'append',
				width: '100%',
				height: '100%'
			}, handleError);
		});

		// Create a publisher
		var publisher = OT.initPublisher('publisher', {
			insertMode: 'append',
			width: '100%',
			height: '100%'
		}, handleError);

		// Connect to the session
		session.connect(token, function (error) {
			// If the connection is successful, initialize a publisher and publish to the session
			if (error) {
				handleError(error);
			} else {
				session.publish(publisher, handleError);
			}
		});
	}
</script>
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>Use this area to provide additional information.</p>
