@{
    ViewBag.Title = "Cum functioneaza - Anunturi meditatii";
}

<meditatii-app>
</meditatii-app>

<h2 id="student" class="mt-4">Pentru elev</h2>
<section class="text-with-image text-with-faq body-content __m-b-0">
    <div class="container">
        <div class="row">
            <div class="col-sm-8 col-sm-offset-2 col-md-5 col-md-offset-0 text-center col-md-push-7">
                <span class="process-icon"><svg class="mk-svg-icon" data-name="mk-li-user" data-cacheid="icon-5bfe75f66d362" xmlns="http://www.w3.org/2000/svg" viewBox="0 -256 1792 1792"><g transform="matrix(1,0,0,-1,197.42373,1300.6102)"><path d="M 1408,131 Q 1408,11 1335,-58.5 1262,-128 1141,-128 H 267 Q 146,-128 73,-58.5 0,11 0,131 0,184 3.5,234.5 7,285 17.5,343.5 28,402 44,452 q 16,50 43,97.5 27,47.5 62,81 35,33.5 85.5,53.5 50.5,20 111.5,20 9,0 42,-21.5 33,-21.5 74.5,-48 41.5,-26.5 108,-48 Q 637,565 704,565 q 67,0 133.5,21.5 66.5,21.5 108,48 41.5,26.5 74.5,48 33,21.5 42,21.5 61,0 111.5,-20 50.5,-20 85.5,-53.5 35,-33.5 62,-81 27,-47.5 43,-97.5 16,-50 26.5,-108.5 10.5,-58.5 14,-109 Q 1408,184 1408,131 z m -320,893 Q 1088,865 975.5,752.5 863,640 704,640 545,640 432.5,752.5 320,865 320,1024 320,1183 432.5,1295.5 545,1408 704,1408 863,1408 975.5,1295.5 1088,1183 1088,1024 z"></path></svg></span>
            </div>
            <div class="col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-0 col-lg-5 col-md-pull-5  m-b-120">
                <h3>Iti faci cont</h3>
                <div class="clearboth"></div>
                <p>Dureaza 30 de secunde sa iti creezi un cont eMeditatii si inca 3 minute sa iti definitivezi profilul</p>
            </div>
        </div>
    </div>
</section>
<section class="text-with-image text-with-faq body-content __m-b-0">
    <div class="container">
        <div class="row">
            <div class="col-sm-8 col-sm-offset-2 col-md-5 col-md-offset-0 text-center col-md-push-7">
                <span class="process-icon"><svg class="mk-svg-icon" data-name="mk-moon-search-3" data-cacheid="icon-5bfe75f66d640" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 612.063 612.062"><path d="M549.869,62.246c-82.861-82.995-217.223-82.995-300.103,0c-77.175,77.29-82.382,199.284-15.795,282.72L0.034,579.228
				l32.796,32.835l233.822-234.147c83.34,67.448,205.755,62.413,283.217-15.145C632.749,279.775,632.749,145.222,549.869,62.246z
				 M520.174,333.019c-66.492,66.588-174.28,66.588-240.772,0c-66.492-66.587-66.492-174.529,0-241.116s174.28-66.587,240.772,0
				S586.667,266.45,520.174,333.019z"/></svg></span>
            </div>
            <div class="col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-0 col-lg-5 col-md-pull-5  m-b-120">
                <h3>Cauti profesor</h3>
                <div class="clearboth"></div>
                <p>Ai access la o serie de filtre care te vor ajuta sa gasesti profesorul potrivit nevoilor tale</p>
            </div>
        </div>
    </div>
</section>
<section class="text-with-image text-with-faq body-content __m-b-0">
    <div class="container">
        <div class="row">
            <div class="col-sm-8 col-sm-offset-2 col-md-5 col-md-offset-0 text-center col-md-push-7">
                <span class="process-icon"><svg class="mk-svg-icon" data-name="mk-li-money" data-cacheid="icon-5bfe75f66d7e7" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 18.972 18.972"><path d="M17.873,3.12L7.284,3.126c-0.607-0.001-1.101,0.493-1.1,1.101v0.505
			C5.959,4.635,5.68,4.567,5.324,4.567c-0.445,0-0.814,0.1-0.855,0.113C4.383,4.704,4.305,4.746,4.238,4.805L0.202,8.341
			C0.07,8.458-0.004,8.627,0,8.803l0.035,5.821c0.008,0.31,0.364,0.563,0.675,0.577c0.016,0,1.521,0.063,2.851,0.063
			c0.811,0,1.383-0.021,1.748-0.067c1.064-0.134,1.529-0.448,1.722-0.648c0.2-0.146,0.378-0.29,0.564-0.434
			c-0.155,0.568,0.104,1.187,0.648,1.462c0.176,0.09,0.374,0.138,0.57,0.138c0.349,0,0.669-0.145,0.903-0.385
			c0.115,0.156,0.261,0.292,0.445,0.387c0.177,0.087,0.374,0.135,0.571,0.135c0.478,0,0.91-0.267,1.126-0.693l0.837-1.648
			c0.153-0.302,0.185-0.645,0.079-0.965c-0.034-0.104-0.088-0.201-0.148-0.291l5.239,0.003c0.607,0,1.102-0.494,1.103-1.1
			l0.004-6.924C18.973,3.625,18.48,3.12,17.873,3.12z M10.072,13.012l-0.835,1.65c-0.113,0.228-0.407,0.325-0.636,0.21
			c-0.233-0.119-0.326-0.405-0.209-0.637l0.687-1.353c0,0,0.225-0.549,0.584-0.555c0.07,0.002,0.138,0.017,0.202,0.05
			c0.112,0.058,0.196,0.153,0.235,0.274C10.14,12.772,10.132,12.899,10.072,13.012z M8.756,11.561l-0.755,0.692h0.007
			c-0.473,0.41-1.036,0.865-1.729,1.377c-0.052,0.038-0.056,0.034-0.093,0.086c-0.002,0.002-0.231,0.206-1.021,0.304
			c-0.216,0.027-0.668,0.023-1.603,0.023c-0.813,0-1.825,0.012-2.378-0.007L1.193,9.05l3.714-3.255
			c0.1-0.019,0.252-0.041,0.417-0.041c0.242,0,0.409,0.043,0.499,0.132v4.116c0,0.209,0.11,0.401,0.29,0.509
			c0.021,0.012,0.045,0.01,0.067,0.02v0.044l0.055-0.028c0.153,0.051,0.318,0.058,0.464-0.023c0.923-0.5,2.672-1.295,3.434-1.295
			c0.034,0,0.063,0,0.083,0.004c0.003,0.007,0.006,0.011,0.01,0.017C10.242,9.329,10.318,10.015,8.756,11.561z M11.989,13.15
			l-0.835,1.65c-0.114,0.228-0.409,0.324-0.637,0.209c-0.232-0.117-0.324-0.404-0.207-0.636l0.836-1.65
			c0.081-0.16,0.242-0.261,0.422-0.261c0.075,0,0.147,0.019,0.215,0.053c0.114,0.058,0.197,0.155,0.235,0.273
			C12.058,12.91,12.049,13.037,11.989,13.15z M18.236,11.155c-0.001,0.205-0.165,0.367-0.367,0.367l-7.476-0.002
			c0.611-0.754,0.962-1.43,1.02-2.016c0.043-0.464-0.094-0.76-0.195-0.907c-0.125-0.236-0.419-0.557-1.085-0.557
			c-0.871,0-2.229,0.57-3.124,0.996V7.393L18.237,7.39L18.236,11.155z M18.237,5.214L6.917,5.209V4.225
			c0-0.203,0.164-0.367,0.366-0.367l10.59-0.008c0.2,0,0.367,0.178,0.367,0.38L18.237,5.214z"/></svg></span>
            </div>
            <div class="col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-0 col-lg-5 col-md-pull-5  m-b-120">
                <h3>Platesti</h3>
                <div class="clearboth"></div>
                <p>eMeditatii utilizeaza cea mai populara si sigura platforma de plata online: Netopia MobilPay</p>
            </div>
        </div>
    </div>
</section>
<section class="text-with-image text-with-faq body-content __m-b-0">
    <div class="container">
        <div class="row">
            <div class="col-sm-8 col-sm-offset-2 col-md-5 col-md-offset-0 text-center col-md-push-7">
                <span class="process-icon"><svg class="mk-svg-icon" data-name="mk-moon-camera-8" data-cacheid="icon-5bfe75f66d9ec" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 403.729 403.729">
                <path d="M168.417,117.173c3.337,0,6.339-2.291,7.226-5.505c1.79-6.487-5.571-11.893-11.232-8.322
		c-2.766,1.745-4.082,5.178-3.216,8.332C162.076,114.889,165.086,117.173,168.417,117.173z"/>
	<path d="M229.262,150.059c-2.372,2.095-3.166,5.563-1.956,8.484c1.149,2.772,3.914,4.63,6.92,4.63c3.756,0,6.966-2.863,7.439-6.578
		C242.521,149.883,234.304,145.606,229.262,150.059z"/>
	<path d="M264.227,163.173c3.411,0,6.431-2.38,7.276-5.672c1.689-6.575-5.96-11.795-11.502-8.018
		c-2.666,1.817-3.898,5.278-2.947,8.371C258.015,160.974,260.949,163.173,264.227,163.173z"/>
	<path d="M382.798,64.648H187.829c-16.871-29.421-48.596-49.284-84.875-49.284c-53.908,0-97.766,43.857-97.766,97.766
		c0,40.419,24.655,75.187,59.715,90.056C26.914,218.35,0,255.514,0,298.85v82.015c0,4.142,3.357,7.5,7.5,7.5h190.908
		c4.143,0,7.5-3.358,7.5-7.5v-75.497h156.82c22.607,0,41-18.388,41-40.99v-178.8C403.729,74.037,394.339,64.648,382.798,64.648z
		 M246.119,79.648c-0.007,0.798,0.108,1.602,0.367,2.38c1.014,3.041,3.911,5.145,7.121,5.145c3.341,0,6.32-2.291,7.218-5.496
		c0.195-0.694,0.264-1.371,0.262-2.03h121.711c3.271,0,5.931,2.66,5.931,5.93v165.31H194.031c-2.003-3.789-4.235-7.438-6.679-10.93
		h182.946c4.143,0,7.5-3.358,7.5-7.5V98.078c0-4.142-3.357-7.5-7.5-7.5H198.09c-0.884-3.729-1.978-7.378-3.277-10.93H246.119z
		 M304.963,290.368h-99.406c-0.696-8.49-2.421-16.693-5.059-24.48h135.416C332.539,279.874,319.955,290.305,304.963,290.368z
		 M200.43,105.578h162.367v119.38h-63.702c-2.247-7.423-6.276-14.164-11.86-19.749c-2.554-2.559-5.356-4.778-8.341-6.661
		c12.106-8.158,20.086-21.992,20.086-37.657c0-25.021-20.356-45.377-45.377-45.377c-25.021,0-45.378,20.356-45.378,45.377
		c0,15.643,7.957,29.462,20.035,37.624c-9.519,5.965-16.791,15.241-20.162,26.442h-33.531c-9.585-9.292-20.963-16.743-33.562-21.772
		c35.06-14.87,59.715-49.638,59.715-90.056C200.72,110.589,200.622,108.07,200.43,105.578z M253.583,206.269
		c0.007,0,0.014,0,0.021,0c0.007,0,0.013,0,0.02,0c8.694,0.005,16.86,3.392,23.002,9.543c2.694,2.694,4.84,5.787,6.423,9.146
		h-58.927C229.34,213.756,240.624,206.277,253.583,206.269z M223.226,160.892c0-16.75,13.628-30.377,30.378-30.377
		s30.377,13.627,30.377,30.377c0,16.743-13.616,30.366-30.357,30.377c-0.007,0-0.013,0-0.02,0c-0.007,0-0.014,0-0.021,0
		C236.843,191.258,223.226,177.635,223.226,160.892z M20.188,113.129c0-45.637,37.129-82.766,82.766-82.766
		s82.766,37.128,82.766,82.766s-37.129,82.766-82.766,82.766S20.188,158.767,20.188,113.129z M15,298.85
		c0-48.499,39.456-87.955,87.954-87.955s87.954,39.456,87.954,87.955v30.328h-32.99v-35.5c0-4.142-3.357-7.5-7.5-7.5
		s-7.5,3.358-7.5,7.5v79.687H15V298.85z M157.918,373.365v-29.187h32.99v29.187H157.918z M362.729,290.368h-23.525
		c6.198-6.658,10.49-15.107,12.001-24.48h37.481C387.9,279.519,376.559,290.368,362.729,290.368z"/></svg></span>
            </div>
            <div class="col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-0 col-lg-5 col-md-pull-5  m-b-120">
                <h3>Va intalniti ONLINE</h3>	
                <div class="clearboth"></div>
                <p>Ai acelasi grad de confidentialitate ca in offline iar platforma a fost construita sa respecte protocolul HIPAA</p>
            </div>					
        </div>
    </div>
</section>
<section class="text-with-image text-with-faq body-content __m-b-0">
    <div class="container">
        <div class="row">
            <div class="col-sm-8 col-sm-offset-2 col-md-5 col-md-offset-0 text-center col-md-push-7">
                <span class="process-icon"><svg class="mk-svg-icon" data-name="mk-li-money" data-cacheid="icon-5bfe75f66d7e7" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1000 1000"><g><g transform="translate(0.000000,511.000000) scale(0.100000,-0.100000)"><path d="M814.5,683.2C744.1,542.4,684.1,426.4,682,422.3c-4.1-4.1-130.5-24.9-281.7-47.6c-153.2-22.8-285.8-49.7-298.2-62.1c-14.5-14.5,45.6-87,192.6-229.9L508-124.4l-47.6-287.9c-24.8-157.4-37.3-294.1-29-302.4c8.3-8.3,134.6,45.6,277.5,120.1l263,136.7l263-136.7c142.9-74.5,269.2-130.5,277.5-120.1c8.3,8.3-6.2,145-33.1,304.4l-47.6,289.9l198.8,188.4c118.1,109.8,200.9,205,200.9,227.8c0,20.7-4.1,39.3-10.4,39.3c-14.5,0-420.4,60.1-503.2,72.5c-64.2,12.4-74.6,26.9-190.5,271.3C1048.5,844.8,994.7,935.9,974,935.9C953.3,935.9,895.3,844.8,814.5,683.2z"/><path d="M2955.9,911.1c-12.4-14.5-74.5-130.5-138.8-258.9c-105.6-213.3-120.1-231.9-182.3-244.4c-37.3-6.2-161.5-24.9-275.4-41.4c-113.9-18.6-215.4-41.4-227.8-53.8c-12.4-12.4,53.8-93.2,190.5-231.9l209.2-211.2l-49.7-279.6c-33.1-186.4-43.5-283.7-29-298.2c14.5-14.5,105.6,22.8,279.6,111.8L2991.1-462L3250-596.6c165.7-84.9,265.1-126.3,277.5-113.9c14.5,14.5,2.1,120.1-29,300.3l-49.7,279.6l211.2,211.2c149.1,153.3,203,219.5,188.5,234c-12.4,12.4-147,41.4-300.3,64.2s-279.6,47.6-283.7,55.9c-47.6,113.9-248.5,490.8-265.1,497C2987,933.8,2966.3,925.6,2955.9,911.1z"/><path d="M4873.7,683.2c-70.4-140.8-130.5-256.8-132.5-260.9c-4.1-4.1-130.5-24.9-281.7-47.6c-153.3-22.8-285.8-49.7-298.2-62.1c-14.5-14.5,45.6-87,192.6-229.9l215.4-209.2l-47.6-285.8c-26.9-157.4-41.4-294.1-31.1-302.4c8.3-8.3,134.6,45.6,277.5,120.1l263,136.7l263-136.7c142.9-74.5,269.2-130.5,277.5-120.1c8.3,8.3-6.2,145-33.1,304.4l-47.6,289.9l198.8,188.4c118,109.8,200.9,205,200.9,227.8c0,20.7-4.2,39.3-10.4,39.3c-14.5,0-420.4,58-501.2,72.5c-62.1,10.4-74.6,29-190.5,269.2c-80.8,167.8-134.6,258.9-155.3,258.9C5012.4,935.9,4954.4,844.8,4873.7,683.2z"/><path d="M6959.1,890.3c-16.6-26.9-74.6-140.8-128.4-254.7c-53.9-113.9-99.4-209.2-101.5-211.2c-2.1-4.1-126.3-22.8-279.6-45.6c-151.2-22.8-285.8-51.8-298.2-64.2c-14.5-14.5,39.4-80.8,188.5-234l211.3-211.2l-51.8-279.6c-33.1-186.4-43.5-283.7-29-298.2c14.5-14.5,105.6,22.8,279.6,111.8L7008.9-462l258.9-134.6c174-89.1,265.1-126.3,279.6-111.8c14.5,14.5,4.2,111.8-29,298.2l-51.8,279.6l211.3,211.2c140.8,142.9,202.9,219.5,188.5,234c-10.4,10.4-145,39.3-298.2,62.1c-161.5,24.9-283.7,53.8-287.9,68.3c-31.1,84.9-244.4,480.5-265.1,486.7C7002.7,935.9,6977.8,917.3,6959.1,890.3z"/><path d="M8870.7,677c-116-240.2-128.4-258.9-190.5-269.2c-37.3-6.2-163.6-24.9-283.7-41.4c-120.1-18.6-225.7-41.4-238.2-53.8c-12.4-12.4,51.8-91.1,194.7-229.9l213.3-209.2l-47.6-285.8c-26.9-157.4-41.4-294.1-31.1-302.4c8.3-8.3,134.6,45.6,277.5,120.1l263,136.7l263-136.7c142.9-74.5,269.2-128.4,277.5-120.1c10.4,8.3-4.1,145-31.1,302.4l-47.6,283.7l213.3,211.2c149.1,142.9,209.2,215.4,194.7,229.9c-12.4,12.4-145,39.3-298.2,62.1c-151.2,22.8-279.6,43.5-283.7,47.6c-4.2,4.1-62.1,122.2-130.5,260.9c-82.8,165.7-136.7,252.7-157.4,252.7C9005.3,935.9,8951.4,848.9,8870.7,677z"/></g></g></svg></span>
            </div>
            <div class="col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-0 col-lg-5 col-md-pull-5  m-b-120">
                <h3>Evaluezi sedinta</h3>
                <div class="clearboth"></div>
                <p>Evaluezi sedinta prin acordarea unei note..</p>
            </div>
        </div>
    </div>
</section>

<section class="text-with-image text-with-faq body-content __m-b-0">
    <div class="container">
        <div class="row">
            <div class="col-sm-8 col-sm-offset-2 col-md-5 col-md-offset-0 text-center col-md-push-7"></div>
            <div class="col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-0 col-lg-5 col-md-pull-5  m-b-120">
                <a href="/Account/Register" class="btn btn-primary btn-lg">Înscriere-te acum.</a>
            </div>
        </div>    
    </div>
</section>

<hr />

<h2 id="teacher" class="mt-4">Pentru profesor</h2>
<section class="text-with-image text-with-faq body-content __m-b-0">
    <div class="container">
        <div class="row">
            <div class="col-sm-8 col-sm-offset-2 col-md-5 col-md-offset-0 text-center col-md-push-7">
                <span class="process-icon"><svg class="mk-svg-icon" data-name="mk-li-user" data-cacheid="icon-5bfe75f66d362" xmlns="http://www.w3.org/2000/svg" viewBox="0 -256 1792 1792"><g transform="matrix(1,0,0,-1,197.42373,1300.6102)"><path d="M 1408,131 Q 1408,11 1335,-58.5 1262,-128 1141,-128 H 267 Q 146,-128 73,-58.5 0,11 0,131 0,184 3.5,234.5 7,285 17.5,343.5 28,402 44,452 q 16,50 43,97.5 27,47.5 62,81 35,33.5 85.5,53.5 50.5,20 111.5,20 9,0 42,-21.5 33,-21.5 74.5,-48 41.5,-26.5 108,-48 Q 637,565 704,565 q 67,0 133.5,21.5 66.5,21.5 108,48 41.5,26.5 74.5,48 33,21.5 42,21.5 61,0 111.5,-20 50.5,-20 85.5,-53.5 35,-33.5 62,-81 27,-47.5 43,-97.5 16,-50 26.5,-108.5 10.5,-58.5 14,-109 Q 1408,184 1408,131 z m -320,893 Q 1088,865 975.5,752.5 863,640 704,640 545,640 432.5,752.5 320,865 320,1024 320,1183 432.5,1295.5 545,1408 704,1408 863,1408 975.5,1295.5 1088,1183 1088,1024 z"></path></svg></span>
            </div>
            <div class="col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-0 col-lg-5 col-md-pull-5  m-b-120">
                <h3>Iti faci cont</h3>
                <div class="clearboth"></div>
                <p>Dureaza 30 de secunde sa iti creezi un cont eMeditatii si inca 3 minute sa iti definitivezi profilul</p>
            </div>
        </div>
    </div>
</section>

<section class="text-with-image text-with-faq body-content __m-b-0">
    <div class="container">
        <div class="row">
            <div class="col-sm-8 col-sm-offset-2 col-md-5 col-md-offset-0 text-center col-md-push-7">
                <span class="process-icon"><svg class="mk-svg-icon" data-name="mk-li-money" data-cacheid="icon-5bfe75f66d7e7" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1000 1000"><path d="M762.2,789.6c92.8-51.9,154.2-141.6,154.2-243.7c0-64.6-24.8-124-66.3-172.3c2.8-18.8,4.7-37.9,4.7-57.4c0-8.9-1-17.6-1.6-26.4C929.9,353.3,978,442.8,978,542.1c0,111.5-60.5,210.4-154.2,274.2V990L651,884.3c-24,3.9-48.6,6.2-73.9,6.2c-118.8,0-194.3-45.1-267.7-116.4c12.1,0.7,24.1,1.6,36.4,1.6c17.2,0,34.2-0.9,51-2.2c58,39.6,100.4,63.4,180.3,63.4c27.5,0,54.2-3.1,79.8-8.4l105.3,69.7V789.6L762.2,789.6z M422.9,714.4c-25.3,0-79.8-4.2-103.7-8.1l-173.8,99.9V632.6C64.7,564.4,22,469.8,22,358.4C22,166,201.2,10,422.9,10C607.2,10,793,166,793,358.4C793,550.8,644.3,714.4,422.9,714.4L422.9,714.4z M312.3,644.7c25.6,5.3,83.1,8.4,110.6,8.4c187.4,0,308.4-130.3,308.4-290.9c0-160.7-155.1-290.9-308.4-290.9c-192.7,0-339.3,130.3-339.3,290.9c0,102.1,48.1,183,123.4,243.7v108.5L312.3,644.7L312.3,644.7z M592.5,408.1c-25.6,0-46.3-20.6-46.3-45.9c0-25.4,20.7-45.9,46.3-45.9c25.6,0,46.3,20.6,46.3,45.9C638.8,387.6,618.1,408.1,592.5,408.1L592.5,408.1z M407.5,408.1c-25.6,0-46.3-20.6-46.3-45.9c0-25.4,20.7-45.9,46.3-45.9c25.6,0,46.3,20.6,46.3,45.9C453.7,387.6,433,408.1,407.5,408.1L407.5,408.1z M222.4,408.1c-25.6,0-46.3-20.6-46.3-45.9c0-25.4,20.7-45.9,46.3-45.9s46.3,20.6,46.3,45.9C268.7,387.6,248,408.1,222.4,408.1L222.4,408.1z"/></svg></span>
            </div>
            <div class="col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-0 col-lg-5 col-md-pull-5  m-b-120">
                <h3>Stabilesti intalnirea</h3>
                <div class="clearboth"></div>
                <p>Stabilesti data si ora sedintei si detaliile despre sedinta.</p>
            </div>
        </div>
    </div>
</section>
<section class="text-with-image text-with-faq body-content __m-b-0">
    <div class="container">
        <div class="row">
            <div class="col-sm-8 col-sm-offset-2 col-md-5 col-md-offset-0 text-center col-md-push-7">
                <span class="process-icon"><svg class="mk-svg-icon" data-name="mk-moon-camera-8" data-cacheid="icon-5bfe75f66d9ec" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 403.729 403.729">
                <path d="M168.417,117.173c3.337,0,6.339-2.291,7.226-5.505c1.79-6.487-5.571-11.893-11.232-8.322
		c-2.766,1.745-4.082,5.178-3.216,8.332C162.076,114.889,165.086,117.173,168.417,117.173z"/>
	<path d="M229.262,150.059c-2.372,2.095-3.166,5.563-1.956,8.484c1.149,2.772,3.914,4.63,6.92,4.63c3.756,0,6.966-2.863,7.439-6.578
		C242.521,149.883,234.304,145.606,229.262,150.059z"/>
	<path d="M264.227,163.173c3.411,0,6.431-2.38,7.276-5.672c1.689-6.575-5.96-11.795-11.502-8.018
		c-2.666,1.817-3.898,5.278-2.947,8.371C258.015,160.974,260.949,163.173,264.227,163.173z"/>
	<path d="M382.798,64.648H187.829c-16.871-29.421-48.596-49.284-84.875-49.284c-53.908,0-97.766,43.857-97.766,97.766
		c0,40.419,24.655,75.187,59.715,90.056C26.914,218.35,0,255.514,0,298.85v82.015c0,4.142,3.357,7.5,7.5,7.5h190.908
		c4.143,0,7.5-3.358,7.5-7.5v-75.497h156.82c22.607,0,41-18.388,41-40.99v-178.8C403.729,74.037,394.339,64.648,382.798,64.648z
		 M246.119,79.648c-0.007,0.798,0.108,1.602,0.367,2.38c1.014,3.041,3.911,5.145,7.121,5.145c3.341,0,6.32-2.291,7.218-5.496
		c0.195-0.694,0.264-1.371,0.262-2.03h121.711c3.271,0,5.931,2.66,5.931,5.93v165.31H194.031c-2.003-3.789-4.235-7.438-6.679-10.93
		h182.946c4.143,0,7.5-3.358,7.5-7.5V98.078c0-4.142-3.357-7.5-7.5-7.5H198.09c-0.884-3.729-1.978-7.378-3.277-10.93H246.119z
		 M304.963,290.368h-99.406c-0.696-8.49-2.421-16.693-5.059-24.48h135.416C332.539,279.874,319.955,290.305,304.963,290.368z
		 M200.43,105.578h162.367v119.38h-63.702c-2.247-7.423-6.276-14.164-11.86-19.749c-2.554-2.559-5.356-4.778-8.341-6.661
		c12.106-8.158,20.086-21.992,20.086-37.657c0-25.021-20.356-45.377-45.377-45.377c-25.021,0-45.378,20.356-45.378,45.377
		c0,15.643,7.957,29.462,20.035,37.624c-9.519,5.965-16.791,15.241-20.162,26.442h-33.531c-9.585-9.292-20.963-16.743-33.562-21.772
		c35.06-14.87,59.715-49.638,59.715-90.056C200.72,110.589,200.622,108.07,200.43,105.578z M253.583,206.269
		c0.007,0,0.014,0,0.021,0c0.007,0,0.013,0,0.02,0c8.694,0.005,16.86,3.392,23.002,9.543c2.694,2.694,4.84,5.787,6.423,9.146
		h-58.927C229.34,213.756,240.624,206.277,253.583,206.269z M223.226,160.892c0-16.75,13.628-30.377,30.378-30.377
		s30.377,13.627,30.377,30.377c0,16.743-13.616,30.366-30.357,30.377c-0.007,0-0.013,0-0.02,0c-0.007,0-0.014,0-0.021,0
		C236.843,191.258,223.226,177.635,223.226,160.892z M20.188,113.129c0-45.637,37.129-82.766,82.766-82.766
		s82.766,37.128,82.766,82.766s-37.129,82.766-82.766,82.766S20.188,158.767,20.188,113.129z M15,298.85
		c0-48.499,39.456-87.955,87.954-87.955s87.954,39.456,87.954,87.955v30.328h-32.99v-35.5c0-4.142-3.357-7.5-7.5-7.5
		s-7.5,3.358-7.5,7.5v79.687H15V298.85z M157.918,373.365v-29.187h32.99v29.187H157.918z M362.729,290.368h-23.525
		c6.198-6.658,10.49-15.107,12.001-24.48h37.481C387.9,279.519,376.559,290.368,362.729,290.368z"/></svg></span>
            </div>
            <div class="col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-0 col-lg-5 col-md-pull-5  m-b-120">
                <h3>Va intalniti ONLINE</h3>	
                <div class="clearboth"></div>
                <p>Ai acelasi grad de confidentialitate ca in offline iar platforma a fost construita sa respecte protocolul HIPAA</p>
            </div>					
        </div>
    </div>
</section>
<section class="text-with-image text-with-faq body-content pb-120" style="margin-bottom:70px;">
    <div class="container">
        <div class="row">
            <div class="col-sm-8 col-sm-offset-2 col-md-5 col-md-offset-0 text-center col-md-push-7"></div>
            <div class="col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-0 col-lg-5 col-md-pull-5  m-b-120">
                <a href="/Account/Register" class="btn btn-primary btn-lg">Înscriere-te acum.</a>
            </div>
        </div>
    </div>
</section>