@{
    ViewBag.Title = "Cea mai mare platforma de neditatii";
}
<meditatii-app>
</meditatii-app>
    <div class="row text-center">
        <h1>Gaseste profesorul cel mai potrivit pentru tine</h1>
        <ul class="__list list-unstyled">
            <li><i><img src="~/img/svg/prof.svg" /></i>Limba romana</li>
            <li><i><img src="~/img/svg/prof.svg" /></i>Matematica</li>
            <li><i><img src="~/img/svg/prof.svg" /></i>Fizica</li>
            <li><i><img src="~/img/svg/prof.svg" /></i>Chimie</li>
            <li><i><img src="~/img/svg/prof.svg" /></i>Limba engleza</li>
            <li><i><img src="~/img/svg/prof.svg" /></i>Limba germana</li>
            <li><i><img src="~/img/svg/prof.svg" /></i>Istorie</li>
            <li><i><img src="~/img/svg/prof.svg" /></i>Informatica</li>
        </ul>
    </div>

    <hr />
    <div class="row">
        <div class="col-md-4">
            <div class="prag text-center">
                <i>
                    <img src="~/img/svg/prof.svg" />
                </i>
                <span class="prag-numar" data-speed="2000" data-stop="120">120</span><span class="prag-numar">+</span>
                <div style="color:;font-size:20px" class="preg-text">Profesori inscrisi</div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="prag text-center">
                <i>
                    <img src="~/img/svg/users.svg" />
                </i>
                <span class="prag-numar" data-speed="2000" data-stop="120">3200</span><span class="prag-numar">+</span>
                <div style="color:;font-size:20px" class="preg-text">Conturi active</div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="prag text-center">
                <i>
                    <img src="~/img/svg/videoconferinta.svg" />
                </i>
                <span class="prag-numar" data-speed="2000" data-stop="120">65200</span><span class="prag-numar">+</span>
                <div style="color:;font-size:20px" class="preg-text">Minute petrecute in meditatii</div>
            </div>
        </div>
    </div>
