@{
    ViewBag.Title = "Platforma online de meditatii";
}
<meditatii-app>
</meditatii-app>
    <hr />

    <div class="row text-center">
        <h1 class="homefindbestteachertitle">Gaseste profesorul cel mai potrivit pentru tine</h1>
        <ul class="__list list-unstyled marginauto">
            <li><a href="/teacher?maincategory=5&category=39&page=1"><i><img src="~/img/svg/prof.svg" /></i>Limba română</a></li>
            <li><a href="/teacher?maincategory=1&category=12&page=1"><i><img src="~/img/svg/prof.svg" /></i>Matematică</a></li>
            <li><a href="/teacher?maincategory=1&category=13&page=1"><i><img src="~/img/svg/prof.svg" /></i>Fizică</a></li>
            <li><a href="/teacher?maincategory=1&category=15&page=1"><i><img src="~/img/svg/prof.svg" /></i>Chimie</a></li>
            <li><a href="/teacher?maincategory=6&category=46&page=1"><i><img src="~/img/svg/prof.svg" /></i>Limba engleză</a></li>
            <li><a href="/teacher?maincategory=6&category=48&page=1"><i><img src="~/img/svg/prof.svg" /></i>Limba germană</a></li>
            <li><a href="/teacher?maincategory=2&category=27&page=1"><i><img src="~/img/svg/prof.svg" /></i>Istorie</a></li>
            <li><a href="/teacher?maincategory=1&category=17&page=1"><i><img src="~/img/svg/prof.svg" /></i>Informatică</a></li>
        </ul>
    </div>

    <div class="row">
        <div class="col-md-4">
            <div class="prag text-center">
                <i>
                    <img src="~/img/svg/prof.svg" />
                </i>
                <span class="prag-numar" data-speed="2000" data-stop="120">@ViewBag.TotalTeacher</span><span class="prag-numar">+</span>
                <div style="color:;font-size:20px" class="preg-text">Profesori înscriși</div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="prag text-center">
                <i>
                    <img src="~/img/svg/users.svg" />
                </i>
                <span class="prag-numar" data-speed="2000" data-stop="120">@ViewBag.TotalUser</span><span class="prag-numar">+</span>
                <div style="color:;font-size:20px" class="preg-text">Conturi active</div>
            </div>
        </div>

        <div class="col-md-4">
            <div class="prag text-center">
                <i>
                    <img src="~/img/svg/videoconferinta.svg" />
                </i>
                <span class="prag-numar" data-speed="2000" data-stop="120">@ViewBag.TotalMeetingMinutes</span><span class="prag-numar">+</span>
                <div style="color:;font-size:20px" class="preg-text">Minute petrecute în meditații</div>
            </div>
        </div>
    </div>
    <div class="row text-center">
     
        <div class="col-md-12">
            <ins class="adsbygoogle"
     style="display:block"
     data-ad-client="ca-pub-5390319007504241"
     data-ad-slot="5486709324"
     data-ad-format="auto"
     data-full-width-responsive="true"></ins>
<script>
     (adsbygoogle = window.adsbygoogle || []).push({});
</script>
        </div>
        
    </div>

    <hr />