@{
    ViewBag.Title = "Politica de confidentialitate - Anunturi meditatii";
}

<meditatii-app>
</meditatii-app>
<h1>Politica de confidentialitate</h1>
    <div class="row text-center">
     
        <div class="col-md-12">
            <ins class="adsbygoogle"
     style="display:block"
     data-ad-client="ca-pub-5390319007504241"
     data-ad-slot="5486709324"
     data-ad-format="auto"
     data-full-width-responsive="true"></ins>
<script>
     (adsbygoogle = window.adsbygoogle || []).push({});
</script>
        </div>
        
    </div>

    <hr />
<div data-v-2789feb7="" class="legal-body">
    <h1>1. SCOP</h1>
    <p>Prezentul document stabileste regulile in baza carora ne transmiteti datele Dvs. personale dar si situatiile in care noi colectam aceste date cu acceptul Dvs., precum si modul in care toate aceste date sunt prelucrate sau utilizate de catre noi.</p>
    <p>Daca aveti intrebari legate de aceasta Politica de confidentialitate, inclusiv orice solicitare de a va exercita drepturile legale, ne puteti contacta oricand:</p>
    <ul>
        <li>Prin email la <a href="mailto:hello@emeditatii.ro" target="_self">hello@emeditatii.ro</a>;</li>
    </ul>
    <h2>Reclamatii</h2>
    <p>Aveti dreptul sa depuneti o plangere / reclamatie in orice moment la Autoritatea Nationala de Supraveghere a Prelucrarii Datelor cu Caracter Personal (<a href="http://www.dataprotection.ro">http://www.dataprotection.ro</a>), autoritatea de supraveghere din Romania pentru probleme de protectie a datelor personale.</p>
    <p>Cu toate acestea, va incurajam sa ne contactati si direct pentru a va putea raspunde la orice nelamurire sau cerere cu privire la datele Dvs. cu caracter personal.</p>
    <h2>Angajament</h2>
    <p>Intrucat transparenta este una din valorile noastre si pentru a nu exista nicio neintelegere cu privire la modul in care gestionam datele Dvs. cu caracter personal, va asiguram ca:</p>
    <ul>
        <li>Va vom pastra intotdeauna datele private si in siguranta;</li>
        <li>Nu vom vinde niciodata datele Dvs.;</li>
        <li>Va punem la dispozitie modalitati prin care puteti sa gestionati si sa revizuiti, in orice moment, optiunile Dvs. cu privire la marketing.</li>
    </ul>
    <h1>2. COOKIE-URI</h1>
    <p>Utilizam cookie-uri pentru a putea distinge utilizatorii care folosesc Site-ul, Aplicatia sau Platforma . Acest lucru ne ajuta sa putem oferi o experienta cat mai buna atunci cand utilizati Aplicatia sau navigati pe Site-ul sau Platforma noastra.</p>
    <p>Cookie-urile, in sine, nu solicita date cu caracter personal pentru a putea fi utilizate.</p>
    <p>Astfel, prin folosirea cookie-urilor, nu se va identifica personal sau individual utilizatorii care au navigat pe paginile site-ului si/sau ale platformei eMeditatii.ro.</p>

    <h1>3. DATE PERSONALE UTILIZATE</h1>
    <p>Inregistram in vederea procesarii urmatoarele tipuri de date:</p>
    <h2>a. Informatii Furnizate</h2>
    <p>Reprezinta datele pe care Dvs. ni le furnizati direct prin completarea paginilor / formularelor disponibile in cadrul Serviciilor eMeditatii.ro. De asemenea, tot in aceasta categorie intra si informatiile pe care ni le furnizati in momentul in care corespondati cu noi, prin email sau cu ajutorul chat-ului disponibil in cadrul Aplicatiei, Site-ului si / sau Platformei.</p>
    <p>Aceste informatii sunt transmise atunci cand:</p>
    <ul>
        <li>Va inregistrati in cadrul Site-ului, Aplicatiei sau Platformei;</li>
        <li>Descarcati sau inregistrati Aplicatia eMeditatii.ro;</li>
        <li>Va abonati la oricare din serviciile noastre listate in cadrul Site-ului, Aplicatiei sau Platformei;</li>
        <li>Initiati orice tranzactie in cadrul Aplicatiei sau Platformei (achizitionarea serviciilor listate de Meditator, achizitionarea de produse si servicii listate in eMeditatii.ro );</li>
        <li>Participati la discutii, forumuri de discutii si / sau alte functionalitati similare de social media, in cadrul Site-ului, Aplicatiei, Platformei sau a Serviciilor disponibile prin intermendiul / in cadrul acestora;</li>
        <li>Participati la o competitie, promotie sau chestionar disponibil in Site, Aplicatiei, Platforma sau Serviciu;</li>
        <li>Raportati o problema referitoare la Site, Aplicatie, Serviciu sau Plarforma.</li>
    </ul>
    <p>Informatiile Trimise pot include numele si prenumele Dvs., adresa, data de nastere, adresa de email, numarul de telefon, numele de utilizator (username), parola si alte informatii necesare la inregistrare, informatii financiare, detaliile contului Dvs. bancar, codul IBAN, detaliile cartilor Dvs. de debit si / sau credit, inclusiv numarul cardului, datele de expirare ale cardului si CVC, documentele de identificare si numerele acestora, copii ale documentelor Dvs. de identificare (carte de identitate, pasaport, permis de conducere, diplome de studii, acreditari date de organismele si asociatiile profesionale unde activati, etc), descrierea Dvs. personala, fotografia Dvs. dar si alte informatii pe care ni le furnizati pentru a dovedi eligibilitatea de a utiliza serviciile noastre.</p>
    <h2>b. Informatii Colectate</h2>
    <p>Reprezinta datele pe care le colectam depre Dvs. si dispozitivul Dvs.</p>
    <p>De fiecare data cand vizitati / utilizati Serviciile eMeditatii.ro, vom colecta automat urmatoarele informatii:</p>
    <ul>
        <li>Informatii tehnice, inclusiv adresa IP (protocol internet) folosita pentru conectarea echipamentului (computer, telefon, tableta sau orice dispozitiv asemanator) la internet, informatiile Dvs. de conecatare, tipul si versiunea browser-ului / navigatorului web, setarile fusului orar, tipurile plugin-urilor&nbsp;browser-ului si versiunile acestora, sistemul de operare si platforma, informatii despre tipul de dispozitiv mobil pe care il utilizati, un identificator unic al dispozitivului (de exemplu: numarul IMEI al dispozitivului Dvs, adresa MAC a placii de retea, sau numarul de telefon utilizat de dispozitiv), informatii despre reteaua mobila, sistemul de operare al echipamentului mobil si versiunea acestuia, tipul de browser / navigator web mobil pe care il utilizati, setarea fusului orar;</li>
        <li>Informatii cu privire la vizita Dvs, inclusiv adresele URL&nbsp;(Uniform Resource Locator) utilizate pentru accesarea Serviciilor eMeditatii.ro, navigarea in cadrul acestor Servicii dar si la accesarea de resurse externe din Serviciilor eMeditatii.ro, precum si data si ora la care aceste adrese URL au fost accesate. De asemenea, sunt incluse aici serviciile pe care le-ati vizualizat sau cautat, timpii de raspuns ai paginilor utilizate, erorile pe care le-ati intampinat, durata vizitelor pe fiecare pagina, modul in care ati interactionat cu fiecare pagina individual (cum ar fi derularea / scroll-ul, clicurile, miscarile mouse-ului) dar si interactiunea si modul in care navigati intre pagini, metode utilizate pentru navigarea in afara Serviciilor si paginilor acestora;</li>
        <li>Informatii cu privire la evenimentele pe care Dvs. le realizati in cadrul Sedintelor Online dar si in cadrul altor servicii pe care le achizitionati sau le consumati prin intermediul Platformei eMeditatii.ro. Aceste informatii includ data si ora la care ati realizat initierea rezervarii, parcurgerea acesteia, incercarile de plata a serviciilor si plata efectiva a acestora, incercarile de accesare a sedintelor si accesarea efectiva a acestora, participarea la sedinte, parasirea sedintelor, deconectarea si reconectarea in cadrul sedintelor, finalizarea acestora dar si a altor evenimente similare si in sensul celor enumerate anterior. De asemenea, evenimentele din cadrul sedintelor presupun si data si ora la care ati salvat informatii ce au legatura cu Sedintele (Notite Private, Notite Comune, etc), ati transferat fisiere in timpul Sedintelor dar si fisierele efective, ati transmis mesaje in cadrul Sedintelor utilizand serviciul de chat disponibil, etc. Informatiile efective transmise sunt criptate si pot fi accesate doar de catre Dvs. si partenerul / partenerii Dvs din cadrul respectivelor Sedinte. De asemenea, comunicatiile video si audio se realizeaza direct intre echipamentelor celor care participa la Sedinte si nu sunt salvate sub nicio forma de catre eMeditatii.ro;</li>
        <li>
            <span class="wysiwyg-color-black">Informatii cu privire la Tranzactii - data, ora, suma sedintei rezervate, moneda utilizata, datele utilizate pentru plata serviciilor, adresa IP a celui care realizeaza tranzactia, numele si informatiile de inregistrare ale platitorului, informatii despre dispozitivul utilizat pentru a facilita plata</span><span class="wysiwyg-color-red90 wysiwyg-color-black">&nbsp;</span>
        </li>
        <li><span class="wysiwyg-color-black">Informatii cu privire la Mesajele transmise in cadrul platformei - data si ora la care acestea au fost transmise, detaliile cu privire la destinatarul acestora dar si informatii cu privire la fisierele atasate (fotografii, fisiere video dar si orice alt tip de continut digital) in cadrul conversatiilor. Textul efectiv al mesajelor este criptat si este salvat sub forma unui sir de caractere, putand fi vizualizat doar de Expeditor si Destinatar si doar in cadrul Aplicatiei si / sau platformei eMeditatii.ro.</span></li>
        <li><span class="wysiwyg-color-black">Informatii stocate pe dispozitivul Dvs, care includ, in cazul in care Dvs. permiteti explicit, accesul Aplicatiei eMeditatii.ro la Contactele din Agenda Dvs., informatii de conectare, fotografii si / sau fisiere video dar si orice alt continut digital.</span></li>
        <li><span class="wysiwyg-color-black">Detalii cu privire la utilizarea de catre Dvs. a Serviciilor eMeditatii.ro sau a vizitelor Dvs. pe site-ul nostru</span></li>
    </ul>
    <h2>d. Informatii care ne ajuta sa furnizam serviciile catre Dvs.</h2>
    <p>Lucram indeaproape cu entitati terte pentru a ne ajuta sa livram Serviciile nostre catre Dvs. Aceste terte parti sunt parteneri de afaceri (cum ar fi companii externe care promoveaza sau vand serviciile eMeditatii.ro catre alte companii sau Companiile care cumpara / negociaza serviciile eMeditatii.ro pentru a le oferi angajatilor proprii, etc), subcontractanti in servicii tehnice si de plata, companii din domeniul publicitatii, furnizori de servicii de analiza, furnizori de servicii de cautare, agentii pentru prevenirea fraudelor, agentii si organisme guvernamentale.</p>
    <p>Informatiile pe care le putem colecta despre Dvs. de la astfel de entitati terte pot include informatii care ne ajuta sa verificam:</p>
    <ul>
        <li>Identitatea Dvs.</li>
        <li>Veridicitatea informatiilor transmise;</li>
        <li>Eligibilitatea de a lista serviciile in cadrul platformei eMeditatii.ro;</li>
        <li>Eligibilitatea de a utiliza serviciile eMeditatii.ro (de exemplu, Companiile care ofera serviciile eMeditatii.ro in conditii speciale angajatilor, ne pot furniza, periodic, informatii prin care se pot identifica Angajatii existenti dar si cei care au parasit compania)</li>
    </ul>
    <h2>e. Informatii la care ne oferiti accesul</h2>
    <p>In cazul in care ne permiteti accesul in mod explicit, vom colecta lista de prieteni de pe Faceook dar si alte informatii similare de la alte entitati terte cum ar fi Google, Twitter, Instagram. Aplicatia va colecta periodic aceste informatii pentru a fi de actualitate.&nbsp;</p>
    <p><span class="wysiwyg-color-black">O data acordat accesul la respectivele informatii, va puteti retrage consimtamantul in orice moment, dezactivand permisiunile respective pentru aplicatia eMeditatii.ro in setarile dispozitivului Dvs.&nbsp;</span></p>
    <h1>4. UTILIZAREA DATELOR</h1>
    <h2>a. Utilizarea informatiilor</h2>
    <p>In cele ce urmeaza, vom prezenta detaliile despre modul in care sunt utilizate tipurile de date si in ce scopuri.</p>
    <p>Astfel, utilizam informatiile detinute despre Dvs. in urmatoarele moduri:</p>
    <h3>i. Informatii Furnizate</h3>
    <p>Folosim aceste informatii pentru:</p>
    <ul>
        <li>A ne indeplini obligatiile care decurg din interactiunile Dvs. cu Platforma eMeditatii.ro, cum ar fi, de exemplu: Sedinte Online,  Servicii prin Chat, Tranzactii, Plati si pentru a va furniza toate informatiile, serviciile si produsele pe care ni le solicitati;</li>
        <li>A va oferi informatiile despre alte bunuri si servicii, listate sau nu pe Platforma eMeditatii.ro, care pot fi similare cu cele pe care le-ati achizitionat sau le-ati solicitat in cadrul platformei;</li>
        <li>A va oferi direct, sau a permite unor entitati terte sa va ofere, informatii despre produse si servicii despre care noi consideram ca va intereseaza sau v-ar putea interesa;</li>
        <li>A va verifica identitatea in scopul protectiei impotriva fraudei, in vederea conformitatii cu legile statului/tarii/teritoriului in care va desfasurati activitatea dar si a legilor privind criminalitatea financiara dar si pentru a confirma eligibilitatea de a utiliza serviciile si produsele noastre;</li>
        <li>A facilita interactiuni intre utilizatori prin intermediul serviciilor noastre si pentru a va oferi posibilitatea de a distribui / recomanda si contactelor Dvs. utilizarea serviciile eMeditatii.ro;</li>
        <li>A va notifica si informa despre modificarile aduse serviciilor noastre;</li>
        <li>A ne asigura ca, astfel, continutul prezentat pe site-ul, aplicatia si/sau platforma eMeditatii.ro este prezentat intr-un mod cat mai eficient pentru Dvs. si dispozitivul Dvs.</li>
    </ul>
    <h3>ii. Informatii colectate</h3>
    <p>Folosim aceste informatii pentru:</p>
    <ul>
        <li>Administrarea Aplicatiei si Platformei eMeditatii.ro, inclusiv pentru audit, depanare, analiza datelor, testare, cercetare, statistica;</li>
        <li>Transparenta si auditul tuturor interactiunilor Dvs. in ceea ce priveste evaluarea, rezervarea, achitarea / plata si consumul produselor si serviciilor disponibile pe platforma eMeditatii.ro</li>
        <li>A imbunatatii site-ul, aplicatia si Platforma eMeditatii.ro, pentru a ne asigura ca informatiile si continutul sunt prezentate in cel mai eficient mod pentru Dvs. si dispozitivul pe care il utilizati;</li>
        <li>A va putea acorda dreptul de a participa la sectiunile interactive ale site-ului, Aplicatiei sau Platformei eMeditatii.ro, atunci cand alegeti sa faceti acest lucru;</li>
        <li>A pastra site-ul, Aplicatia si Platforma eMeditatii.ro securizate si in siguranta;</li>
        <li>A masura si intelege eficacitatea publicitatii pe care o putem oferi atat utilizatorilor eMeditatii.ro, vizitatorilor site-ului dar si altora si pentru a va putea oferi publicitate relevanta.</li>
        <li>A face sugestii si recomandari atat utilizatorilor eMeditatii.ro, vizitatorilor site-ului dar si altora cu privire la bunurile si serviciile care ar putea sa va intereseze pe Dvs. sau pe acestia;</li>
        <li>A verifica identitatea in scopul protectiei impotriva fraudei, in vederea conformitatii cu legile statului/tarii/teritoriului in care va desfasurati activitatea dar si a legilor privind criminalitatea financiara dar si pentru a confirma eligibilitatea de a utiliza serviciile si produsele noastre;</li>
    </ul>
    <h3>iii. Informatii externe / terte</h3>
    <p>Vom agrega informatiile externe / terte cu informatiile pe care Dvs. ni le furnizati dar si cu informatiile colectate despre Dvs., urmand sa utilizam aceste informatii pentru:</p>
    <ul>
        <li>A ne ajuta sa intelegem mai bine comportamentul Dvs., pentru a putea lua decizii cu privire la modul in care gestionam contul Dvs. eMeditatii.ro;</li>
        <li>A analiza si procesa cererile cu privire la listarea, rezervarea, achizitionara si utilizarea bunurilor si serviciilor existente in cadrul Platformei eMeditatii.ro, pentru a putea lua decizii cu privire la acceptarea sau respingerea unor astfel de cereri in viitor.</li>
    </ul>
    <h2>b. Agregarea datelor personale</h2>
    <p>In vederea utilizarii datelor, putem asocia / corela diversele categorii de informatii, datele astfel agregate considerandu-se date personale, urmand a fi tratate in concordanta cu prezenta Politica de confidentialitate.</p>
    <p>De exemplu, putem apela la companii externe / terte, in ceea ce priveste:</p>
    <h3>i. Inregistrarea ca Meditator eMeditatii.ro si desfasurarea in mod curent a acestei activitati</h3>
    <p>Pentru a putea identifica daca sunteti eligibil pentru a desfasura activitatile in cadrul Platformei, companii externe pot efectua cautari cu privire la:</p>
    <ul>
        <li>Formarea Dvs. profesionala;</li>
        <li>Acreditarile obtinute in vedearea exercitarii in conditii legale a activitatii Dvs. profesionale;</li>
        <li>Situatia financiara a entitatii juridice in baza careia prestati in mod legal activitatea;</li>
        <li>Informatii cu privire la fraude, tentative de fraude si orice alte fapte in legatura cu criminalitatea financiara;</li>
        <li>Informatii cu privire la existenta creditelor financiare atat ale Dvs. cat si a persoanei juridice in cauza</li>
    </ul>
    <h3>ii. Utilizarea si consumarea serviciilor listate in cadrul eMeditatii.ro</h3>
    <p>Pentru a va putea oferi servicii cat mai personalizate in cadrul Platformei eMeditatii.ro, companii externe pot efectua cautari cu privire la:</p>
    <ul>
        <li>Tipurile de produse si servicii pe care le utilizati in mod curent;</li>
        <li>Activitatea Dvs. online si comportamenul in ceea ce priveste achizitia de produse si servicii;</li>
        <li>Starea Dvs. de sanatate, istoricul medical si al interventiilor medicale;</li>
    </ul>
    <p>In cazul in care decidem sa angajam Agentii de publicitate care sa promoveze produsele si serviciile eMeditatii.ro, respectivele Agentii dar si partenerii acestora ar putea solicita date personale anonime pentru a va putea oferi astfel informatii si publicitate personalizata.&nbsp;&nbsp;</p>
    <p>Nu vom dezvalui niciodata informatii care ar putea determina identficarea de persoane fizice dar le putem furniza informatii agregate si anonimizate despre utilizatorii nostri.</p>
    <p>De asemenea, putem utiliza astfel de informatii agregate si anonimizate pentru a ajuta partenerii nostri sa ofere campanii de publicitate personalizate si specifice, relevante pentru o anumita categorie a utilizatorilor nostri.&nbsp;</p>
    <p>Mai mult, putem oferi partenerilor nostri, in unele cazuri, astfel de informatii agregate si depersonalizate in scopul afisarii de catre acestia a propriilor campanii publicitare pentru publicul lor tinta.</p>
    <h2>c. Scopul utilizarii datelor personale</h2>
    <p>In cele ce urmeaza, puteti gasi o descriere a tuturor modurilor in care utilizam datele Dvs. personale, asa cum au fost mentionate mai sus, si care sunt temeiurile legale in baza carora procedam in acest mod. Mai mult, acolo unde este cazul, vom preciza si urmatoarele informatii:</p>
    <ul>
        <li>Interesul legitim</li>
    </ul>
    <p>Reprezinta orice conduita necesara pentru derularea, exercitarea si managementul activitatilor companiei eMeditatii.ro in vederea realizarii scopului, misiunii si a viziunii pentru care a fost creata platforma eMeditatii.ro. Interes legitim semnifica si orice activitate care ne permite si ne ajuta sa oferim utilizatorilor nostri serviciile eMeditatii.ro in conditii de maxima securitate.</p>
    <p>Va asiguram ca analizam intotdeauna, in primul rand, drepturile Dvs. cu privire la datele personale si luam in considerare intotdeauna implicatiile pe care le-ar putea avea utilizarea acestor date personale asupra Dvs., inainte de a procesa orice tip de astfel de date personale in vederea realizarii scopului nostru legitim.</p>
    <p>Mai mult, chiar si atunci cand anumite activitati ne-ar ajuta sa ne realizam scopul nostru legitim, nu vom folosi niciodata datele Dvs. personale in activitati care ar putea sa aiba un impact asupra Dvs., atata timp cat nu vom avea consimtamantul Dvs. sau legislatia in vigoare ne va cere sau nu ne va impune.</p>
    <ul>
        <li>Obligatii contractuale</li>
    </ul>
    <p>Prelucrarea datelor Dvs. se realizeaza in scopul executarii relatiilor contractuale in care sunteti parte sau pentru a lua masuri, la cererea Dvs., inainte de a incheia / a decide sa luati parte la un astfel de contract.</p>
    <ul>
        <li>Obligatii legale</li>
    </ul>
    <p>Datele Dvs. personale sunt utilizate si procesate pentru respectarea si in limitele legislatiei in vigoare. Aceste obligatii legale se aplica, de exemplu: datelor obligatorii care apar pe facturile fiscale, obligativitatea pastrarii facturilor fiscale pentru un anumit timp, etc.</p>
    <p>Scopurile pentru care utilizam datele Dvs. personale sunt:</p>
    <h3>i. Furnizarea de servicii</h3>
    <p>Motiv:</p>
    <ul>
        <li>Furnizarea tuturor serviciile si produsele pe care ni le solicitati sau pe care le-ati rezervat, achitat / platit si / sau consumat;</li>
        <li>Indeplinirea obligatiilor care decurg din interactiunile Dvs. cu Platforma eMeditatii.ro, cum ar fi, de exemplu: Sedinte Online, Servicii prin Chat, Tranzactii, Plati si pentru a va furniza toate informatiile, serviciile si produsele pe care ni le solicitati;</li>
        <li>Furnizarea informatiilor despre alte bunuri si servicii, listate sau nu pe platforma eMeditatii.ro, care pot fi similare cu cele pe care le-ati achizitionat sau le-ati solicitat in cadrul platformei;</li>
    </ul>
    <h3>ii. Transparenta &amp; Lupta impotriva fraudei</h3>
    <p>Motiv:</p>
    <ul>
        <li>Auditul tuturor interactiunilor Dvs. in ceea ce priveste evaluarea, rezervarea, achitarea / plata si consumul produselor si serviciilor disponibile pe platforma eMeditatii.ro;</li>
        <li>Verificarea identitatii in scopul protectiei impotriva fraudei, in vederea conformitatii cu legile statului/tarii/teritoriului in care va desfasurati activitatea dar si a legilor privind criminalitatea financiara dar si pentru a confirma eligibilitatea de a utiliza serviciile si produsele noastre;</li>
        <li>A ne ajuta sa intelegem mai bine comportamentul Dvs., pentru a putea lua decizii cu privire la modul in care gestionam contul Dvs. eMeditatii.ro;</li>
    </ul>
    <p>Tip de informatii:</p>
    <ul>
        <li>Informatii furnizate;</li>
        <li>Informatii colectate;</li>
        <li>Informatii terte / externe.</li>
    </ul>
    <p>Scopul procesarii:</p>
    <ul>
        <li>Interesul nostru legitim.</li>
    </ul>
    <p>Interes legitim:</p>
    <ul>
        <li>Imbunatatirea continua a produselor si serviciilor listate in cadrul platformei;</li>
        <li>Furnizarea de servicii si produse personalizate si potrivite nevoilor utilizatorilor;</li>
        <li>Definirea tipurilor de clienti pentru produse si / sau servicii noi;</li>
        <li>Eficienta indeplinirii obligatiilor legale si contractuale.</li>
    </ul>
    <h3>iv. Promovarea si furnizarea de noi produse si servicii</h3>
    <p>Motiv:</p>
    <ul>
        <li>Oferirea informatiilor despre alte bunuri si servicii, listate sau nu pe platforma eMeditatii.ro, care pot fi similare cu cele pe care le-ati achizitionat sau le-ati solicitat in cadrul platformei;</li>
        <li>Furnizarea in mod direct, sau prin intermediul unor entitati terte, informatii despre produse si servicii despre care noi consideram ca va intereseaza sau v-ar putea interesa;</li>
        <li>Masurarea si intelegerea eficacitatea publicitatii pe care o putem oferi atat utilizatorilor eMeditatii.ro, vizitatorilor site-ului dar si altora si pentru a va putea oferi publicitate relevanta.</li>
        <li>Crearea si promovarea de sugestii si recomandari atat utilizatorilor eMeditatii.ro, vizitatorilor site-ului dar si altora cu privire la bunurile si serviciile care ar putea sa va intereseze pe Dvs. sau pe acestia;</li>
        <li>Analiza si procesarea cererilor cu privire la listarea, rezervarea, achizitionara si utilizarea bunurilor si serviciilor existente in cadrul Platformei eMeditatii.ro, pentru a putea lua decizii cu privire la acceptarea sau respingerea unor astfel de cereri in viitor.</li>
    </ul>

    <p>Retineti ca putem procesa datele Dvs. personale in baza a doua sau mai multor temeiuri legale in acelasi timp, in funcție de scopul specific pentru care folosim datele Dvs.</p>
    <p>Ne puteti contacta oricand la <a href="mailto:hello@emeditatii.ro" target="_self">hello@emeditatii.ro</a>&nbsp;daca aveti nevoie de detalii suplimentare cu privire la temeiul juridic specific pe care il luam in considerare cand procesam datele Dvs. personale, atunci cand datele respective se incadreaza in unul sau mai multe temeiuri legale.</p>
    <h1>5. MARKETING</h1>
    <p>Intrucat transparenta este una din valorile la care tinem foarte mult, in cele ce urmeaza vom clarifica modul in care utilizam datele Dvs. in scopuri de marketing si, de asemenea, cum puteti sa renuntati, oricand doriti, la primirea de a astfel de mesaje de marketing.</p>
    <p>Ne-am propus sa va oferim cat mai multe optiuni privind utilizarea anumitor date cu caracter personal, mai ales in ceea ce priveste marketing-ul si publicitatea. Astfel, in pagina Profilul Meu, am creat o sectiune speciala denumita "Acorduri Juridice" unde puteti vedea si lua decizii cu privire la utilizarea dateleor Dvs. personale in legatura cu emailurile de marketing, notificarile Dvs, etc.</p>
    <h2>Marketing oferit eMeditatii.ro</h2>
    <p>Putem folosi datele Dvs. personale (Informatiile Furnizate, Informatii cu privire la locatie sau Informatii despre sau in legatura cu Sesiunile si Tranzactiile Dvs.) pentru a ne crea o imagine cu privire la ceea ce credem noi ca va doriti, de care aveti nevoie sau ce produse si / sau servicii ar fi de interes pentru Dvs. Doar asa putem sti ce produse, servicii sau oferte pot fi relevante pentru Dvs.</p>
    <p>Veti primi din partea noastra mesaje si comunicari de marketing doar daca:</p>
    <ul>
        <li>V-ati creat un cont de utilizator eMeditatii.ro si / sau daca folositi serviciile listate in cadrul platformei eMeditatii.ro, si</li>
        <li>Nu ati renuntat la primirea de astfel de notificari de marketing</li>
    </ul>
    <h2>Marketing oferit de terti</h2>
    <p>In cazul in care dorim sa apelam la serviciile de marketing si publicitate oferite de entitati terte / din afara eMeditatii.ro, vom obtine intotdeauna consimtamantul Dvs. expres inainte de a distribui datele Dvs. personale.</p>
    <h2>Renuntarea la mesajele de marketing</h2>
    <p>Puteti utiliza oricand optiunile disponibile in sectiunea Profilul Meu &gt; Acorduri Juridice si/sau Profilul Meu &gt; Setari pentru a decide sa nu mai primiti informatii si mesaje de marketing.&nbsp;</p>
    <h1>6. DEZVALUIREA DATELOR</h1>
    <p>Vom pune la dispozitie, direct sau indirect, explicit sau anonimizat, datele Dvs. personale atat catre alti utilizatori ai platformei eMeditatii.ro dar si catre anumite companii / entitati terte, care utilizeaza aceste date in scopul oferiri de diverse servicii catre eMeditatii.ro, dar doar pentru realizarea scopului legitim al platformei eMeditatii.ro si in limitele legale.</p>
    <p>Datele personale sunt utilizate de companiile terte in conditii de deplina siguranta si confidentialitate, in conditii contractuale stricte si in concordanta cu legile protectiei datelor cu caracter personal.</p>
    <h2>a. Catre alti utilizatori / beneficiari ai platformei eMeditatii.ro</h2>
    <p>Platforma eMeditatii.ro pune foarte mare accent pe pastrarea confidentialitatii datelor utilizatorilor atat in interactiunea dintre acestia cat si in relatia cu entitati terte.</p>
    <p>De aceea, in procesul de design si proiectare al platformei am avut in vedere si vom tine cont intotdeauna de confidentialitatea datelor personale.</p>
    <p>Acesta este motivul pentru care in interactiunile dintre utilizatorii eMeditatii.ro (mesaje scrise, sedinte video, servicii de tip chat, etc) dar si fata de Companiile care ofera acces angajatilor la serviciile eMeditatii.ro, in conditii speciale, sunt puse la dispozitie doar datele personale relevante pentru scopul respectiv, cu respectarea atat a legislatiei in vigoare cat si a principiilor si valorilor eMeditatii.ro.</p>
    <p>Cu precadere, datele pe care utilizatorii le pot vedea despre alti utilizatori cu care interactioneaza in cadrul platformei eMeditatii.ro, sunt "numele" si "prenumele" setate de fiecare in cadrul sectiunii "Profilul Meu". De asemenea, atunci cand un utilizator achizitioneaza un produs sau serviciu listat in cadrul platformei eMeditatii.ro, datele din sectiunea Profilul Meu &gt; Date de facturare vor aparea pe facturile emise automat de platforma eMeditatii.ro in momentul achizitiei.</p>
    <p>Vom detalia in cele ce urmeaza, pentru fiecare caz in parte, care sunt datele la care utilizatorii eMeditatii.ro au acces in momentul in care interactioneaza cu alti utilizatori eMeditatii.ro.</p>
    <h3>i. Datele Clientilor catre Meditatori</h3>
    <p>In momentul in care un utilizator Client interactioneaza cu un utilizator Meditator, Meditatorul poate avea acces la urmatoarele date:</p>
    <ul>
        <li>Adresa de email trunchiata / doar o partea a respectivei adrese de email - in momentul in care un utilizator isi creaza un cont eMeditatii.ro, acesta nu este obligat sa isi introduca numele si prenumele in cadrul platformei. Cu toate acestea, cand respectivul utilizator decide sa realizeze anumite actiuni in cadrul platformei (utilizarea diverselor servicii, rezervarea si plata unei sedinte, etc), devine obligatorie introducerea de date suplimentare necesare realizarii respectivului scop. Pana cand utilizatorul decide sa utilizeze astfel de servicii dar interactioneaza totusi cu alti utilizatori in cadrul platformei, adresa sa de email, cea cu care s-a inregistrat pe eMeditatii.ro, este disponibila utilizatorilor respectivi dar intr-un mod trunchiat, si nu in clar. Astfel, se pot vizualiza doar primele cateva caractere din adresa de email, fara a fi dezvaluita in intregime. Acest lucru face imposibila contactarea respectivului utilizator pe adresa sa de email;</li>
        <li>Prenumele si Numele Clientului - pot fi vizualizate de catre Meditator in sectiunile Mesaje, Intalniri, Clienti dar si in cazul Sedintelor si a Facturilor generate automat de platforma eMeditatii.ro o data cu achizitia unui produs sau serviciu;</li>
        <li>Detaliile de facturare - reprezinta informatiile pe care un Client le introduce in sectiunea Profilul Meu &gt; Informatii facturare si care se vor gasi pe facturile emise automat de platforma eMeditatii.ro o data cu achizitia oricarui produs sau serviciu</li>
        <li>Mesajele transmise de Client - Clientul poate schimba mesaje scrise cu Meditatorul oricand din cadrul sectiunii Mesaje sau Chat. De asemenea, in timpul sedintelor online, Clientul si Meditator pot folosi sectiunea de Chat pentru a schimba mesaje scrise.&nbsp;Responsabilitatea asupra continutului mesajelor transmise este in intregime a celui care le-a transmis, fiind obligatoriu sa fie in concordanta cu <a href="https://www.emeditatii.ro/termeni-si-conditii" target="_self">Termenii si Conditiile eMeditatii.ro</a> si cu legislatia in vigoare.</li>
        <li>Fisiere atasate de Client - Clientul poate atasa fisiere in conversatiile pe care le are cu Meditatorul si, de asemenea, poate trimite astfel de documente Meditatorului in timpul Sedintelor Online. Responsabilitatea asupra continutului fisierelor transmise este in intregime a celui care le-a transmis, fiind obligatoriu sa fie in concordanta cu <a href="https://www.emeditatii.ro/termeni-si-conditii" target="_self">Termenii si Conditiile eMeditatii.ro</a> si cu legislatia in vigoare.</li>
        <li>Auditul Sedintelor - din momentul in care un utilizator decide sa inceapa procesul de rezervare al unei Sedinte online , participarea la sedinta respectiva si / sau finalizarea acesteia, o serie de date colectate vor fi accesibile atat pentru Meditator cat si pentru Client. Aceste date sunt: data si ora la care Clientul a realizat anumite interactiuni in legatura cu sedinta respectiva dar si detaliile dispozitivului utilizat pentru a participa la Sedintele online. Detaliile cu privire la dispozitivul utilizat sunt disponibile ca urmare a interesului legitim al platformei eMeditatii.ro, intrucat permit Specialistului, dar si Clientului, sa ofere suport celuilalt participant pentru participarea la intalnirea online si utilizarea functionalitatilor platformei.</li>
        <li>Notitele comune in cadrul Sedintelor - in timpul interactiunilor prin videoconferinta, Meditatorul si Clientul pot decide sa utilizeze functionalitatea "Notite comune", ce permite partilor sa vizualizeze fiecare ce isi noteaza celalalt partener al Sedintei.</li>
    </ul>
    <p>In cazul in care, in timpul sedintelor si altor interactiuni cu Meditatorul, Clientul decide sa transmita informatii cu caracter personal, acesta isi asuma intreaga responsabilitate dar si consecintele faptelor sale. Mai mult, in cazul in care Clientul considera ca i-a impartasit / transmis date personale Meditatorului (in timpul schimbului de mesaje si / sau chat dar si in timpul sedintelor online), acesta se poate adresa direct Meditatorului in legatura cu drepturile sale cu privire la datele sale personale in temeiul legislatiei in vigoare.&nbsp;</p>
    <p>Platforma eMeditatii.ro nu are nicio raspundere cu privire la transmiterea de date personale in timpul schimburilor de mesaje, a interactiunilor din cadrul Sedintelor Online dintre Meditator si Client.</p>
    <p>De asemenea, eMeditatii.ro&nbsp;va asigura ca Meditatorul nu va avea niciodata:</p>
    <ul>
        <li>Access la locatia din care participati la Sedintele Online sau interactionati cu platforma eMeditatii.ro;</li>
        <li>Posibilitatea de a inregistra / stoca, total sau partial, continutul audio si / sau video al sedintelor online,&nbsp;prin functionalitati disponibile in platforma eMeditatii.ro.</li>
    </ul>
    <h3>ii. Datele Clientilor catre alti utilizatori ai platformei</h3>
    <p>Singurele date pe care alti utilizatori ai platformei eMeditatii.ro, autentificati sau nu in cadrul platformei, le pot vizualiza in legatura cu Clientii eMeditatii.ro sunt:</p>
    <ul>
        <li>Evaluari ale serviciilor - La finalul unei Sedinte Online, Clientul are posibilitatea de a Evalua serviciile prestate de Meditator dar si calitatea video si audio (doar pentru Sedintele Online). Doar numarul de stele oferite pentru evaluarea serviciilor prestate de Meditator sunt agregate si afisate sub forma de medie in cadrul Profilului Meditatorului, find insa anonimizate (nu se afiseaza informatii sau date cu caracter personal despre cei care au efectuat respectivele evaluari);</li>
        <li>
            Recenzii - La finalul unei Sedinte Online, Clientul are posibilitatea, pe langa evaluarea servicilui prestat, sa ofere si recenzii (comentari si observatii scrise / testimoniale) in legatura cu respectivele servicii. Respectivele comentarii / observatii scrise vor fi afisate in mod explicit in cadrul Profilului Meditatorului, alaturi de:
            <ul>
                <li>Prenumele si Numele clientului (daca nu sunt disponibile datele in cauza, va fi afisata adresa de email trunchiata a Clientului);</li>
                <li>Numarul de sedinte pe care Clientul le-a avut cu Meditatorul respectiv;</li>
                <li>Evaluarea - numarul de stele oferit de Client in cadrul sedintei pentru care a adaugat recenzia.</li>
            </ul>
        </li>
    </ul>
    <p>Toate aceste informatii sunt publice si disponibile oricarui utilizator eMeditatii.ro ca urmare a interesului legitim al platformei.</p>
    <p>eMeditatii.ro are misiunea de a oferi acces utilizatorilor la servicii de cea mai inalta calitate, evaluarile si recenziile consituind intrumente foarte eficiente prin care Clientii pot informa concret alti utilizatori ai platformei despre calitatea si eficacitatea serviciului consumat. Acesta este si motivul pentru care, pe platforma eMeditatii.ro, toate recenziile si evaluarile sunt reale fiind oferite de Clienti doar dupa ce au consumat serviciul in cauza.</p>
    <h3>iii. Datele Meditatorilor catre alti utilizatori ai platformei</h3>
    <p>Utilizatorii platformei eMeditatii.ro pot avea acces la date ale Meditatorilor atat autentificati in cadrul platformei eMeditatii.ro dar si in mod anonim / neautentificati. Iata mai jos care sunt datele la care au acces utilizatorii eMeditatii.ro cu privire la Meditator:&nbsp;</p>
    <ul>
        <li>
            Profilul Meditatorului - toate datele pe care Meditatorul le introduce in cadrul Profilului sau sunt disponibile tuturor utilizatorilor eMeditatii.ro, indiferent ca sunt autentificati sau nu. Meditatorul poate vedea oricand datele sale publice prin accesarea din Profilul Meu &gt; Personal &gt; Adresa URL a Profilului, acestea fiind:
            <ul>
                <li>Numele si Prenumele Meditatorului;</li>
                <li>Descrierea profilului;</li>
                <li>Recenziile primite de la Clienti si Comentariile personale oferite ca raspuns la respectivele recenzii;</li>
                <li>Video-urile adaugate de Meditator;</li>
                <li>Detalii cu privire la Specialitatile sale;</li>
                <li>Educatie;</li>
                <li>Membru in diverse organizatii sau asociatii profesionale;</li>
                <li>Licente;</li>
                <li>Documente - fisiere pe care Meditatorul le-a incarcat pentru a certifica informatiile din Profilul sau;</li>
                <li>Sedintele listate in cadrul platformei si toate detaliile acestora - vor fi afisate doar sedintele publice (cele pe care toti utilizatorii le pot vedea, indiferent ca sunt autentificati sau nu in cadrul platformei) si sedintele private (pot fi vizualizate doar de Clientul autentificat pentru care au fost adaugate).</li>
            </ul>
        </li>
        <li>Prenumele si Numele Meditatorului - pot fi vizualizate de catre Client in sectiunile Mesaje, Intalniri precum si in cazul Sedintelor si a Facturilor generate automat de platforma eMeditatii.ro o data cu achizitia unui produs sau serviciu;</li>
        <li>Detaliile de facturare - reprezinta informatiile pe care Meditatorul le introduce in sectiunea Profilul Meu &gt; Informatii facturare si care se vor gasi pe facturile emise automat de platforma eMeditatii.ro o data cu achizitia oricarui produs sau serviciu</li>
        <li>Mesajele transmise de Meditator - Meditatorul poate schimba mesaje scrise cu Clientul oricand din cadrul sectiunii Mesaje sau Chat. De asemenea, in timpul sedintelor online, Meditatorul si Clientul pot folosi sectiunea de Chat pentru a schimba mesaje scrise.&nbsp;Responsabilitatea asupra continutului mesajelor transmise este in intregime a celui care le-a transmis, fiind obligatoriu sa fie in concordanta cu <a href="https://www.emeditatii.ro/termeni-si-conditii" target="_self">Termenii si Conditiile eMeditatii.ro</a> si cu legislatia in vigoare.</li>
        <li>Fisiere atasate de Meditator - Meditatorul poate atasa fisiere in conversatiile pe care le are cu Clientul si, de asemenea, poate trimite astfel de documente in timpul Sedintelor Online. Responsabilitatea asupra continutului fisierelor transmise este in intregime a celui care le-a transmis, fiind obligatoriu sa fie in concordanta cu <a href="https://www.emeditatii.ro/termeni-si-conditii" target="_self">Termenii si Conditiile eMeditatii.ro</a> si cu legislatia in vigoare.</li>
        <li>Auditul Sedintelor - din momentul in care un utilizator decide sa inceapa procesul de rezervare al unei Sedinte online, participarea la sedinta respectiva si / sau finalizarea acesteia, o serie de date colectate vor fi accesibile atat pentru Client cat si pentru Meditator. Aceste date sunt: data si ora la care Meditatorul a realizat anumite interactiuni in legatura cu sedinta respectiva dar si detaliile dispozitivului utilizat pentru a participa la Sedintele online. Detaliile cu privire la dispozitivul utilizat sunt disponibile ca urmare a interesului legitim al platformei eMeditatii.ro, intrucat permit Clientului, dar si Meditatorului, sa ofere suport celuilalt participant pentru participarea la intalnirea online si utilizarea functionalitatilor platformei;</li>
        <li>Notitele comune in cadrul Sedintelor - in timpul interactiunilor prin videoconferinta , Meditatorul si Clientul pot decide sa utilizeze functionalitatea "Notite comune", ce permite partilor sa vizualizeze fiecare ce isi noteaza celalalt partener al Sedintei;</li>
    </ul>
    <p>In cazul in care, in timpul sedintelor si altor interactiuni cu Clientul, Meditatorul decide sa transmita informatii cu caracter personal, acesta isi asuma intreaga responsabilitate dar si consecintele faptelor sale. Mai mult, in cazul in care Meditatorul considera ca i-a impartasit / transmis date personale Clientului (in timpul schimbului de mesaje si / sau chat dar si in timpul sedintelor online, acesta se poate adresa direct Clientului in legatura cu drepturile sale cu privire la datele sale personale in temeiul legislatiei in vigoare.&nbsp;</p>
    <p>Platforma eMeditatii.ro nu are nicio raspundere cu privire la transmiterea de date personale in timpul schimburilor de mesaje, a interactiunilor din cadrul Sedintelor Online dintre Meditator si Client.</p>
    <p>De asemenea, eMeditatii.ro se asigura ca, niciodata, Clientul nu va avea:</p>
    <ul>
        <li>Access la locatia din care Meditatorului participa la Sedintele Online sau interactioneaza cu platforma eMeditatii.ro;</li>
        <li>Posibilitatea de a inregistra / stoca, total sau partial, continutul audio si / sau video al sedintelor online,&nbsp;prin functionalitati disponibile in platforma eMeditatii.ro.</li>
    </ul>
    <h3>iii. Datele Clientilor catre terti</h3>
    <p>Vom transmite date cu caracter personal catre urmatoarele entitati terte, procesatori de date personale, pentru a putea furniza catre eMeditatii.ro serviciile acestora:</p>
    <h3>i. Furnizori de servicii de tip cloud</h3>
    <p>In scopul de a pastra in siguranta si securizat datele Dvs. personale determinate de utilizarea serviciilor Platformei eMeditatii.ro, a aplicatiile dar si a site-ului, eMeditatii.ro utilizeaza serviciile de tip cloud ale furnizorilor sai.</p>
    <p>Furnizorii de servicii nu au acces direct la datele Dvs. personale, acesta fiind salvate in baze de date instalate in sisteme de operare inchise (accesat doar de catre eMeditatii.ro), gazduite doar pe echipamentele hardware ale furnizorului.</p>
    <h3>ii. Agentii de publicitate si furnizori de servicii de analiza a datelor</h3>
    <p>In cazul in care decidem sa angajam Agentii de publicitate care sa promoveze produsele si serviciile eMeditatii.ro, respectivele Agentii dar si partenerii acestora ar putea solicita date personale anonime pentru a va putea oferi astfel informatii si publicitate personalizata.&nbsp;&nbsp;</p>
    <p>Nu vom dezvalui niciodata informatii care ar putea determina identficarea de persoane fizice dar le putem furniza informatii agregate si anonimizate despre utilizatorii nostri.</p>
    <p>Putem utiliza astfel de informatii agregate si anonimizate pentru a ajuta partenerii nostri sa ofere campanii de publicitate personalizate si specifice, relevante pentru o anumita categorie a utilizatorilor nostri.&nbsp;</p>
    <p>Mai mult, putem oferi partenerilor nostri, in unele cazuri, astfel de informatii agregate si depersonalizate in scopul afisarii de catre acestia a propriilor campanii publicitare pentru publicul lor tinta.</p>
    <p>De asemenea, utilizam informatiile puse la dispozitie de furnizorii de servicii de cautare pe internet si de date statistice / analitice pentru a ne ajuta la imbunatatirea si optimizarea serviciilor disponibile in cadrul site-ului, aplicatiei dar si a Platformei eMeditatii.ro.</p>
    <h3>iii. Furnizorii de servicii de plati online</h3>
    <p>Utilizatorii aplicatiei si platformei eMeditatii.ro pot achizitiona produsele si serviciile listate in cadrul platformei utilizand plata online ca metoda de plata. Toate platile online sunt procesate de furnizori specializati de astfel de servicii pe care eMeditatii.ro i-a integrat in cadrul aplicatiei si platformei sale.</p>
    <p>Ori de cate ori realizati o plata a unui produs sau serviciu listat pe eMeditatii.ro, datele de card introduse de Dvs. sunt transmise direct catre procesatorul de plati, fara a fi salvate in cadrul platformei noastre. Astfel, eMeditatii.ro nu salveaza sau proceseaza informatiile cu privire la cardul Dvs. si detaliile acestuia.</p>
    <p>Cu toate acestea, eMeditatii.ro transmite catre procesatorii de plati informatii cu privire la serviciul sau produsul achizitionat de Dvs. (identificatorul unic al serviciului sau produsului, denumirea data de Dvs. pentru serviciul sau produsul in cauza, data si ora la care serviciul sau produsul urmeaza a fi desfasurat / livrat, dupa caz) si primeste de la acestia date cu privire la statusul / starea tranzactiei initiate de Dvs. in vederea platii.</p>
    <h3>iv. Furnizorii de servicii de comunicatii de tip videoconferinta</h3>
    <p>Pentru Sedintele Online disponibile in cadrul eMeditatii.ro, compania eMeditatii.ro utilizeaza atat o solutie proprie pentru serviciile de tip videoconferinta, inglobata in cadrul platformei eMeditatii.ro, dar poate folosi (in functie de incarcarea sistemului propriu, de disponibilitatea sistemului propriu precum si de locatia folosita de utilizatori pentru a participa in cadrul Sedintei Online) una sau mai multe solutii externe, puse la dispozitiei de companii terte, ca serviciu (as a service).</p>
    <p>In cazul sedintelor online in care serviciile de videoconferinta sunt asigurate de companii terte, furnizorul de servicii are acces la urmatoarele date colectate: informatii despre dispozitivul cu care s-a accesat conferinta, adresa IP de la care s-a accesat, capabilitatile retelei de internet utilizate (frame rate, packet loss). Pe langa aceste informatii, platforma eMeditatii.ro transmite si datele despre sedinta in cauza dar nu vom dezvalui niciodata informatii si date personale care ar putea determina identificarea persoanelor fizice care utilizeaza astfel de servicii.</p>
    <p>De asemenea, semnalul sonor si cel video nu trec prin niciun server al eMeditatii.ro sau al furnizorului extern / tert de servicii de videoconferinta, comunicarea realizandu-se doar intre echipamentele / dispozitivele participante in cadrul Sedintei Online. Mai mult, atat semnalul sonor cat si cel video nu se salveaza pe niciun echipament sau server, nici al eMeditatii.ro si nici al furnizorului tert de servicii.</p>
    <h3>v. Furnizorii de servicii de recuperare creante</h3>
    <p>Pentru orice produs sau serviciu listat sau disponibil in cadrul platformei eMeditatii.ro, o data cu achizitionarea acestuia de catre utilizatori, eMeditatii.ro poate percepe un comision din respectiva tranzactie. In cazul in care se percepe un asemenea comision, se va genera in mod automat un document fiscal care certifica respectiva achizitie si care va contine valoare efectiva platita de utilizator.</p>
    <p>Intrucat, in cadrul platformei eMeditatii.ro, utilizatorii pot avea ca optiuni si alte metode de plata, in afara platilor online cu cardul, (plata cu Credite eMeditatii.ro, etc), exista astfel situatii cand se emit automat documente fiscale pentru comisioanele eMeditatii.ro, sumele respective nefiind platite in cadrul platformei.</p>
    <p>In aceste cazuri, debitorii sumelor in cauza trebuie sa achite / sau sa compenseze facturile respective fata de eMeditatii.ro. Daca acest lucru nu se intampla intr-o perioada rezonabila de timp, eMeditatii.ro poate decide sa apeleze la furnizori externi de servicii de recuperare creante sau chiar sa vanda respectivele create catre companii specializate.</p>
    <p>eMeditatii.ro va transmite catre acesti furnizori externi de servicii toate datele personale ale utilizatorilor care vor fi inscrise atat pe documentele fiscale in cauza dar si alte date care vor ajuta la recuperarea prejudiciilor.</p>
    <p>vi. Producatori si furnizori de carduri si de servicii de personalizare a acestora</p>
    <p>In cazul in care eMeditatii.ro considera oportun oferirea unor carduri personalizate utilizatorilor sai, poate apela la furnizori externi pentru productia si personalizarea cardurilor respective. Astfel, in cadrul acestui demers, se vor transmite urmatoarele date: Prenume si Numele Dvs., data la care v-ati creat contul eMeditatii.ro dar si codul Dvs. de referral sau adresa unica a profilului Dvs. eMeditatii.ro</p>
    <p>vii. Companii de curierat</p>
    <p>Atunci cand exista nevoia de a va transmite anumite produse (carduri, materiale personalizate, etc), eMeditatii.ro poate lua decizia de a apela la furnizori externi in vederea livrarii acestora la adresa Dvs. De asemenea, pe langa adresa in cauza, se vor mai transfera catre furnizorul extern si Prenumele si Numele Dvs. dar si numarul de telefon.</p>
    <h2>c. Catre alte entitati, in conditii speciale</h2>
    <p>eMeditatii.ro poate oferi informatiile si datele Dvs. personale, in urmatoarele situatii:</p>
    <ul>
        <li>In cazul in care eMeditatii.ro sau toate activele sale sunt achizitionate de o terta parte, caz in care datele personale detinute de noi despre utilizatorii nostri vor fi unul din activele transferate;</li>
        <li>Atunci cand suntem obligati sa dezvaluim daele personale pentru a respecta obligatiile si / sau solicitarile legale;</li>
        <li>Pentru a determina aplicarea si respectarea Acordurilor Juridice si / sau orice alte acorduri incheiate intre Dvs. si eMeditatii.ro , sau pentru a investiga potentiale incalcari ale acestor acorduri;</li>
        <li>Pentru a proteja drepturile, proprietatea si siguranta companiei eMeditatii.ro , platformei eMeditatii.ro si a serviciilor listate, a Clientilor si utilizatorilor nostri dar si a altor persoane. S-ar putea include aici schimbul de informatii cu alte companii si / sau organizatii in scopul protejarii impotriva fraudelor sau a recuperarii creantelor.</li>
    </ul>
</div>

    <div class="row text-center">
     
        <div class="col-md-12">
            <ins class="adsbygoogle"
     style="display:block"
     data-ad-client="ca-pub-5390319007504241"
     data-ad-slot="5486709324"
     data-ad-format="auto"
     data-full-width-responsive="true"></ins>
<script>
     (adsbygoogle = window.adsbygoogle || []).push({});
</script>
        </div>
        
    </div>

    <hr />