@{
    ViewBag.Title = "Termeni si Conditii - Anunturi meditatii";
}

@section metatags {
<meta name="robots" content="noindex">
}

<meditatii-app>
</meditatii-app>

<h1>Termeni si Conditii</h1>
    <div class="row text-center">
     
        <div class="col-md-12">
            <ins class="adsbygoogle"
     style="display:block"
     data-ad-client="ca-pub-5390319007504241"
     data-ad-slot="5486709324"
     data-ad-format="auto"
     data-full-width-responsive="true"></ins>
<script>
     (adsbygoogle = window.adsbygoogle || []).push({});
</script>
        </div>
        
    </div>

    <hr />

<p><span>CITIȚI CU ATENȚIE ACEȘTI TERMENI, <a href="">POLITICA NOASTRĂ DE CONFIDENȚIALITATE</a> SI <a href="">POLITICA COOKIE-URILOR</a> ÎNAINTE DE A UTILIZA PLATFORMA EMEDITATII ÎNTRUCÂT CONȚIN INFORMAȚII CU PRIVIRE LA DREPTURILE ȘI OBLIGAȚIILE DVS. LEGALE. </span></p>
<p><span>ÎN MOD PARTICULAR, MEDITATORUL TREBUIE SĂ FIE CONȘTIENȚI CĂ SUNT SINGURII RESPONSABILI DE MODUL ÎN CARE ACTIVITATEA LOR SE DESFĂȘOARĂ ÎN MOD LEGAL ÎN ȚARA LOR DE ORIGINE.</span></p>
<p><span>DACĂ NU SUNTEȚI DE ACORD SĂ RESPECTAȚI ACEȘTI TERMENI SI TOATE ACORDURILE JURIDICE, NU FOLOSIȚI ACEASTĂ PLATFORMĂ. </span></p>
<p><span>Data ultimei actualizări: 05 Februarie 2020</span></p>
<h1><span>1. Termeni / Glosar</span></h1>
<p><span>EMEDITATII pune la dispoziție o platformă online care conectează/facilitează interacțiunea dintre Meditator, care pot presta o activitate în mod legal online, cu Clienții acestora, care caută sau au nevoie de serviciile practicate de aceștia (denumite în continuare “Servicii”), servicii care pot fi accesate la <a href="www.emeditatii.ro" target="_blank" rel="noopener">www.emeditatii.ro</a> (denumit în continuare “Site”, “Platformă”, “Platformă online”, “EMEDITATII”, “EMEDITATII.ro”) și/sau ca aplicații pentru telefoanele mobile, tablete, alte echipamente inteligente sau chiar prin APIs (Application Program Interfaces) (denumite în continuarea “ Aplicații”). </span></p>
<p><span>“EMEDITATII Beta” sau “Beta” – Platforma EMEDITATII este încă într-o fază de dezvoltare și testare (beta) și de aceea există posibilitatea să conțină încă defecte/bug-uri/issue-uri care vă pot afecta activitatea desfășurată în cadrul Platformei. De asemenea, este posibil să existe probleme de performanță și, de aceea, este foarte important să ne transmiteți feedback-ul / părerea Dvs. cu privire la orice funcționare anormală, suspectă sau neconformă. </span></p>
<p><span>În cazul în care decideți să utilizați platforma EMEDITATII, acești Termeni și Condiții de Utilizare vă sunt aplicabile și descriu relația dintre Dvs. și platforma EMEDITATII</span></p>
<p><span>“Utilizator” reprezintă orice persoană sau entitate care a parcurs procesul de înregistrare în cadrul Platfomei EMEDITATII, incluzând, dar fără a se limita astfel, pe Clienți și Meditatori. </span></p>
<p><span>“MEDITATOR” reprezintă un Utilizator, în prealabil înregistrat, care crează / listează Sesiuni / Programări prin intermediul platformei EMEDITATII. </span></p>
<p><span>“Client” reprezintă un Utilizator care solicită unui Meditator rezervarea unei Sesiuni / Programări prin intermediul Platformei EMEDITATII, sau un Utilizator care participă la o întâlnire online, desfășurată pe EMEDITATII. </span></p>
<p><span>“Meditatie” reprezintă orice activitate și/sau serviciu care se poate presta în mod legal și legitim în mediul online sau dacă nu este explicit interzis prin legea țării / statului / teritoriului în cadrul căruia Meditatorul își desfășoară activitatea, de către un Meditator prestator, prin interacțiunea directă (audio și/sau video și/sau în persoană, într-o locație fizică) cu unul sau mai mulți clienți, independent sau simultan. </span></p>
<p><span>“Întâlnire”, “Programare” sau “Sesiune” reprezintă o Meditatie care este listat de către un Meditator în vederea consumării și/sau achiziționării de către un Client, prin intermediul Platformei EMEDITATII. </span></p>
<p><span>Întâlnire Online reprezintă orice întâlnire / programare / sesiune, gratuită sau plătită, rezervată în cadrul platformei EMEDITATII, care urmează să se desfășoare în mod online, prin interacțiunea video și audio direct pe EMEDITATII, dintre Specialist și Clientul sau Clienții săi. </span></p>
<p><span>“Conținut” reprezintă orice material text, grafic, imagini, sunete, produs software, audio, video, informații sau alte materiale. </span></p>
<p><span>“Conținut EMEDITATII” reprezintă întregul conținut pe care EMEDITATII îl pune la dispoziție prin Platforma EMEDITATII sau are legătură cu campaniile promoționale / publicitare sau cu canalele oficiale de social-media, incluzând chiar conținut licențiat de către un Terț. </span></p>
<p><span>“Conținut Utilizator” semnifică întregul conținut pe care Utilizatorul îl redactează, încarcă, afișează, publică, transmite său îl include în profilul său de Utilizator, în cadrul mesajelor scrise/audio/video pe care le transmite altor utilizatori EMEDITATII dar și în cadrul Programărilor listate și/sau la care ia parte cu ajutorul Platformei EMEDITATII. </span></p>
<p><span>“Întregul Conținut” reprezintă Conținutul EMEDITATII și Conținutul Utilizatorilor. </span></p>
<p><span>“Taxe” reprezintă orice comisioane, taxe cu privire la vânzări, taxe pe valoarea adăugată (T.V.A), taxe cu privire la bunuri și servicii, etc. </span></p>

<h1><span>2. Introducere</span></h1>
<p><span>eMeditatii.ro garantează că folosește cele mai noi tehnologii pentru a oferi o experiență de utilizare cât mai ridicată Utilizatorilor săi, în condiții de maximă securitate și confidențialitate. De aceea: </span></p>
<ul>
    <li><span>Toate comunicațiile sunt securizate utilizând standardul SSL; </span></li>
    <li><span>În dezvoltarea platformei, s-a avut în vedere standardul de securitate </span><a href="https://en.wikipedia.org/wiki/Health_Insurance_Portability_and_Accountability_Act"><span>HIPAA</span></a><span>; </span></li>
    <li><span>Toate comunicările dintre Utilizatorii platformei sunt criptate, putând fi vizualizate doar de către aceștia; </span></li>
    <li><span>Întâlnirile online dintre Utilizatori sunt consumate în timp real, printr-o legătură securizată, EMEDITATII și nicio altă parte neavând access și neputând înregistra aceste întâlniri. </span></li>
</ul>
<p><span>Acești Termeni și Condiții de Utilizare fac referire la Întregul Conținut al EMEDITATII, așa cum a fost definit mai sus, disponbil în cadrul platformei. Citiți cu atenție toate informațiile și, dacă nu sunteți de acord cu acestea, nu utilizați Platforma. </span></p>

<h1><span>3. Condiții de utilizare</span></h1>
<p><span>Prin utilizarea platformei EMEDITATII sunteți de acord să vă conformați și să răspundeți legal față de termenii și condițiile de utilizare prezentate (în continuare “Condiții de Utilizare”, “Termeni și Condiții” sau derivate), indiferent dacă sunteți sau veți deveni un Utilizator al Platformei EMEDITATII. </span></p>
<p><span>Aceste Condiții de Utilizare stipulează și guvernează accesul și utilizarea de către Dvs. a Platformei EMEDITATII și reprezintă un Acord legal între Dvs. și EMEDITATII </span></p>
<p><span>De asemenea, aceste Condiții de Utilizare reprezintă un Acord legal și între utilizatorii platformei (Clienți și Meditatori) care decid să interacționeze, online sau într-o locație fizică, ca urmare a activității lor în cadrul Platformei. Prin interacțiune se înțelege, dar fără a se limita la, vizitarea/vizualizarea profilelor utilizatorilor, schimbul de mesaje scrise, transmiterea de fișiere, rezervarea unei Întâlniri gratuite sau plătite, participarea la o întâlnire online sau într-o locație fizică, etc. </span></p>
<p><span>Pe lângă cele expuse, anumite zone ale platformei EMEDITATII, pot avea reglementări specifice cuprinse în diferite Termeni și Condiții, Standarde, Politici, Îndrumări pe care trebuie să le evaluați și/sau acceptați în mod separat și punctual. În cazul unui conflict între prezențele Condiții de Utilizare și Condițiile unor zone specifice, acestea din urmă vor avea prioritate în ceea ce privește utilizarea sau accesul la acea zonă a Platformei. </span></p>
<p><span>În cazul în care nu sunteți de acord cu Termenii și Condițiile de Utilizare, nu aveți nici un drept să utilizați platforma EMEDITATII și nici să folosiți în vreun fel informațiile disponibile. </span></p>
<p><span>Nerespectarea utilizării platformei în conformitate cu Termenii și Condițiile de Utilizare poate face obiectul aplicării unor sancțiuni civile și penale. </span></p>
<p><span>SITE-UL, APLICAȚIA ȘI SERVICIILE REPREZINTĂ O PLATFORMĂ ONLINE PRIN CARE MEDITATORII POT CREA/LISTA ÎNTÂLNIRI/PROGRAMĂRI/SESIUNI PENTRU SERVIICIILE PRACTICATE IAR CLIENȚII LE POT VIZUALIZA, REZERVA, PLĂTI ȘI/SAU CONSUMA ÎN MOD DIRECT, PRIN INTERACȚIUNEA ONLINE CU MEDITATORII. </span></p>
<p><span>ÎNȚELEGEȚI, ASTFEL, ȘI SUNTEȚI DE ACORD CĂ EMEDITATII: </span></p>
<ul>
    <li><span>NU ESTE ȘI NU FACE PARTE DIN ACORDUL ÎNCHEIAT ÎN MOD DIRECT ÎNTRE MEDITATORI ȘI CLIENT / CLIENȚI; </span></li>
    <li><span>NU PRACTICĂ SERVICII ÎN NUMELE MEDITATORULUI; </span></li>
    <li><span>NU ARE NICIUN CONTROL ASUPRA SERVICIILOR PE CARE MEDITATORUL LE PRACTICĂ ÎN MOD DIRECT CĂTRE ALȚI UTILIZATORI, CLIENȚI AI SĂI; </span></li>
    <li><span>NU ARE NICIUN CONTROL ASUPRA COMPORTAMENTULUI MEDITATORULUI, CLIENȚILOR SAU A ALTOR UTILIZATORI ÎN FOLOSIREA DE CĂTRE ACEȘTIA A PLATFORMEI EMEDITATII. </span></li>
</ul>
<p><span>ASTFEL, EMEDITATII NU ÎȘI ASUMĂ NICI O RĂSPUNDERE ÎN ACEASTĂ PRIVINȚĂ, PÂNĂ LA LIMITA MAXIMĂ PREVĂZUTĂ DE LEGE. </span></p>
<p><span>ÎN CAZUL ÎN CARE ALEGEȚI SĂ CREAȚI/LISTAȚI PROGRAMĂRI ÎN CADRUL PLATFORMEI EMEDITATII, ÎNȚELEGEȚI ȘI SUNTEȚI DE ACORD CĂ RELAȚIA CU EMEDITATII ESTE LIMITATĂ LA FAPTUL CĂ SUNTEȚI UTILIZATOR ȘI UN MEDITATOR TERȚ, INDEPENDENT, ȘI NU UN ANGAJAT, AGENT, PARTENER, ASOCIAT AL EMEDITATII, CARE ACȚIONEAZĂ EXCLUSIV ÎN NUME PROPRIU ȘI PENTRU PROPRIUL BENEFICIU ȘI NU ÎN NUMELE ȘI ÎN BENEFICIUL EMEDITATII. </span></p>
<p><span>EMEDITATII NU CONTROLEAZĂ ȘI NU ARE DREPTUL SĂ CONTROLEZE PROGRAMĂRILE DVS., ACTIVITĂȚILE DESFĂȘURATE ÎN TIMPUL ÎNTÂLNIRILOR ONLINE SAU ACTIVITĂȚILE OFFLINE DERULATE ÎN LEGĂTURĂ CU PROGRAMĂRILE DVS. SAU ORICE ALTE ACTIVITĂȚI LEGATE DE ACESTEA. </span></p>
<p><span>CA UTILIZATOR AL PLATFORMEI EMEDITATII AVEȚI RESPONSABILITATEA ȘI SUNTEȚI DE ACORD SĂ NU ÎNTREPRINDEȚI ACTIVITĂȚI CARE SĂ CREEZE O IMPRESIE FALSĂ CU PRIVIRE LA FAPTUL CĂ AȚI PUTEA FI CERTIFICAT, ÎN PARTENERIAT, SAU CHIAR DE A ACȚIONA ÎN NUMELE ȘI ÎN BENEFICIUL EMEDITATII, PRIN UTLIZAREA NEÎNDREPTĂȚITĂ A PROPRIETĂȚII INTELECTUALE EMEDITATII. </span></p>
<p><span>EMEDITATII POATE AFIȘA ÎN CADRUL PLATFORMEI FAPTUL CĂ SUNTEȚI UN MEDITATOR VERIFICAT, DOAR ÎN CAZUL ÎN CARE CEREȚI EXPLICIT ACEST LUCRU, CAZ ÎN CARE EMEDITATII POATE IDENTIFICA DACĂ SUNTEȚI ACREDITAT DE CĂTRE AUTORITĂȚILE LOCALE DIN ȚARĂ/STATUL/TERITORIUL DVS. SĂ PRESTAȚI RESPECTIVUL SERVICIU ÎN MOD LEGAL. </span></p>
<p><span>PLATFORMA EMEDITATII ESTE ÎNCĂ ÎNTR-O FAZĂ DE DEZVOLTARE ȘI TESTARE (BETA) ȘI DE ACEEA EXISTĂ POSIBILITATEA SĂ CONȚINĂ ÎNCĂ DEFECTE/BUG-URI/ISSUE-URI CARE VĂ POT AFECTA ACTIVITATEA DESFĂȘURATĂ ÎN CADRUL PLATFORMEI. DE ASEMENEA, ESTE POSIBIL SĂ EXISTE PROBLEME DE PERFORMANȚĂ ȘI, DE ACEEA, ESTE FOARTE IMPORTANT SĂ NE TRANSMITEȚI FEEDBACK-UL / PĂREREA DVS. CU PRIVIRE LA ORICE FUNCȚIONARE ANORMALĂ, SUSPECTĂ SAU NECONFORMĂ. ASTFEL, ÎNȚELEGEȚI ȘI SUNTEȚI DE ACORD SĂ VĂ PROTEJAȚI/ASIGURAȚI PERSONAL DATELE DVS. DIN CADRUL PLATFORMEI, SĂ UTILIZAȚI CU ATENȚIE PLATORMA EMEDITATII ȘI SĂ NU VĂ BAZAȚI PE FUNCȚIONAREA CORECTĂ A ACESTEIA. </span></p>
<p><span>ÎNȚELEGEȚI ȘI SUNTEȚI DE ACORD CĂ, PRIN UTILIZAREA ȘI ACCESAREA PLATFORMEI EMEDITATII, DESCĂRCÂND, PUBLICÂND SAU CONSUMÂND ORICE CONȚINUT PE PLATFORMĂ, CERTIFICAȚI FAPTUL CĂ AȚI CITIT, AȚI ÎNȚELES ȘI AȚI AGREAT CĂ ACESTE CONDIȚII ȘI TERMENI DE UTILIZARE VĂ SUNT OPOZABILE ȘI DOAR ASTFEL PUTEȚI BENEFICIA DE SERVICIILE EMEDITATII, CHIAR DACĂ V-AȚI ÎNREGISTRAT SAU NU PE SITE SAU ÎN APLICAȚIE. </span></p>
<p><span>DACĂ NU SUNTEȚI DE ACORD CU ACESTE CONDIȚII DE UTILIZARE, ATUNCI NU AVEȚI NICIUN DREPT SĂ ACCESAȚI SAU SĂ UTILIZAȚI PLATFORMA EMEDITATII SAU ÎNTREGUL CONȚINUTUL. </span></p>
<p><span>ÎN CAZUL ÎN CARE ACCEPTAȚI ACEȘTI TERMENI ȘI CONDIȚII ÎN NUMELE UNEI COMPANII SAU A ALTEI PERSOANE JURIDICE, DECLARAȚI, CERTIFICAȚI ȘI GARANTAȚI FAPTUL CĂ AVEȚI AUTORITATEA LEGALĂ DE A REPREZENTA RESPECTIVA SOCIETATE SAU ENTITATE JURIDICĂ PENTRU ÎNCHEIEREA/ACCEPTAREA DE ASTFEL DE TERMENI ȘI CONDIȚII ȘI, ÎN ACEST MOD, SOCIETATEA SAU ENTITATEA JURIDICĂ RESPECTIVĂ AVÂND EA ÎNSĂȘI RĂSPUNDERE LEGALĂ. </span></p>

<h1><span>4. Modificări și schimbări</span></h1>
<p><span>EMEDITATII îs rezervă dreptul, la libera noastră alegere, de a modifica și schimba Platforma EMEDITATII sau de a modifica acești Termeni și Condiții de Utilizare, incluzând chiar Comisioanele de Utilizare, în orice moment și fără o notificare prealabilă. </span></p>
<p><span>În cazul în care Termenii și Condițiile de Utilizare se vor schimba, vom publica modificările în cadrul Platformei EMEDITATII și/sau vă vom notifica cu privire la aceste schimbări. </span></p>
<p><span>Data ultimei actualizări va fi disponibilă întotdeauna în secțiunea de sus a acestor Termeni și Condiții de Utilizare și o vom actualiza la fiecare modificare și/sau schimbare. </span></p>
<p><span>Continuarea utilizării serviciilor EMEDITATII după ce am publicat modificarea în cadrul Platformei sau ați fost înștiințat despre aceasta, constituie acceptul Dvs. că ați luat la cunoștință despre aceste modificări. </span></p>
<p><span>În cazul în care nu sunteți de acord cu modificările aduse Termenilor și Condițiilor de Utilizare sau acestea nu sunt acceptabile pentru Dvs., singura Dvs. opțiune o reprezintă încetarea utilizării Platformei EMEDITATII. </span></p>

<h1><span>5. Condiții de Eligibilitate</span></h1>
<p><span>Platforma EMEDITATII și Întregul Conținut sunt adresate doar persoanelor care au împlinit deja vârsta de 18 ani. </span></p>
<p><span>Orice accesare sau utilizare a Platformei EMEDITATII de către o persoană care nu a împlinit vârsta de 18 ani este acceptata doar cu acordul partintelui sau cu acordul tutelei minorului, in caz contarar este complet interzisă. </span></p>
<p><span>Prin utilizarea Platformei EMEDITATII confirmați și garantați faptul că aveți vârsta de 18 ani la data respectivei accesări. </span></p>
<p><span>EMEDITATII poate obține, verifica și utiliza, în orice moment, în limitele impuse de legislațiile în vigoare din fiecare țară/stat/teritoriu, date din surse publice cu privire la cazierul juridic, condamnări penale, înregistrări cu privire la infracțiuni (generice, de natură sexuală, etc), ale Utilizatorilor Platformei EMEDITATII. </span></p>
<p><span>Sunteți de acord și agreați că EMEDITATII va folosi informațiile Dvs. personale, cum ar fi numele, prenumele și data nașterii, pentru a obține astfel de date, în mod direct de către EMEDITATII sau prin furnizorii acestuia. </span></p>

<h1><span>6. Ce este EMEDITATII</span></h1>
<p><span>EMEDITATII este un furnizor de tehnologie care pune la dispoziție o platformă online securizată pentru listarea Serviciilor Meditatorilor și facilitarea, accesarea, cumpărarea, consumarea acestor Servicii de către Utilizatori. </span></p>
<p><span>Vizualizarea profilelor Meditatorilor, a serviciilor și întâlnirilor / sesiunilor / programărilor acestora se poate face și de către utilizatori neînregistrați ai platformei. </span></p>
<p><span>În cazul în care doriți să accesați serviciile respective (rezervare, plată, consum, etc) sau dacă doriți să vă listați ca Meditator și să vă expuneți serviciile și programările/sesiunile în cadrul Platformei, trebuie ca mai întâi să vă înregistrați și să obțineți un cont EMEDITATII. </span></p>
<p><span>Dacă decideți să interacționați cu un alt Utilizator al platformei sau să cumpărați/consumați online orice serviciu listat de către Meditator pe Platforma EMEDITATII, înțelegeți faptul că interacțiunea respectivă este directă cu respectivul utilizator. EMEDITATII nu este un furnizor de servicii din cele listate pe platformă și nici nu se poate substitui unui Meditator, de aceea relația dintre Meditator și Client este una directă, între cele 2 părți. </span></p>
<p><span>Cum s-a descris mai sus, EMEDITATII pune la dispoziție o platformă online / marketplace și toate utilitarele/funcționalitățile necesare Clienților și Meditatorilor pentru a se putea întâlni și interacționa online în mod direct, responsabilitatea EMEDITATII fiind limitată la a facilita accesul la Platformă. </span></p>
<p><span>Astfel, înțelegeți și sunteți de acord că EMEDITATII: </span></p>
<ul>
    <li><span>Nu poate și nu controlează nicio informație aferentă Conținutului Utilizator (informațiile disponibile în profilul Utilizatorilor, datele asociate Programărilor / Sesiunilor, etc); </span></li>
    <li><span>Nu are niciun control asupra serviciilor pe care Meditatorul le practică; </span></li>
    <li><span>Nu este răspunzător pentru calitatea tehnică a prestării serviciilor online (calitatea imaginilor video, calitatea sunetului, etc); </span></li>
    <li><span>Nu este răspunzător pentru calitatea și eficiența serviciilor profesionale prestate de către Meditator. </span></li>
</ul>
<p><span>Toate interacțiunile dintre Meditator și Client (mesaje, schimb de fișiere, rezervări, întâlniri online sau într-o locație fizică, etc) vor fi făcute și acceptate pe propriul risc al fiecărui Utilizator. </span></p>

<h1><span>7. Contul de Utilizator</span></h1>
<p><span>Pentru a beneficia de serviciile puse la dispoziție de platforma EMEDITATII, de a lista servicii în cadrul Platformei și de a le cumpăra și consuma, este necesar un cont de Utilizator. </span></p>
<p><span>Îți poți crea un cont de utilizator în cadrul Platformei EMEDITATII. </span></p>
<p><span>De asemenea, îți poți crea un cont de utilizator și cu ajutorul altor platforme online (social media platforms) cum ar fi, dar nelimitându-ne la: Facebook &amp; LinkedIn. </span></p>
<p><span>Contul tău de Utilizator și Profilul tău vor fi create în baza informațiilor personale pe care Dvs ați decis să le completați și să le puneți la dispoziția noastră sau au fost obținute de către noi ca urmare a înregistrării utilizând alte platforme online. </span></p>
<p><span>În cadrul platformei EMEDITATII poți avea un singur cont activ de Utilizator. Orice cont de Utilizator are asociat un rol de Client. În baza rolului de Client, se poate interacționa cu Meditatorii listați pe platforma EMEDITATII. </span></p>
<p><span>Orice Meditator care prestează servicii și listează Sesiuni în cadrul Platformei EMEDITATII are un cont de Utilizator. De asemenea, orice Meditator, are și un rol de Client, în baza acestuia putând rezerva, plăti și consuma servicii listate de către alți Meditatori. </span></p>
<p><span>Sunteți de acord ca informațiile furnizate în timpul procesului de înregistrare și creare cont să fie corecte, de actualitate și complete. De asemenea, sunteți de acord să actualizați aceste informații ori de câte ori este necesar astfel încât să rămână corecte, de actualitate și complete. </span></p>
<p><span>EMEDITATII își rezervă dreptul de a suspenda sau chiar închide contul Dvs. de Utilizator EMEDITATII și, astfel, de a limita / opri accesul la Platforma online în cazul în care creați mai mult de un cont de Utilizator sau în cazul în care orice informație furnizată pe parcursul procesului de înregistrare, sau chiar ulterior, se dovedește a fi inexactă, incompletă, de neactualitate sau în contradicție cu acești Termeni și Condiții. </span></p>
<p><span>În ceea ce privește parola asociată contului Dvs. de Utilizator, sunteți singurul responsabil pentru păstrarea în siguranță a acesteia. Sunteți astfel de acord să nu comunicați această parolă unui Terț și aveți responsabilitate deplină asupra tuturor acțiunilor desfășurate în cadrul Platformei EMEDITATII, chiar dacă Dvs. ați autorizat sau nu respectivele activități. </span></p>
<p><span>În cazul în care sesizați sau există suspiciuni asupra utilizării frauduloase a contului Dvs., aveți responsabilitatea anunțării de urgență a EMEDITATII. </span></p>

<h1><span>8. Profilul de Meditator</span></h1>
<p><span>Orice utilizator care și-a creat cu succes un Cont de Utilizator și, implicit, a obținut un rol de Client, poate opta pentru crearea unui profil de Meditator. </span></p>
<p><span>Prin parcurgerea pașilor de înregistrare ca Meditator sunteți de acord ca informațiile furnizate în timpul procesului să fie corecte, de actualitate și complete. De asemenea, sunteți de acord să actualizați aceste informații ori de câte ori este necesar astfel încât să rămână corecte, de actualitate și complete. </span></p>
<p><span>La finalul procesului de creare a profilului de Meditator, contul Dvs. de Meditator va avea statusul Activ. </span></p>
<p><span>Numai Profilele de Meditator active vor apărea în lista de căutări a Clienților. </span></p>
<p><span>Verificările efectuate de EMEDITATII se pot referi dar nelimitându-se la: </span></p>
<p><span>Fotografia de Profil trebuie să reprezinte persoana Specialistului și să fie una de tip portret. Mai jos câteva exemple de fotografii care nu ar trebui utilizate: </span></p>
<ul>
    <li><span>Peisaje; </span></li>
    <li><span>Animale; </span></li>
    <li><span>Cuvinte sau fraze; </span></li>
    <li><span>Logo-uri ale unor companii, brand-uri, etc; </span></li>
    <li><span>Nuditate; </span></li>
    <li><span>Etc.</span></li>
</ul>
<p><span>În cazul în care EMEDITATII consideră că una sau mai multe din recomandările de mai sus nu au fost îndeplinite, poate decide în orice moment și fără nicio explicație suplimentară ca un anumit Profil de Meditator să nu fie acceptat/validat sau să retragă validarea acordată anterior. </span></p>
<p><span>Puteți vizualiza întotdeauna statusul/starea Profilului Dvs. de Meditator în cadrul Platformei EMEDITATII. </span></p>
<p><span>Rețineți că nu toate serviciile pe care Meditatorii le pot lista și practica în mod licit în cadrul platformei EMEDITATII trebuie să fie reglementate de către statele / țările / teritoriile în care aceștia își desfășoară activitatea. În astfel de cazuri, solicitările de validare a Meditatorilor pot fi lipsite de obiect. </span></p>

<h1><span>9. Listarea Programărilor / Sesiunilor</span></h1>
<p><span>Că Utilizator al Platformei EMEDITATII, în cazul în care Profilul de Meditator a fost validat, poți crea Întâlniri / Programări / Sesiuni pentru Serviciile tale. </span></p>
<p><span>Pentru a putea lista o astfel de Programare, va trebui să furnizezi următoarele informații, fără însă a se limita la: data și ora de start, durata, tipul întâlnirii (Online, pe EMEDITATII) Tariful Total pe care Clientul îl va achita și moneda în cazul sesiunilor non-gratuite, etc. </span></p>
<p><span>În ceea ce privește tipul întâlnirii, înțelegeți și sunteți de acord că, costurile totale pe care Clientul le are/le va achita efectiv în cazul întâlnirilor care se vor desfășura online, pe EMEDITATII, sunt mult mai mici decât în cazul întâlnirilor offline, desfășurate într-o locație fizică (în cazul acestora din urmă se adaugă costuri cu deplasarea efectivă, timpul petrecut efectiv pentru a se deplasa în locația respectivă, etc).</span></p>
<p><span>În ceea ce privește Tariful total și Moneda aplicate / asociate tuturor întâlnirilor listate în cadrul platformei EMEDITATII, înțelegeți și sunteți de acord că:</span></p>
<ul>
    <li><span>EMEDITATII poate face verificări, în condițiile acestor Termeni și Condiții, cu privire la prețurile practicate de Dvs. și poate decide, la libera sa alegere și discreție, dacă prețurile listate în cadrul platformei sunt în concordanță cu normele prezentului document; </span></li>
    <li><span>EMEDITATII poate încuraja Utilizatorii platformei să raporteze încălcarea regulilor cu privire la prețurile și moneda practicate de Dvs. în cadrul EMEDITATII; </span></li>
    <li><span>EMEDITATII poate decide, la libera sa alegere și discreție, să închidă / șteargă / inactiveze contul Dvs. EMEDITATII fără nicio notificare prealabilă în acest sens. </span></li>
</ul>
<p><span>Toate aceste Întâlniri / Sesiuni / Programări vor fi făcute publice pe Platforma EMEDITATII. Înțelegeți și sunteți de acord că afișarea, poziționarea și ordinea Sesiunilor / Programărilor și a Profilului Dvs., în cadrul rezultatelor căutărilor efectuate de Clienți, pot depinde de o serie de factori incluzând, dar nelimitându-se la, preferințele Clienților, evaluări / rating-uri, prezența online a Meditatorului în momentul efectuării căutării de către Client, istoricul și frecvența prezențelor online, numărul Sesiunilor listate și/sau valorificate în cadrul Platformei, detaliile Sesiunilor / Programărilor, etc. </span></p>
<p><span>Alți Utilizatori pot rezerva și cumpăra Sesiunile listate de Dvs. în cadrul Platformei EMEDITATII, în baza informațiilor și detaliilor fiecărei Sesiuni și a Termenilor și Condițiilor specifice afișate pe parcursul procesului de rezervare și plată. Înțelegeți și sunteți de acord că o dată ce un Client a rezervat și plătit o Sesiune listată de Dvs. nu aveți dreptul de a cere sau modifica prețul și/sau moneda de plată. </span></p>
<p><span>Înțelegeți și sunteți de acord că doar Dvs. sunteți responsabil pentru orice Sesiune listată și pentru orice Conținut Utilizator decideți să afișați în cadrul Platformei EMEDITATII. </span></p>
<p><span>De asemenea, garantați faptul că orice Sesiune listată și/sau cumpărată precum și întâlnirea efectivă între Dvs. și Clienții Dvs respectă și sunt în concordanță cu legislația în vigoare la momentul respectiv (desfășurarea legală a activității prestate, licențe de practică, taxe, Proprietate intelectuală, etc). </span></p>
<p><span>EMEDITATII își rezerva dreptul, în orice moment și fără o înștiințare prealabilă, de a șterge sau restrânge accesul la Serviciile și/sau Sesiunile Dvs. pentru orice motive, incluzând chiar acele servicii sau sesiuni pe care EMEDITATII le consideră, la liberă sa alegere, a fi inacceptabile pentru orice motiv, prin încălcarea acestor Termeni și Condiții sau în oricare alt mod dacă sunt dăunătoare Platformei EMEDITATII. </span></p>
<p><span>Ca Meditator, înțelegeți și agreați faptul că EMEDITATII nu acționează în calitate de asigurator sau ca agent de contractare. Dacă un Client face o rezervare și/sau cumpără un serviciu listat de Dvs. în cadrul Platformei EMEDITATII, serviciul respectiv se consumă direct, între Dvs. și Client, astfel ca orice înțelegere/acord este realizat între Dvs. și Client, EMEDITATII nefăcând parte din acesta. </span></p>
<p><span>EMEDITATII pune la dispoziția Utilizatorilor o serie de funcționalități ale Platformei în scopul de a vă ajuta să luați cele mai potrivite decizii cu privire la modul în care interacționați cu alți Utilizatori. Înțelegeți și sunteți de acord că, în calitate de Utilizator, sunteți responsabil pentru acțiunile, deciziile și omisiunile Dvs. </span></p>

<h1><span>13. Mesagerie scrisă</span></h1>
<p><span>Utilizatorii EMEDITATII, în relația Client – Meditator, pot comunica între ei prin mesaje scrise în cadrul platformei, oricând și în mod gratuit. </span></p>

<h1><span>14. Conduită</span></h1>
<p><span>Înțelegeți și sunteți de acord că sunteți singurul responsabil pentru respectarea tuturor legilor, regulilor, reglementărilor și obligațiile fiscale care vi se pot aplica pentru utilizarea Platformei EMEDITATII. Astfel, nu aveți dreptul și sunteți de acord să:  </span></p>
<ul>
    <li><span>Nu încălcați nicio lege locală, statală, provincială, națională sau de altă natură sau orice decizie a unei instanțe judecătorești în legătură cu activitatea desfășurată de Dvs. și a politicilor care reglementează regimul Taxelor și Impozitelor; </span></li>
    <li><span>Nu utilizați, manual sau automat, software, dispozitive, script-uri, “robots”, “backdoors” sau orice alte mijloace pentru a accesa (de tip-ul, dar nelimitându-se la, “scrape”, “crawl”, “spider”, etc) oricare din paginile Platformei EMEDITATII; </span></li>
    <li><span>Nu accesați sau utilizați Platforma EMEDITATII sau EMEDITATII API pentru a utiliza, expune sau a da dreptul de a utiliza sau de a expune orice conținut al Platformei care: </span></li>
    <li><span>Nu este afișat în mod public de către EMEDITATII în paginile de căutare și afișare a rezultatelor sau în paginile listate înainte ca o Sesiune să fie rezervată / cumpărată; </span></li>
    <li><span>Este inconsistent, în orice mod, față de Termenii și Condițiile EMEDITATII sau orice alte Politici, Reglementări, Termeni și Condiții Specifice EMEDITATII; </span></li>
    <li><span>Este în neconcordanță cu regulile privind confidențialitatea sau orice alte drepturi ale Utilizatorilor și/sau ale oricărui Terț. </span></li>
    <li><span>Nu utilizați Platforma EMEDITATII într-un scop comercial sau de orice altă natură, dacă nu este explicit permis în cadrul acestor Termeni și Condiții, sau într-o manieră care ar presupune, în mod fals, faptul că aveți recomandarea EMEDITATII sau că acționați ca urmare a unui parteneriat încheiat cu EMEDITATII sau în orice mod care ar conduce, în mod eronat, la faptul că sunteți afiliat cu EMEDITATII; </span></li>
    <li><span>Nu aduceți atingeri, în niciun mod și de orice fel, identității și brand-ului EMEDITATII, inclusiv prin: </span></li>
    <li><span>Utilizarea neautorizată a Continutului EMEDITATII; </span></li>
    <li><span>Înregistrarea și/sau utilizarea EMEDITATII sau a unor denumiri asemănătoare, derivate, etc, în nume de domenii, denumiri comerciale, mărci comerciale, etc.; </span></li>
    <li><span>Înregistrarea și/sau utilizarea unor denumiri care imită, sau pot , care foarte similare cu EMEDITATII astfel încât produce confuzii. </span></li>
    <li><span>Nu copiați, stocați, accesați  utilizați orice informație EMEDITATII  scopuri care nu explicit permise prin acești Termeni  Condiții; </span></li>
    <li><span>Nu încălcați drepturile EMEDITATII  drepturile oricărei alte persoane  entități cu privire, dar nelimitându-se, la: proprietatea , confidențialitate, publicitate  drepturi contractuale; </span></li>
    <li><span>Nu interveniți, deteriorați  distrugeți  EMEDITATII cu ajutorul, dar fără să se limiteze la, utilizarea de viruși, “cancel bots”, “Trojan horses”, cod dăunător, “flood pings”, atacuri de  “denial-of-service”, “backdoors”, “spoofing”, “forged routing”  orice alte metode / tehnologii similare; </span></li>
    <li><span>Nu utilizați  EMEDITATII pentru  transmite, distribui, trimite informații cu privire la orice    entitate, inclusiv, dar fără  să se limiteze la: </span></li>
    <li><span>Fotografii ale altor persoane fără permisiunea acestora; </span></li>
    <li><span>Informații cu privire la persoane date de contact; </span></li>
    <li><span>Informații cu privire la  bancare / de credit, debit, etc. </span></li>
    <li><span>Nu utilizați  EMEDITATII pentru livrarea / distribuția de email -  mesaje nesolicitate (SPAM); </span></li>
    <li><span>Nu urmăriți / hărțuiți orice alt Utilizator  Platformei EMEDITATII. De asemenea, nu colectați, stocați  utilizați informații personale despre orice alt Utilizator EMEDITATII decât în scopul de a tranzacționa ca Meditator sau Client;</span></li>
    <li><span>Nu oferiți și nu listați sesiuni pentru servicii pe care nu le prestați în mod direct sau care sunt interzise sau limitate pentru a fi consumate prin utilizarea unui mediu virtual; </span></li>
    <li><span>Nu va înregistrați și nu vă creați mai mult de 1 (un) cont EMEDITATII. De asemenea, nu va înregistrați sau creați cont/conturi EMEDITATII în numele altei persoane; </span></li>
    <li><span>Nu rezervați și/sau plătiți Sesiuni la care urmează să participe alte persoane, și nu Dvs., decât în cazul în care EMEDITATII permite acest lucru în mod explicit; </span></li>
    <li><span>Nu contactați un alt membru / utilizator EMEDITATII în orice alt scop decât în legătură cu Serviciile și Sessiunile listate, programările efective, cereri de reprogramare, etc. </span></li>
    <li><span>Nu recrutați sau solicitați, în orice mod, oricărui Utilizator al Platformei EMEDITATII să se alăture unor site-uri/platforme/servicii terțe care sunt competitoare EMEDITATII, fără aprobarea prealabilă, în scris, a EMEDITATII; </span></li>
    <li><span>Nu utilizați platforma EMEDITATII în numele unei alte persoane sau entități, nu falsificați și nu induceti în eroare alți Utilizatori Altas cu privire la identitatea Dvs. în cadrul Platformei; </span></li>
    <li><span>Nu utilizați script-uri sau orice alte metode pentru a colecta informațiile disponibile în cadrul Platformei EMEDITATII; </span></li>
    <li><span>Nu folosiți Platforma EMEDITATII pentru a găsi un Specialist sau Client și apoi să finalizați rezervarea, plăti și/sau consuma Sesiunea independent de EMEDITATII (utilizând alte site-uri sau chiar în mediul fizic/offline), în scopul de a eluda obligațiile de a plăti comisioanele EMEDITATII și taxele asociate respectivelor servicii; </span></li>
    <li><span>Ca Meditator, nu listați Sesiuni care conțin informații false sau înșelătoare, inclusiv cu privire serviciile prestate sau la prețul acestora; </span></li>
    <li><span>Să nu aveți un comportament perturbator, abuziv sau de hărțuire în utilizarea Platformei EMEDITATII </span></li>
    <li><span>Să nu postați, încărcați, publicați, transmiteți conținut care: </span></li>
    <li><span>Încalcă sau aduce atingere patentelor de invenție, drepturilor de autor, mărcilor comerciale, secretelor comerciale, drepturilor morale sau oricăror altor drepturi de proprietate intelectuală, drepturilor de publicitate sau a vieții private a Terților; </span></li>
    <li><span>Încalcă sau încurajează orice comportament care ar putea duce la încălcarea legilor, reglementărilor, regulamentelor; etc; </span></li>
    <li><span>Este fals, faudulos, înșelător (în mod direct sau prin omisiune); </span></li>
    <li><span>Este defăimător, obscen, pornografic, vulgar sau ofensator; </span></li>
    <li><span>Promovează discriminarea, rasismul, ură, hărțuirea sau vătămarea indivizilor sau a unui grup de indivizi; </span></li>
    <li><span>Este violent, amenințător sau care promovează activități sau substanțe ilegale. </span></li>
    <li><span>Să nu preluați,  mod sporadic / sistematic, date conținut Platformei EMEDITATII scopul de, direct  indirect, într-o  descărcare (download)  multe, o colecție, compilare, de date, director alte asemenea, fie prin metode manuale, prin utilizarea de , “crawlers”, “spiders” orice alt mod; </span></li>
    <li><span>nu utilizați,  afișați   expuneți informațiile  conținutul Platformei EMEDITATII “mirror”, “frame” pe cadrul altor site-uri, decât condițiile expres formulate de EMEDITATII. </span></li>
    <li><span>nu accesați, manipulați / utilizați zonele non-publice ale Platformei EMEDITATII, sistemele informatice EMEDITATII  ale  parteneri EMEDITATII  livrarea serviciilor ; </span></li>
    <li><span>nu probați, scanați  testați vulnerabilitatea oricărui sistem  rețea EMEDITATII nu încălcați regulile de securitate autentificare; </span></li>
    <li><span>nu evitați, ocoliți, eliminați, dezactivați, alterati, desecretizati  de   orice   d </span></li>
    <li><span>Să nu încercați să evitați, ocoliți, eliminați, dezactivați, alterați, desecretizați sau de a eluda orice măsură implementată de către EMEDITATII sau partenerii acestuia în scopul de a proteja Platforma EMEDITATII; </span></li>
    <li><span>Să nu utilizați metode de a falsifica traficul și/sau pachețele TCP/IP pentru a trimite mesaje modificate, falsificate sau înșelătoare cu privire la identitatea sursei respective; </span></li>
    <li><span>Să nu încercați să descifrați, dezasamblați codul sursă, sau să utilizați chiar metode de reverse engineer, al oricărei soluții software folosite pentru funcționarea Platformei EMEDITATII; </span></li>
    <li><span>Să nu încurajați, consiliați, determinați sau asistați orice persoană sau entitate în a realiza oricare dintre cele expuse mai sus;</span></li>
</ul>
<p><span>Ca Client, să nu acceptați și nici să nu realizați o plată, pentru serviciile practicate de Meditatori listați în cadrul EMEDITATII, în afara Platformei. În cazul în care realizați acest lucru, recunoașteți și sunteți de acord că:</span></p>
<ul>
    <li><span>Încălcați acești Termeni și Condiții; </span></li>
    <li><span>Acceptați toate responsabilitățile pentru o astfel de plată; </span></li>
    <li><span>Înțelegeți faptul că EMEDITATII nu face parte și nu are nicio responsabilitate legată de respectiva plată.</span></li>
</ul>
<p><span>Ca Meditator, să nu comunicați către alți utilizatori EMEDITATII și/sau să încercați să-i determinați:</span></p>
<ul>
    <li><span>Să vizualizeze profilul Dvs. disponibil pe alte site-uri sau platforme; </span></li>
    <li><span>Să vă contacteze telefonic sau în orice alt mod (SMS sau orice alte servicii sau aplicații care presupun utilizarea numărului de telefon); </span></li>
    <li><span>Să vă contacteze prin email; </span></li>
    <li><span>Să vă contacteze pe rețelele de socializare și/sau alte aplicații web sau mobile, etc; </span></li>
    <li><span>Efectueze o plată în afara platformei EMEDITATII (direct în contul Dvs. sau în contul altor persoane); </span></li>
    <li><span>Etc.</span></li>
</ul>
<p><span>Astfel, înțelegeți și sunteți de acord că este total interzis pentru Dvs. în raport cu alți utilizatori să:</span></p>
<ul>
    <li><span>Distribuiți/comunicați profilul sau profilurile existente în cadrul altor site-uri sau platforme la care Dvs. sau alte persoane în numele Dvs. pot avea acces; </span></li>
    <li><span>Distribuiți/comunicați numărul de telefon personal sau profesional, nici al Dvs. și nici a altor persoane; </span></li>
    <li><span>Distribuiți/comunicați adresa de email personală sau profesională, nici a Dvs. și nici a altor persoane; </span></li>
    <li><span>Distribuiți/comunicați contul/profilul sau conturile/profilurile aferente rețelelor de socializare, aplicațiilor web sau mobile, etc; </span></li>
    <li><span>Să determinați că rezervarea, achiziționarea, etc a serviciilor Dvs. să fie efectuate în cadrul altor platforme, externe EMEDITATII. </span></li>
    <li><span>Etc.</span></li>
</ul>
<p><span>În cazul în care este încălcat oricare din punctele de mai sus, dar nelimitându-se doar la acestea, înțelegeți, recunoașteți și sunteți de acord că:</span></p>
<ul>
    <li><span>Încălcați acești Termeni și Condiții; </span></li>
    <li><span>Acceptați toate responsabilitățile care decurg din aceste încălcări, cum ar fi: </span></li>
    <li><span>Dezactivarea sau ștergerea contului Dvs. la libera alegere a EMEDITATII și fără nicio notificare prealabilă sau ulterioară; </span></li>
    <li><span>Înștiințarea, de către EMEDITATII, a tuturor clienților (existenți și/sau viitori) cu privire la faptul că ați încălcat Termenii și Condițiile EMEDITATII. </span></li>
</ul>
<p><span>EMEDITATII are dreptul a investiga și de a urmări încălcările de la oricare dintre regulile de mai sus, până la limita superioară a legii. De asemenea, așa cum prevăd și acești Termeni și Condiții, EMEDITATII poate lua o serie de măsuri și acțiuni împotriva celor care nu respectă aceste reguli, ce pot însemna, dar nelimitându-se la, dezactivarea / anularea / ștergerea contului Dvs., anularea Sesiunilor listate în cadrul Platformei, etc. </span></p>
<p><span>EMEDITATII poate accesa, păstra, dezvălui și/sau pune la dispoziție informațiile Dvs. dacă acest lucru este cerut ca urmare a unei reglementări sau legi în vigoare, sau dacă respectivele informații sunt utilizate pentru:   </span></p>
<ul>
    <li><span>A răspunde la reclamații redactate împotriva EMEDITATII; </span></li>
    <li><span>A răspunde la citații, mandate, etc, ca parte a unui proces legal; </span></li>
    <li><span>A pune în aplicare sau de a administra acordurile EMEDITATII cu Utilizatorii; </span></li>
    <li><span>Prevenirea fraudei, evaluarea riscurilor, anchetelor, asigurarea asistenței Utilizatorilor EMEDITATII, dezvoltarea Platformei, etc; </span></li>
    <li><span>Protejarea drepturilor, proprietății sau siguranța EMEDITATII și a Utilizatorilor Platformei. </span></li>
</ul>
<p><span>Sunteți de acord și recunoașteți că EMEDITATII nu are nicio obligație de a monitoriza accesul sau utilizarea de către Dvs. a Platformei online și/sau de a verifica, modifica sau edita Conținutul Utilizator postat de Dvs., dar are dreptul să facă acest lucru în scopul de:</span></p>
<ul>
    <li><span>A opera în bune condiții Platforma; </span></li>
    <li><span>De a o îmbogăți în mod constant (inclusiv, dar fără a se limita la, prevenirea fraudei, evaluarea riscurilor, investigații/anchete, asistentă clienților săi, etc); </span></li>
    <li><span>Pentru a asigura respectarea acestor Termeni și Condiții; </span></li>
    <li><span>Pentru a se conforma cu legislația în vigoare sau hotărâri definitive ale instanțelor judecătorești.</span></li>
</ul>
<p><span>EMEDITATII își rezervă dreptul, în orice moment și fără o notificare prealabilă, de a șterge sau dezactiva accesul la orice Conținut al Platformei, la libera sa alegere, în cazul în care îl consideră inacceptabil pentru orice motiv, prin încălcarea acestor Termeni și Condiții sau în orice alt mod care este dăunător Platformei EMEDITATII sau Utilizatorilor acesteia. </span></p>
<p><span>În cazul în care, în timpul interacțiunilor Dvs. în cadrul Platformei EMEDITATII, identificați faptul că cineva, un Utilizator, acționează sau a acționat într-un mod necorespunzător (inclusiv, dar fără a se limita la, comportament ofensator, violent sau inadecvat din punct de vedere sexual, etc.), ar trebui că imediat sa raportați acest lucru către autoritățile competente și, apoi, să contactați EMEDITATII.</span></p>

<h1><span>15. Politici de confidențialitate</span></h1>
<p><span>Atat <a href="">Politica de Confidentialitate</a> cat si <a href="">Politica Cookie-urilor</a> fac parte integranta din Termenii si Conditiile EMEDITATII, constituind Acorduri juridice obligatorii pentru parti.</span></p>
<p><span>Înțelegeți și sunteți de acord cu faptul că Politica de Confidențialitate si Politica Cookie-urilor, care pot fi actualizate periodic, guvernează modul în care EMEDITATII utilizează datele Dvs. personale.</span></p>
<p><span>Politica de Confidențialitate si Politica cookie-urilor vor fi întotdeauna disponibile în cadrul sectiunii <a href="">Acorduri Juridice</a> de pe <a href="">EMEDITATII Help Center</a>.</span></p>

<h1><span>16. Proprietatea intelectuală</span></h1>
<p><span>Platformă EMEDITATII și Întregul Conținut sunt protejate prin drepturi de autor, mărci comerciale precum și prin orice alte legi ale dreptului internațional în respectivele materii. </span></p>
<p><span>Înțelegeți, recunoașteți și sunteți de acord că Platforma EMEDITATII și toate drepturile de proprietate intelectuală asociate sunt proprietatea exclusivă a EMEDITATII. Nu aveți dreptul de a elimina, modifica sau ascunde însemnele cu privire la drepturile de autor, a mărcii înregistrate sau alte drepturi de proprietate incorporate în Platforma EMEDITATII sau în alte documente / materiale care o însoțesc. </span></p>
<p><span>Toate mărcile comerciale, logo-urile, denumirile comerciale precum și orice alte drepturi de proprietate ale EMEDITATII utilizate de către, sau care au legătură, cu Platforma EMEDITATII sunt mărci comerciale protejate de dreptul internațional.</span></p>

<h1><span>17. Conținut</span></h1>
<h2><span>a. Licențiere</span></h2>
<p><span>În conformitate cu prezentul document de Termeni și Condiții și sub rezerva respectării tuturor condițiilor stipulate aici, EMEDITATII oferă o licență de utilizare limitată, neexclusivă și netransferabilă pentru accesarea și vizualizarea Conținutului Platformei (Conținut EMEDITATII cât și Conținutul Utilizatorilor), exclusiv în scopuri personale și necomerciale. </span></p>
<p><span>Astfel, înțelegeți și sunteți de acord că:</span></p>
<ul>
    <li><span>Nu aveți niciun drept cu privire la sublicențierea drepturilor de licențiere, așa cum au fost definite aici; </span></li>
    <li><span>Nu veți utiliza, copia, modifică, distribui, licenția, vinde, transfera, afișa sau comunica public, transmite, difuza sau exploata în orice mod Platformă EMEDITATII, cu excepția cazurilor permise în mod explicit în acești Termeni și Condiții. </span></li>
</ul>

<h2><span>b. Conținutul Utilizatorilor</span></h2>
<p><span>Că Utilizator al Platformei EMEDITATII aveți dreptul, în limitele impuse și la propria noastră alegere, de a posta, publica, încărca, distribui și transmite conținut pe Platformă. Prin punerea la dispoziție a acestui conținut, în cadrul Platformei EMEDITATII sau prin orice alte inițiative, acțiuni, campanii, etc ale EMEDITATII (publicitare, de promovare, etc), acordați EMEDITATII un drept la nivel mondial, irevocabil, perpetuu, neexclusiv, transferabil, în mod gratuit, cu drept de sublicențiere, de utilizare, vizualizare, copiere, adaptare, modificare, distribuire, licențiere, vânzare, transfer, afișare sau comunicare publică, transmitere, difuzare, acces, în ceea ce privește exploatarea întregului Conținut Utilizator. </span></p>
<p><span>EMEDITATII recunoaște dreptul Dvs. de proprietate asupra Conținutului Utilizator și, prin acești Termeni și Condiții, nu pretinde vreun astfel de drept personal asupra acestuia. Astfel, nici o condiție și/sau reglementare din acești Termeni și Condiții nu vor fi considerate în a limita drepturile Dvs. de a utiliza și exploata acest Conținut. </span></p>
<p><span>Sunteți de acord și confirmați faptul că sunteți singurul responsabil pentru tot Conținutul Utilizator pe care îl faceți public în cadrul Platformei EMEDITATII. Astfel, garantați că:</span></p>
<ul>
    <li><span>Sunteți proprietarul unic și exclusiv al Conținutului sau aveți toate drepturile, licențele și aprobările necesare pentru a acorda EMEDITATII drepturile asupra Conținutului, așa cum este descris în acești Termeni și Condiții; </span></li>
    <li><span>Nu se vor încălca, deturna sau leza brevete de invenție, drepturi de autor, mărci comerciale, secrete comerciale, drepturi morale, drepturi de proprietate sau de proprietate intelectuală, drepturi de publicitate sau de confidențialitate, sau care pot duce la încălcarea oricărei legi sau reglementări în vigoare. </span></li>
</ul>

<h2><span>c. Legături către alte resurse, site-uri, etc</span></h2>
<p><span>Platforma EMEDITATII poate conține legături (link-uri) către site-uri, resurse, conținut extern Platformei. Înțelegeți și sunteți de acord cu faptul că:   </span></p>
<ul>
    <li><span>EMEDITATII nu este responsabil pentru disponibilitatea respectivelor resurse, site-uri, conținut, etc; </span></li>
    <li><span>EMEDITATII nu este responsabil pentru Conținutul, produsele sau serviciile cuprinse în cadrul resurselor externe; </span></li>
    <li><span>Legăturile către conținutul extern nu implică aprobarea de către EMEDITATII a respectivelor resurse sau a conținutului, produselor sau serviciilor cuprinse în cadrul acestora </span></li>
    <li><span>Înțelegeți și sunteți de acord că aveți responsabilitate exclusivă și vă asumați toate riscurile care decurg din utilizarea unor astfel de resurse externe sau a conținutului, produselor sau serviciilor cuprinse în cadrul acestora.</span></li>
</ul>

<h2><span>d. Feedback-ul, Sugestiile și Opiniile Dvs.</span></h2>
<p><span>Puteți să ne transmiteți părerile, sugestiile, opiniile și feedback-ul Dvs. fie prin email, fie folosind secțiunea Contact de pe site-ul public sau, oricând, utilizând opțiunea Feedback / Support din cadrul Platformei EMEDITATII. </span></p>
<p><span>Salutăm și încurajăm întotdeauna astfel de inițiative întrucât ne vor ajuta să îmbunătățim în permanență produsele și serviciile oferite Utilizatorilor EMEDITATII.</span> </p>
<p><span>Înțelegeți și sunteți de acord: </span></p>
<ul>
    <li><span>Că întregul Feedback pe care ni-l transmiteți devine proprietatea EMEDITATII; </span></li>
    <li><span>Transferați irevocabil către EMEDITATII toate drepturile, titlurile și interesele legate de acest Feedback, incluzând, dar nelimitându-se la: brevet/patent/drept cu aplicabilitate universală, drepturi de autor, secret comercial, moral sau alt tip de proprietate, drepturi de proprietate intelectuală, etc.; </span></li>
    <li><span>Că renunțați la orice drepturi morale pe care le-ați putea avea cu privire la Feedback-ul trimis.</span></li>
</ul>

<h1><span>18. Drepturi de autor</span></h1>
<p><span>EMEDITATII respectă drepturile de autor și se așteaptă ca toți Utilizatorii Platformei să facă același lucru. </span></p>
<p><span>În cazul în care Utilizatorii încalcă sau sunt suspectați că încalcă în mod repetat drepturile de autor, EMEDITATII va dispune închiderea sau ștergerea conturilor de Utilizatori ale persoanelor / entităților în cauză. </span></p>
<p><span>Înțelegeți și sunteți de acord că aveți dreptul de a descărca și imprima conținutul Platformei EMEDITATII pentru uz propriu în următoarele condiții:</span></p>
<ul>
    <li><span>Niciun document sau grafică nu va fi modificată; </span></li>
    <li><span>Nici o grafică din cadrul Platformei EMEDITATII nu va fi folosită separat de textul care o însoțește; </span></li>
    <li><span>Toate materialele vor conține referiri cu privire la copyright și marcă.</span></li>
</ul>
<p><span>Dacă nu se specifică altfel, drepturile de autor și alte drepturi de proprietate intelectuală din toate materialele de pe această Platformă sunt deținute de EMEDITATII. </span></p>
<p><span>Nici o parte a acestei platforme nu poate fi reprodusă, stocată sau inclusă în orice alt sistem electronic, public sau privat, fără acordul prealabil EMEDITATII. </span></p>
<p><span>Orice drepturi care nu sunt exprimate în mod expres în această listă sunt rezervate EMEDITATII.</span></p>

<h1>19. Încetarea Acordului</h1>
<p><span>Prezentul Acord va produce efecte pentru o perioadă de 30 de zile de la data acceptării acestuia, ca urmare a creării unui cont de Utilizator în cadrul Platformei EMEDITATII. La sfârșitul respectivei perioade de 30 de zile, Acordul se va reînnoi în mod automat și continuu pentru o perioadă de încă 30 de zile, și tot așa, până în momentul în care una dintre părți va decide să înceteze acest Acord în următoarele condiții, descrise mai jos. </span></p>
<h2><span>a. Rezilierea unilaterală și de comun acord</span></h2>
<p><span>Puteți rezilia unilateral acest Acord în orice moment prin trimiterea unui email către EMEDITATII. </span></p>
<p><span>În cazul în care contul Dvs. de Utilizator are doar rol de Client, toate sesiunile plătite de Dvs. și neefectuate la data închiderii contului vor fi anulate iar sumele respective, plătite către Meditatori, vor fi returnate către Dvs. </span></p>
<p><span>În cazul în care contul Dvs. de Utilizator are și rol de Meditator, toate Sesiunile plătite de către Clienții Dvs. și neefectuate până la data închiderii vor fi automat anulate iar sumele respective vor fi returnate către respectivii Clienți. </span></p>
<p><span>EMEDITATII poate rezilia unilateral acest Acord, fără a aduce atingere drepturilor stipulate mai jos, în orice moment, prin transmiterea unui email către Dvs. </span></p>
<h2><span>b. Încetarea în caz de încălcare, suspendare sau alte măsuri</span></h2>
<p><span>EMEDITATII poate rezilia acest Acord în orice moment, fără niciun preaviz sau notificare în acest sens, dacă:</span></p>
<ul>
    <li><span>Ați încălcat semnificativ acești Termeni și Condiții; </span></li>
    <li><span>Ați furnizat date incorecte, frauduloase, de ne-actualitate sau incomplete în timpul creării Contului EMEDITATII sau în cadrul procesului de Listare a Sesiunilor; </span></li>
    <li><span>Ați încălcat legislația aplicabilă, reglementările în vigoare sau drepturile terților; </span></li>
    <li><span>EMEDITATII consideră, cu bună credință, că o astfel de măsură este necesară pentru a proteja siguranța, dreptul de proprietate sau interesele celorlalți Utilizatori, ale EMEDITATII sau ale terților, pentru prevenirea fraudei, evaluarea riscurilor, desfășurarea anchetelor legale, etc. </span></li>
</ul>
<p><span>EMEDITATII își rezervă dreptul de a:</span></p>
<ul>
    <li><span>Dezactiva/șterge Sesiunile Listate de Dvs., evaluările serviciilor prestate sau orice alt Conținut Utilizator; </span></li>
    <li><span>Anula orice Sesiune care este în proces de rezervare sau care a fost rezervată; </span></li>
    <li><span>Limita utilizarea și/sau accesul la Contul Dvs. și în cadrul Platformei EMEDITATII; </span></li>
    <li><span>Retrage permanent sau temporar accesul la secțiuni, drepturi, condiții special ale Utilizatorilor asociate cu Conturile acestora; </span></li>
    <li><span>Suspendă permanent sau temporar contul Dvs. EMEDITATII; </span></li>
</ul>
<p><span>În condițiile în care:</span></p>
<ul>
    <li><span>Ați încălcat prevederile stipulate în actualul Acord; </span></li>
    <li><span>Ați primit evaluări / review-uri / recomandări deficitare legate de activitatea și serviciile prestate de Dvs. în cadrul Platformei online; </span></li>
    <li><span>EMEDITATII consideră, cu bună credință, că o astfel de măsură este necesară pentru a proteja siguranța, dreptul de proprietate sau interesele celorlalți Utilizatori, ale EMEDITATII sau ale terților, pentru prevenirea fraudei, evaluarea riscurilor, desfășurarea anchetelor legale, etc; </span></li>
</ul>

<h2><span>c. Consecințe</span></h2>
<p><span>În cazul în care EMEDITATII va lua una din măsurile descrise mai sus:</span></p>
<ul>
    <li><span>Vom avea dreptul să comunicăm Clienților sau Meditatorilor, parteneri ai Dvs., că o Sesiune comună, rezervată sau plătită, a fost anulată; </span></li>
    <li><span>Vom avea dreptul să returnăm sumele plătite de Clienți către Meditatori pentru Sesiuni care au fost anulate; </span></li>
    <li><span>Nu veți avea dreptul la nici o compensație pentru Sesiunile rezervate și/sau plătite care fost anulate. </span></li>
</ul>
<p><span>Dacă acest Acord va înceta, la inițiativă Dvs. sau a EMEDITATII, în condițiile stipulate mai sus, nu avem nicio obligație de a șterge sau de a vă returna Conținutul Utilizator precum și nicio evaluare/Feedback/review-uri făcute și/sau transmise de către Dvs.. La finalizarea acestui Acord nu aveți dreptul la înapoierea contului sau a Conținutului Dvs. </span></p>
<p><span>Dacă accesul sau utilizarea Platformei EMEDITATII au fost restricționate, în cazul în care contul Dvs. a fost suspendat sau dacă Acordul a fost reziliat de către EMEDITATII, nu aveți dreptul de a crea sau înregistra un nou Cont de Utilizator sau de a accesa serviciile Platformei EMEDITATII prin folosirea unor alte conturi de utilizator. </span></p>
<p><span>În caz de reziliere, toate clauzele acestui Acord, care sunt rezonabile a rămâne în vigoare, vor rămâne active și vor produce, astfel, în continuare efecte. </span></p>

<h1><span>20. Declinarea Răspunderii</span></h1>
<p><span>În cazul în care decideți să utilizați Platforma EMEDITATII, acest lucru se va realiza pe propriul dumneavoastră risc. De asemenea, înțelegeți și sunteți de acord că EMEDITATII nu are nici o obligație să efectueze controale, verificări, investigații asupra Utilizatorilor platformei în ceea ce privește conduita lor personală sau de grup, abateri de la regulile sociale, infracțiuni comise de aceștia (de ordin administrativ, civil sau penal), etc, dar poate efectua astfel de inițiative la libera sa alegere. </span></p>
<p><span>În cazul în care decidem să efectuăm astfel de controale, în limitele prevăzute de legislația în vigoare, nu garantăm în niciun fel, explicit sau implicit, că rezultatele acestora vor și identifica existența unor abateri din trecut ale utilizatorilor sau respectivii utilizatori nu se vor angaja în astfel de abateri în viitor. </span></p>
<p><span>Serviciile Platformei EMEDITATII și Întregul Conținut sunt puse la dispoziția Utilizatorilor ca atare, fără nici o garanție, de orice fel, explicită sau implicită. Astfel, EMEDITATII nu oferă nici o garanție că Platformă online (site-ul, conținutul, aplicațiile, serviciile, etc.) inclusiv, dar fără a se limita la, Sesiunile listate în cadrul EMEDITATII vor îndeplini/satisface cerințele Dvs. sau vor fi disponibile în mod continuu, neîntrerupt, sigure sau fără erori. EMEDITATII nu oferă nicio garanție în ceea ce privește calitatea serviciilor disponibile în cadrul Platformei, a Utilizatorilor EMEDITATII dar nici cu privire la acuratețea, actualitatea, corectitudinea, completitudinea sau fiabilitatea Întregului Conținut sau a serviciilor Platformei EMEDITATII.</span></p>
<p><span>Orice informație, sfat, părere, răspuns, clarificare oferite de EMEDITATII, în mod scris sau oral, obținute direct sau prin intermediul Platformei Online, nu vă determină în mod automat o garanție oferită de EMEDITATII, decât în condițiile expres stipulate în acești Termeni și Condiții. </span></p>
<p><span>În ceea ce privește comunicarea și interacțiunile Dvs. cu alți Utilizatori ai Platformei, sunteți singurul responsabil, la fel ca și atunci când interacționați și/sau comunicați cu alte persoane ca urmare a utilizării EMEDITATII. Înțelegeți, de asemenea, faptul că EMEDITATII nu va încerca niciodată sa verifice conținutul pus la dispoziție de Utilizatori sau să verifice în mod direct sau indirect serviciile listate în cadrul Platformei.</span></p>
<p><span>EMEDITATII nu oferă nicio garanție cu privire la comportamentul Utilizatorilor Platformei sau compatibilitatea acestora cu ceilalți Utilizatori. Sunteți de acord să acționați cu precauție și responsabilitate în toate comunicările și interacțiunile cu ceilalți Utilizatori EMEDITATII precum și în cazul interacțiunilor și comunicărilor cu alte persoane ca urmare a utilizării Platformei, mai ales dacă decideți să vă întâlniți, în persoană, în mediul fizic, offline, chiar și atunci când astfel de întâlniri sunt organizate de EMEDITATII. </span></p>
<p><span>EMEDITATII declină în mod explicit orice responsabilitate pentru acțiuni sau omisiuni ale utilizatorilor sau terților. </span></p>

<h1><span>21. Limitele răspunderii</span></h1>
<p><span>Înțelegeți, recunoașteți și sunteți de acord că, până la limita superioară prevăzută de lege, întregul risc care decurge ca urmare a utilizării Platformei EMEDITATII, a Sesiunilor listate în cadrul Platformei precum și în orice contact sau comunicare dintre Dvs. și un alt Utilizator EMEDITATII, indiferent dacă se întâmplă online, pe Platformă, sau în mediul fizic, ofline, cad în sarcina Dumneavoastră. </span></p>
<p><span>Atât EMEDITATII cât și orice altă parte implicată în crearea, dezvoltarea sau livrarea Platformei online nu sunt responsabili pentru orice daune indirecte, conexe, caracteristice, specifice și/sau care ar putea fi determinate de utilizarea EMEDITATII, cum ar fi pierderea de câștiguri (bani, profituri, etc); pierderea de date; întreruperea serviciilor; daune ale sistemelor informatice (calculatoare, imprimante, router-e, switch-uri, etc); vătămare corporală sau stres emoțional care decurg sau au legătură cu acești Termeni și Condiții; utilizarea sau imposibilitatea utilizării Platformei online; comunicările, interacțiunile sau întâlnirile cu alți Utilizatori ai Platformei; comunicările, interacțiunile sau întâlnirile cu alte persoane ca urmare a utilizării Platformei; sesiunile listate, rezervate, plătite în cadrul Platformei. </span></p>
<p><span>Cu excepția cazurilor în care EMEDITATII are obligația de a onora plățile către Meditatori în conformitate cu prezentul Acord, limita maximă și totală a răspunderii EMEDITATII care poate decurge din acești Termeni și Condiții este după cum urmează:</span></p>
<ul>
    <li><span>Către Clienți, nu va depăși valoarea totală a tuturor plăților pe care Dvs. le-ați efectuat în cadrul Platformei EMEDITATII în decursul ultimelor 12 luni, calculate de la data la care a apărut evenimentul care a declanșat/determinat răspunderea EMEDITATII; </span></li>
    <li><span>Către Specialiști, nu va depăși valoarea totală a tuturor plăților pe care EMEDITATII le-a efectuat către Dvs., ca urmare a serviciilor prestate în cadrul Platformei EMEDITATII, în decursul ultimelor 12 luni, calculate de la data la care a apărut evenimentul care a declanșat răspunderea EMEDITATII; </span></li>
    <li><span>În cazul în care nu există astfel de plăți realizate în ultimele 12 luni, calculate de la data la care a apărut evenimentul care a declanșat răspunderea EMEDITATII, limita maximă și totală va fi de 100 Euro. </span></li>
</ul>
<p><span>Înțelegeți și sunteți de acord că limitele expuse mai sus constituie elemente principale și esențiale ale eventualelor dispute dintre Dvs. și EMEDITATII. </span></p>
<p><span>De asemenea, înțelegeți faptul că unele jurisdicții nu permit excluderea sau limitarea răspunderii pentru daune indirecte sau conexe, astfel încât reglementările expuse mai sus nu se vor aplica.</span></p>

<h1><span>22. Dispoziții finale</span></h1>
<p><span>Acești Termeni și Condiții constituie Acordul și înțelegerea exclusivă și totală dintre EMEDITATII și Dvs. cu privire la utilizarea Platformei EMEDITATII, cu excepția cazului în care pot fi completate cu politici suplimentare ale EMEDITATII (ghiduri, orientări, standarde, termeni și condiții pentru produse și/sau servicii specifice, etc), situație în care respectivele documente fac parte integrantă din acest Acord. </span></p>
<p><span>De asemenea, acest Acord elimină și înlocuiește toate înțelegerile anterioare, scrise sau orale, dintre Dvs. și EMEDITATII cu privire la Sesiunile listate, rezervate, plătite; utilizarea Platformei EMEDITATII, a serviciilor disponibile în cadrul Platformei, etc.</span></p>

<h1><span>23. Notificări</span></h1>
<p><span>Toate notificările și/sau orice comunicare, inclusiv cele legate de modificările aduse acestor Termeni și Condiții, se vor face de către EMEDITATII în scris:</span> </p>
<ul>
    <li><span>Prin email (poștă electronică), către adresa pe care Dvs. ați pus-o la dispoziție la crearea contului EMEDITATII; </span></li>
    <li><span>Prin mesaje publicate în cadrul Platformei EMEDITATII.</span></li>
</ul>
<p><span>Pentru notificările făcute prin email (poșta electronică), data primirii acestora va fi considerată data la care se transmite respectiva notificare. </span></p>

<h1><span>24. Jurisdicție și soluționarea litigiilor</span></h1>
<p><span>Acești termeni vor fi guvernați și interpretați în conformitate cu legislația românească și cea a Uniunii Europene. Orice divergență apărută între Părți se va soluționa pe cale amiabilă. Dacă soluționarea pe cale amiabilă nu este posibilă, Părțile se vor adresa instanțelor de judecată competente din București, cu excepția situațiilor în care legea prevede în mod expres și imperativ competența altei instanțe de judecată. Totodată, Utilizatorul este informat și ca are posibilitatea de a se adresa Autorității Naționale pentru Protecția Consumatorilor (Bdul. Aviatorilor nr. 72, Sector 1, București, office@anpc.ro) sau apela la mediere, în conformitate cu prevederile Legii nr. 192/2006, privind medierea și organizarea profesiei de mediator, cu completările și modificările ulterioare. </span></p>

<h1><span>25. Comunicare</span></h1>
<p><span>În cazul în care aveți nelămuriri, neclarități sau pentru orice întrebări legate de Termenii și Condițiile de utilizare, va rugăm să ne contactați la hello@EMEDITATII.ro. </span></p>

<h1><span>26. Condiții specifice</span></h1>
<p><span>Întrucât Platforma EMEDITATII conține o multitudine de funcționalități (produse, servicii, add-on-uri, plugin-uri, etc), unele dintre acestea pot fi reglementate de Termeni și Condiții Specifice, care pot defini condiții de utilizare sau cerințe speciale aplicabile individual. În toate cazurile, Condițiile Specifice vor deveni parte integrată din prezentul document. </span></p>

    <div class="row text-center">
     
        <div class="col-md-12">
            <ins class="adsbygoogle"
     style="display:block"
     data-ad-client="ca-pub-5390319007504241"
     data-ad-slot="5486709324"
     data-ad-format="auto"
     data-full-width-responsive="true"></ins>
<script>
     (adsbygoogle = window.adsbygoogle || []).push({});
</script>
        </div>
        
    </div>

    <hr />