@model meditatii.Models.ContactViewModel
@{
    ViewBag.Title = "Revenim curand";
}

<div class="middle-container">


    <link rel="stylesheet" href="/Content/css/thankyou.css">
    <!--- middle Container ---->

    <div class="middle-container">
        <div class="paddings thankyou-section" data-moduleid="2050" id="ContactUsPane">
            Revenim in curand ...
        </div>
    </div>
    <!--- middle Container ---->

</div>