@{
    ViewBag.Title = "Abonamente";
}
<meditatii-app>

</meditatii-app>

<div class="container">

    <div class="row">
        <div class="col-md-12 text-center">
            <h1 class="green">Abonamente pentru meditatori</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12 col-md-8 col-md-offset-2">
            <br>
            <p class="lead text-center">
                Ca meditator, crearea unui profil este gratuită.

                Pe eMeditatii.ro meditatorii plătesc doar pentru conectarea cu elevii.

                Comunicarea nelimitată cu elevii este posibilă cu ajutorul următoarelor abonamente:
            </p>
        </div>
    </div>

    <div class="row package-benefits">
        <div class="col-md-12">
            <div id="carousel-benefits" class="row package-benefits in-modal carousel slide" data-ride="carousel" data-interval="10000">
                <div class="benefit-icons">
                    <div class="col-md-2 col-sm-4 col-xs-6 benefit no-ads">
                        <a href="#" data-target="#carousel-benefits" data-slide-to="0">
                            <div class="benefit-header">Niciun alt meditator pe profilul tău</div>
                        </a>
                    </div>
                    <div class="col-md-2 col-sm-4 col-xs-6 benefit topping-profiles">
                        <a href="#" data-target="#carousel-benefits" data-slide-to="1">
                            <div class="benefit-header">Top clasament pe eMeditatii.ro </div>
                        </a>
                    </div>
                    <div class="clearfix d-block d-sm-none"></div>

                    <div class="col-md-2 col-sm-4 col-xs-6 benefit no-subscription">
                        <a href="#" data-target="#carousel-benefits" data-slide-to="2">
                            <div class="benefit-header">Anulează oricând, fără contract fix</div>
                        </a>
                    </div>
                    <div class="col-md-2 col-sm-4 col-xs-6 benefit money-back">
                        <a href="#" data-target="#carousel-benefits" data-slide-to="3">
                            <div class="benefit-header">Garanția returnării banilor</div>
                        </a>
                    </div>
                    <div class="clearfix d-block d-sm-none"></div>

                    <div class="col-md-2 col-sm-4 col-xs-6 benefit recommended active">
                        <a href="#" data-target="#carousel-benefits" data-slide-to="4">
                            <div class="benefit-header">Mai multă vizibilitate pentru profilul tău</div>
                        </a>
                    </div>
                    <div class="col-md-2 col-sm-4 col-xs-6 benefit student-contacts">
                        <a href="#" data-target="#carousel-benefits" data-slide-to="5">
                            <div class="benefit-header">Găsește câți elevi vrei</div>
                        </a>
                    </div>
                </div>

            </div>
        </div>
    </div>

    <div class="row package-list">
        <div class="col-md-4 col-sm-6">
            <div class="package-container package-1">
                <strong class="package-name">
                    1 lună
                </strong>
                <span class="price">
                    39,00RON
                </span>
                <p class="billing-frequency">facturare lunară</p>
                <span class="cancel-anytime">
                    anulează oricând
                </span>
                <a class="btn btn-block activate-package-btn" href="/payment/31" id="activate-package-btn-31">
                    rezervă abonament
                </a>
            </div>
        </div>
        <div class="col-md-4 col-sm-6">
            <div class="package-container package-2">
                <strong class="package-name">
                    3 luni
                </strong>
                <span class="price">
                    69,00RON
                </span>
                <p class="billing-frequency">facturare la fiecare 3 luni</p>
                <span class="cancel-anytime">
                    anulează oricând
                </span>
                <a class="btn btn-block activate-package-btn" href="/payment/93" id="activate-package-btn-93">
                    rezervă abonament
                </a>
            </div>
        </div>
        <div class="col-md-4 col-sm-6">
            <div class="package-container package-3">
                <strong class="package-name">
                    1 an
                </strong>
                <span class="price">
                    179,00RON
                </span>
                <p class="billing-frequency">facturare anuală</p>
                <span class="cancel-anytime">
                    anulează oricând
                </span>
                <a class="btn btn-block activate-package-btn" href="/payment/365" id="activate-package-btn-365">
                    rezervă abonament
                </a>
            </div>
        </div>
    </div>

    <div class="row payment-benefits">
        <div class="col-sm-4">
            <h2>plata <span>sigură</span></h2>
        </div>
        <div class="col-sm-4">
            <h2>metode de plată <span>populare</span> </h2>
            <div class="benefit-favourites">
                <div class="cc-icon-independent ci-visa"></div>
                <div class="cc-icon-independent ci-mastercard"></div>
                <div class="cc-icon-independent ci-maestro"></div>
            </div>
        </div>
        <div class="col-sm-4">
            <h2>furnizori de plată <span>de încredere</span></h2>
            <p class="benefit-reliable">
            </p>
        </div>
    </div>
</div>