<div class="appoitments-container">
    <h1>Programări</h1>
    <div class="row p-3" *ngIf="selectedPayment && selectedPayment.length > 0" style="background-color:rgba(0, 0, 0, 0.03)">
        <div class="col-md-4">
            Ai ales să plăteşti suma de {{totalToPay}} (Lei) 
        </div>
        <div class="col-md-2">
                <button class="btn btn-block btn-danger btn-sm m-0-top m-0-left-right m-sm-bottom" (click)="pay();">
                        <span>Plateste</span>
                </button>    
        </div>
    </div>
    <div *ngFor="let appoitment of appoitments" [class.appoitmentCanJoin]='appoitment.CanJoin'>
        <article class="row paddingtop20" *ngIf="currentProfile.IsTeacher">
            <div class="col-md-1">
                    <img src="{{appoitment.Learner.ProfileImageUrl}}" class="avatar" />
            </div>
            <div class="col-md-2">
                <div id="name" class="m-0-top-bottom display-inline-block">
                     {{appoitment.Learner.FirstName}} {{appoitment.Learner.LastName}} 
                </div>
            </div>
            <div class="col-md-2">
                {{appoitment.StartDate | date:'yyyy-MM-dd'}}
            </div>
            <div class="col-md-2">
                {{appoitment.StartDate | date:'HH:mm'}} - {{appoitment.EndDate | date:'HH:mm'}}
            </div>
            <div class="col-md-1">
                    {{appoitment.Price != null && appoitment.Price != "" ? appoitment.Price + " lei" : "-"}}
            </div>
            <div class="col-md-2">
                <div class="row">
                    <div class="col-md-12">
                        <div class="m-sm-bottom m-0-top">
                                <button class="btn btn-block btn-secondary btn-sm m-0-top m-0-left-right m-sm-bottom" (click)="deleteAppoitment(appoitment.Id)">
                                        <span>Anulare</span>
                            </button>
                            <button class="btn btn-block btn-primary btn-sm m-0-top m-0-left-right m-sm-bottom" (click)="selectUser(appoitment.Learner.Id);open(content);">
                                <span>Trimite mesaj</span>
                            </button>
                            <button *ngIf="!appoitment.AcceptedByTeacher" class="btn btn-block btn-danger btn-sm m-0-top m-0-left-right m-sm-bottom"  (click)="acceptAppoitment(appoitment.Id);">
                                <span>Acceptă programarea</span>
                            </button>
                            <button *ngIf="appoitment.CanJoin || this.isDebug" class="btn btn-block btn-danger btn-sm m-0-top m-0-left-right m-sm-bottom"  (click)="openNewTab('/room/' + appoitment.Id);">
                                <span>Începe meditația</span>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </article>


        <article class="row paddingtop20" *ngIf="!currentProfile.IsTeacher">
                <div class="col-md-1">
                    <a href="/teacherprofile/{{appoitment.Teacher.Id}}">
                        <img src="{{appoitment.Teacher.ProfileImageUrl}}" class="avatar" />
                    </a>
                </div>
                <div class="col-md-2">
                    <div id="name" class="m-0-top-bottom display-inline-block">
                        <a href="/teacherprofile/{{appoitment.Teacher.Id}}"> {{appoitment.Teacher.FirstName}} {{appoitment.Teacher.LastName}} </a>
                    </div>
    
                    <div class="star-rating-small">
                        <div class="star-rating-small-cover">
                            <div class="star-rating-small-progress" [style.width.%]="appoitment.Teacher.Rating"></div>
                        </div>
                    </div>
                </div>
                <div class="col-md-2">
                    {{appoitment.StartDate | date:'yyyy-MM-dd'}}
                </div>
                <div class="col-md-2">
                    {{appoitment.StartDate | date:'HH:mm'}} - {{appoitment.EndDate | date:'HH:mm'}}
                </div>
                <div class="col-md-1">
                        {{appoitment.Price != null && appoitment.Price != "" ? appoitment.Price + " lei" : "-"}}
                </div>                
                <div class="col-md-2">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="m-sm-bottom m-0-top">
                                    <button class="btn btn-block btn-secondary btn-sm m-0-top m-0-left-right m-sm-bottom" (click)="deleteAppoitment(appoitment.Id)">
                                            <span>Anulare</span>
                                        </button>
                                        <button class="btn btn-block btn-primary btn-sm m-0-top m-0-left-right m-sm-bottom" (click)="selectUser(appoitment.Teacher.Id);open(content);">
                                                <span>Trimite mesaj</span>
                                            </button>
                                            <button *ngIf="needToPay(appoitment) || this.isDebug" class="btn btn-block btn-danger btn-sm m-0-top m-0-left-right m-sm-bottom" (click)="selectPayment(appoitment.Id, appoitment.Price, $event.target);">
                                                    <span>Achita</span>
                                                </button>
                                                <button *ngIf="appoitment.CanJoin || this.isDebug" class="btn btn-block btn-danger btn-sm m-0-top m-0-left-right m-sm-bottom"  (click)="openNewTab('/room/' + appoitment.Id);">
                                                    <span>Începe meditația</span>
                                                </button>
                                                <span color="red;" style="color: red !important;" *ngIf="!appoitment.AcceptedByTeacher" >In curs de validare de profesor</span>
                                                <span color="red;" style="color: green !important;" *ngIf="appoitment.AcceptedByTeacher && !needToPay(appoitment) " >Achitat</span>
                            </div>
                        </div>
                    </div>
                </div>
            </article>
    </div>
    <div *ngIf="appoitments && appoitments.length == 0">
        Nu sunt programari.
    </div>
    <br/>
    <br/>
    <div id="accordion">
        <div id="card">
            <div class="card-header" id="headingOne">
                <h5 class="mb-0">
                    <button class="btn btn-link" data-toggle="collapse" data-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
                    Programarii anterioare
                    </button>
                  </h5>
            </div>
            <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordion">
                <div class="card-body">
                    <div *ngFor="let appoitment of oldAppoitments">
                            <article class="row paddingtop20" *ngIf="currentProfile.IsTeacher">
                                    <div class="col-md-1">
                                            <img src="{{appoitment.Learner.ProfileImageUrl}}" class="avatar" />
                                    </div>
                                    <div class="col-md-2">
                                        <div id="name" class="m-0-top-bottom display-inline-block">
                                             {{appoitment.Learner.FirstName}} {{appoitment.Learner.LastName}} 
                                        </div>
                                    </div>
                                    <div class="col-md-2">
                                        {{appoitment.StartDate | date:'yyyy-MM-dd'}}
                                    </div>
                                    <div class="col-md-2">
                                        {{appoitment.StartDate | date:'HH:mm'}} - {{appoitment.EndDate | date:'HH:mm'}}
                                    </div>
                                    <div class="col-md-3">
                                        <div class="row">
                                            <div class="col-md-12">
                                                <div class="m-sm-bottom m-0-top">
                                                    <button class="btn btn-block btn-secondary btn-sm m-0-top m-0-left-right m-sm-bottom" (click)="loadChatHistoryForAppoitment(appoitment.Id);open(appoitmentchat);">
                                                        <span>Notite</span>
                                                    </button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </article>

                                <article class="row paddingtop20" *ngIf="!currentProfile.IsTeacher">
                                        <div class="col-md-1">
                                            <a href="/teacherprofile/{{appoitment.Teacher.Id}}">
                                                <img src="{{appoitment.Teacher.ProfileImageUrl}}" class="avatar" />
                                            </a>
                                        </div>
                                        <div class="col-md-2">
                                            <div id="name" class="m-0-top-bottom display-inline-block">
                                                <a href="/teacherprofile/{{appoitment.Teacher.Id}}"> {{appoitment.Teacher.FirstName}} {{appoitment.Teacher.LastName}} </a>
                                            </div>
                            
                                            <div class="star-rating-small">
                                                <div class="star-rating-small-cover">
                                                    <div class="star-rating-small-progress" [style.width.%]="appoitment.Teacher.Rating"></div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-2">
                                            {{appoitment.StartDate | date:'yyyy-MM-dd'}}
                                        </div>
                                        <div class="col-md-2">
                                            {{appoitment.StartDate | date:'HH:mm'}} - {{appoitment.EndDate | date:'HH:mm'}}
                                        </div>
                                        <div class="col-md-1">
                                                {{appoitment.Price != null && appoitment.Price != "" ? appoitment.Price + " lei" : "-"}}
                                        </div>                                        
                                        <div class="col-md-2">
                                            <div class="row">
                                                <div class="col-md-12">
                                                    <div class="m-sm-bottom m-0-top">
                                                        <button class="btn btn-block btn-secondary btn-sm m-0-top m-0-left-right m-sm-bottom"
                                                            (click)="loadChatHistoryForAppoitment(appoitment.Id);open(appoitmentchat);">
                                                            <span>Notite</span>
                                                        </button>
                                                        <button class="btn btn-primary btn-block btn-sm m-0-top m-0-left-right m-sm-bottom"
                                                            (click)="selectAppoitment(appoitment.Id);open(teacherrating);" *ngIf="appoitment.isReadyForRating">
                                                            <span>Acorda o nota</span>
                                                        </button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </article>                                      
                    </div>
                </div>
              </div>            
        </div>
    </div>
</div>

<!-- Modal -->
<ng-template #content let-c="close" let-d="dismiss">
    <div class="modal-header">
        <h4 class="modal-title">Trimite mesaj</h4>
        <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <textarea placeholder="Mesaj" name="newMessage" id="newMessage" [(ngModel)]="newMessage" required
            style="width:100%;max-width:100%"></textarea>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-outline-dark" (click)="sendMessage();c('Save click');">Trimite
            mesajul</button>
    </div>
</ng-template>

<ng-template #appoitmentchat let-c="close" let-d="dismiss">
    <div class="modal-header">
        <h4 class="modal-title">Mesaje trimise in timpul meditatiei</h4>
        <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <div class="panel-body">
            <ul class="chat" *ngIf="appoitmentchats">
                <li *ngFor="let chat of appoitmentchats" class="clearfix" [class.left]="chat.IsMine" [class.right]="!chat.IsMine">
                    <span class="chat-img" [class.float-right]="!chat.IsMine" [class.float-left]="chat.IsMine">
                        <img src="{{chat.User.ProfileImageUrl}}" alt="User Avatar"  class="avatar-verysmall"  />
                    </span>
                    <div class="chat-body clearfix">
                        <div class="header">
                            <strong class="primary-font" [class.float-right]="!chat.IsMine">{{chat.User.FirstName}} {{chat.User.LastName}}</strong> <small
                                class="pull-right text-muted">
                                <span class="glyphicon glyphicon-time"></span>{{chat.Added | date: 'yyyy-MM-dd hh:mm'}}</small>
                        </div>
                        <p>
                            {{chat.Message}}
                        </p>
                    </div>
                </li>
            </ul>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-outline-dark" (click)="c('Close  click');">Inchide</button>
    </div>
</ng-template>
    
<ng-template #teacherrating let-c="close" let-d="dismiss">
    <div class="modal-header">
        <h4 class="modal-title">Cum evaluezi meditatia ?</h4>
        <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <div class="panel-body">
            <div class="row">
                <div class="col-md-12">
                    Salutare, Apreciem că ai folosit platforma eMeditatii.ro vrem să te mulțumim la fiecare experiență. Te rugăm, acorda o nota cum a mers meditatia ?
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    Te rugăm să folosești următoarea scală 
                </div>
            </div>
            <div class="row pb-3">
                <div class="col-md-12">
                    0 = foate slab, 10 = foarte buna
                </div>
            </div>    
            <div class="row d-flex justify-content-center bg-secondary text-white">
                <div class="col-md-1">0</div>
                <div class="col-md-1">1</div>
                <div class="col-md-1">2</div>
                <div class="col-md-1">3</div>
                <div class="col-md-1">4</div>
                <div class="col-md-1">5</div>
                <div class="col-md-1">6</div>
                <div class="col-md-1">7</div>
                <div class="col-md-1">8</div>
                <div class="col-md-1">9</div>
                <div class="col-md-1">10</div>
            </div>
            <div class="row d-flex justify-content-center bg-light">
                <div class="col-md-1"><input type="radio" name="rate" id="rate0" (click)="selectRate(0)"></div>
                <div class="col-md-1"><input type="radio" name="rate" id="rate1" (click)="selectRate(1)"></div>
                <div class="col-md-1"><input type="radio" name="rate" id="rate2" (click)="selectRate(2)"></div>
                <div class="col-md-1"><input type="radio" name="rate" id="rate3" (click)="selectRate(3)"></div>
                <div class="col-md-1"><input type="radio" name="rate" id="rate4" (click)="selectRate(4)"></div>
                <div class="col-md-1"><input type="radio" name="rate" id="rate5" (click)="selectRate(5)"></div>
                <div class="col-md-1"><input type="radio" name="rate" id="rate6" (click)="selectRate(6)"></div>
                <div class="col-md-1"><input type="radio" name="rate" id="rate7" (click)="selectRate(7)"></div>
                <div class="col-md-1"><input type="radio" name="rate" id="rate8" (click)="selectRate(8)"></div>
                <div class="col-md-1"><input type="radio" name="rate" id="rate9" (click)="selectRate(9)"></div>
                <div class="col-md-1"><input type="radio" name="rate" id="rate10" (click)="selectRate(10)"></div>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-outline-dark" (click)="saveRate();">Salveaza nota acordata</button>
    </div>
</ng-template>