<div class="row message-container paddingtop20">
	<aside class="col-md-2 col-sm-4" style="height:100%;">
		<div class="logo">
			<img src="/img/svg/prof.svg" />
		</div>
		<br>
		<div class="left-navigation mentorlist">

			<ul *ngFor="let mentor of mentors" class="list-group">
				<li class="list-group-item" (click)="LoadMessages(mentor)"><a (click)="LoadMessages(mentor)">{{mentor.Name}}</a></li>
			</ul>
		</div>
	</aside>

	<div class="col-md-10 col-sm-8 conversation-section">
		<!--Main content code to be written here -->
		<h1>Mesaje</h1>

		<div class="card" *ngIf="currentMentorId == '' || currentMentorId == null">
			<div class="card-body">
			  Selectați o conversație.
			</div>
		  </div>
		  
		  <ngb-alert *ngIf="successMessage" type="success" (close)="successMessage = null">{{ successMessage }}</ngb-alert>

			<div class="col-md-2 col-sm-2 main-content pt-3">
				<!--Main content code to be written here -->
				<div *ngIf="currentMentorId != '' ">
					<button class="btn btn-block btn-primary btn-sm m-0-top m-0-left-right m-sm-bottom" data-toggle="modal" data-target="#myModal" (click)="checkSendMessage(newmessage,subscriptions)">
						<span>Trimite mesaj</span>
					</button>
				</div>
				
			</div>

		<div class="conversation-viewport custom-scroll scroll-down">
			<div *ngFor="let message of messages" class="message" [class.my]="message.isMy">
				<article class="messagestatus">
						<a><img src="{{message.FromProfileImageUrl}}" class="avatar-small" /></a>
						&nbsp;
						<a>{{message.SenderName}}</a>
				</article>
				<article class="messagebody" >
					<div class="col-md-12">
						<div id="subject" class="m-0-top-bottom display-inline-block"> {{message.Body}} </div>
					</div>
				</article>
				<div class="time-ago">
					<span title="{{message.Added | date: 'yyyy-MM-dd hh:mm'}}">{{message.Added | niceDateFormatPipe}}</span>
				</div>
			</div>

		</div>
		
	</div>
</div>
<!-- Modal -->


<ng-template #newmessage let-c="close" let-d="dismiss">
	<div class="modal-header">
	  <h4 class="modal-title">Mesaj nou</h4>
	  <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
		<span aria-hidden="true">&times;</span>
	  </button>
	</div>
	<div class="modal-body">
		<textarea placeholder="Mesaj" name="newMessage" id="newMessage" [(ngModel)]="model.newMessage" required style="width:100%;max-width: 100%;"></textarea>
	</div>
	<div class="modal-footer">
	  <button type="button" class="btn btn-outline-dark" (click)="sendMessage();d('Cross click');">Trimite mesajul</button>
	</div>
  </ng-template>

  <ng-template #subscriptions let-c="close" let-d="dismiss">
	<div class="modal-header">
	  <h4 class="modal-title">Abonamente</h4>
	  <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
		<span aria-hidden="true">&times;</span>
	  </button>
	</div>
	<div class="modal-body">

		<div class="row package-list">
			<div class="col-md-4 col-sm-6">
				<div class="package-container package-1">
					<strong class="package-name">
						1 lună
					</strong>
					<span class="price">
						39,00RON
					</span>
					<p class="billing-frequency">facturare lunară</p>
					<span class="cancel-anytime">
						anulează oricând
					</span>
					<a class="btn btn-block activate-package-btn" href="/payment/31" id="activate-package-btn-31">
						rezervă abonament
					</a>
				</div>
			</div>
			<div class="col-md-4 col-sm-6">
				<div class="package-container package-2">
					<strong class="package-name">
						3 luni
					</strong>
					<span class="price">
						69,00RON
					</span>
					<p class="billing-frequency">facturare la fiecare 3 luni</p>
					<span class="cancel-anytime">
						anulează oricând
					</span>
					<a class="btn btn-block activate-package-btn" href="/payment/93" id="activate-package-btn-93">
						rezervă abonament
					</a>
				</div>
			</div>
			<div class="col-md-4 col-sm-6">
				<div class="package-container package-3">
					<strong class="package-name">
						1 an
					</strong>
					<span class="price">
						179,00RON
					</span>
					<p class="billing-frequency">facturare anuală</p>
					<span class="cancel-anytime">
						anulează oricând
					</span>
					<a class="btn btn-block activate-package-btn" href="/payment/365" id="activate-package-btn-365">
						rezervă abonament
					</a>
				</div>
			</div>
		</div>

		<div class="row package-benefits">
			<div class="col-md-12">
				<div id="carousel-benefits" class="row package-benefits in-modal carousel slide" data-ride="carousel" data-interval="10000">
					<div class="benefit-icons">
						<div class="col-md-2 col-sm-4 col-xs-6 benefit no-ads">
							<a href="#" data-target="#carousel-benefits" data-slide-to="0">
								<div class="benefit-header">Niciun alt meditator pe profilul tău</div>
							</a>
						</div>
						<div class="col-md-2 col-sm-4 col-xs-6 benefit topping-profiles">
							<a href="#" data-target="#carousel-benefits" data-slide-to="1">
								<div class="benefit-header">Top clasament pe eMeditatii.ro </div>
							</a>
						</div>
						<div class="clearfix d-block d-sm-none"></div>
	
						<div class="col-md-2 col-sm-4 col-xs-6 benefit no-subscription">
							<a href="#" data-target="#carousel-benefits" data-slide-to="2">
								<div class="benefit-header">Anulează oricând, fără contract fix</div>
							</a>
						</div>
						<div class="col-md-2 col-sm-4 col-xs-6 benefit money-back">
							<a href="#" data-target="#carousel-benefits" data-slide-to="3">
								<div class="benefit-header">Garanția returnării banilor</div>
							</a>
						</div>
						<div class="clearfix d-block d-sm-none"></div>
	
						<div class="col-md-2 col-sm-4 col-xs-6 benefit recommended active">
							<a href="#" data-target="#carousel-benefits" data-slide-to="4">
								<div class="benefit-header">Mai multă vizibilitate pentru profilul tău</div>
							</a>
						</div>
						<div class="col-md-2 col-sm-4 col-xs-6 benefit student-contacts">
							<a href="#" data-target="#carousel-benefits" data-slide-to="5">
								<div class="benefit-header">Găsește câți elevi vrei</div>
							</a>
						</div>
					</div>
	
				</div>
			</div>
		</div>
	</div>
	<div class="modal-footer">
	  
	</div>
  </ng-template>