
<div class="row message-container paddingtop20">
	<aside class="col-md-2 col-sm-4" style="height:100%;">
		<div class="left-navigation">
				<div class="logo" (click)="open(content)" *ngIf="model">
						<a ><img [src]="model.ProfileImageUrl"  class="avatar-big" placement="bottom" ngbTooltip="Click pentru a schimba poza."  /></a>
					</div>
					<br>
			<ul class="list-group" *ngIf="model && model.IsTeacher">
				<li class="list-group-item" data-toggle="modal" data-target="#myModal" (click)="open(disciplines, { windowClass: 'disciplinesmodal' })"><a>Materii</a></li>
				<li class="list-group-item" data-toggle="modal" data-target="#myModal" (click)="open(grades)"><a>Ciclu școlar</a></li>
			</ul>
		</div>
	</aside>

	<div class="col-md-10 col-sm-8 conversation-section" *ngIf="model">
		<!--Main content code to be written here -->
		<h1>Profilul meu</h1>
		
			<div class="card">
				<div class="card-header"><b>Date generale</b>
						<div class="btn-group float-right" style="margin-top:-7px;">
							<a href="javascript:void(0);" *ngIf="!editmodeprofile" (click)="editProfile()" class="btn btn-primary">Modifică</a>
							<a href="javascript:void(0);" *ngIf="editmodeprofile" (click)="saveProfile()" class="btn btn-primary">Salvează</a>
							<a href="javascript:void(0);" *ngIf="editmodeprofile" (click)="cancelEditProfile()" class="btn btn-outline-secondary">Anulează</a>
						</div>
				</div>
				<div class="card-body">
					<form>
						<div class="form-group row">
							<label class="col-md-2 col-form-label">Nume:</label>
								<div class="col-md-6">
									<input type="text" *ngIf="!editmodeprofile" readonly class="form-control-plaintext" id="staticFirstName" [(ngModel)]="model.FirstName" name="FirstName" >
									<input type="text" *ngIf="editmodeprofile" class="form-control" id="FirstName" [(ngModel)]="model.FirstName" name="FirstName" >
								</div>
						</div>
						<div class="form-group row">
							<label class="col-md-2 col-form-label">Prenume:</label>
								<div class="col-md-6">
										<input type="text" *ngIf="!editmodeprofile" readonly class="form-control-plaintext" id="staticLastName"  [(ngModel)]="model.LastName" name="LastName">
										<input type="text" *ngIf="editmodeprofile" class="form-control" id="LastName" [(ngModel)]="model.LastName" name="LastName" >
								</div>
						</div>
						<div class="form-group row">
								<label class="col-md-2 col-form-label">Email:</label>
								<div class="col-md-6">
										<input type="text" *ngIf="!editmodeprofile" readonly class="form-control-plaintext" id="staticEmail" [(ngModel)]="model.Email" name="Email">
										<input type="text" *ngIf="editmodeprofile" class="form-control" id="LastName" [(ngModel)]="model.Email" name="Email" >
								</div>
						</div>
						<div class="form-group row">
							<label class="col-md-2 col-form-label">Telefon:</label>
							<div class="col-md-6">
									<input type="text" *ngIf="!editmodeprofile" readonly class="form-control-plaintext" id="staticPhoneNumber" [(ngModel)]="model.PhoneNumber" name="PhoneNumber">
									<input type="text" *ngIf="editmodeprofile" class="form-control" id="PhoneNumber" [(ngModel)]="model.PhoneNumber" name="PhoneNumber" >
							</div>
						</div>						
					</form>

				    <div class="form-group" style="display: none;">
						<label for="nume">Nume:</label>
						<input type="email" class="form-control" id="nume">
					  </div>
				</div>
			  </div>
				<br/>
				<div class="card" *ngIf="model && model.IsTeacher">
					<div class="card-header"><b>Oras</b> 
							<div class="btn-group float-right" style="margin-top:-7px;">
								<a href="javascript:void(0);" *ngIf="!editmodecity" (click)="editCity()" class="btn btn-primary">Modifică</a>
								<a href="javascript:void(0);" *ngIf="editmodecity" (click)="saveCity()" class="btn btn-primary">Salvează</a>
								<a href="javascript:void(0);" *ngIf="editmodecity" (click)="cancelEditCity()" class="btn btn-outline-secondary">Anulează</a>
							</div>
					</div>
					<div class="card-body">
						<div class="form-group row">
							<label class="col-md-2 col-form-label">Oras:</label>
								<div class="col-md-6">
									<span *ngIf="!editmodecity" class="form-control-plaintext" id="staticCity1" >{{selectedCityName1}}</span>
									<div *ngIf="editmodecity">
										<div class="d-inline-block mb-1"  ngbDropdown autoClose="outside" #myCity="ngbDropdown">
											<button class="btn  mr-2" id="dropdown_city"  ngbDropdownAnchor (click)="myCity.toggle()">
												{{selectedCityName1}}
											</button>                    
											<div ngbDropdownMenu aria-labelledby="dropdown_city">
												<div class="px-4 py-2">
													<input type="search" class="form-control"  [(ngModel)]="searchCity" name="searchCity" placeholder="Cauta">
												</div>
												<ng-container *ngIf="lstCity | filterByMateria:searchCity as result ">
													<div id="citiesMenuItems">
														<button class="dropdown-item" type="button"  *ngFor="let subCities of result; let i = index" (click)="selectCity1(subCities.Id, subCities.Name); myCity.close();">{{subCities.Name}}</button>
													</div>
													<div id="empty" class="dropdown-header" *ngIf="result?.length < 1">Nici un rezultat</div>
												</ng-container>
											</div>
										</div>
										<a href="javascript:void(0);" (click)="resetCity1()" class="btn btn-primary">Reset</a>
									</div>

									<span *ngIf="!editmodecity" class="form-control-plaintext" id="staticCity2" >{{selectedCityName2}}</span>
									<div *ngIf="editmodecity">
										<div class="d-inline-block mb-1" *ngIf="editmodecity"  ngbDropdown autoClose="outside" #myCity2="ngbDropdown">
											<button class="btn  mr-2" id="dropdown_city2"  ngbDropdownAnchor (click)="myCity2.toggle()">
												{{selectedCityName2}}
											</button>                    
											<div ngbDropdownMenu aria-labelledby="dropdown_city2">
												<div class="px-4 py-2">
													<input type="search" class="form-control"  [(ngModel)]="searchCity2" name="searchCity2" placeholder="Cauta">
												</div>
												<ng-container *ngIf="lstCity2 | filterByMateria:searchCity2 as result ">
													<div id="citiesMenuItems2">
														<button class="dropdown-item" type="button"  *ngFor="let subCities of result; let i = index" (click)="selectCity2(subCities.Id, subCities.Name); myCity2.close();">{{subCities.Name}}</button>
													</div>
													<div id="empty2" class="dropdown-header" *ngIf="result?.length < 1">Nici un rezultat</div>
												</ng-container>
											</div>
										</div>
										<a href="javascript:void(0);" (click)="resetCity2()" class="btn btn-primary">Reset</a>
									</div>

									<span *ngIf="!editmodecity" class="form-control-plaintext" id="staticCity3" >{{selectedCityName3}}</span>
									<div *ngIf="editmodecity">
										<div class="d-inline-block mb-1" *ngIf="editmodecity"  ngbDropdown autoClose="outside" #myCity3="ngbDropdown">
											<button class="btn  mr-2" id="dropdown_city3"  ngbDropdownAnchor (click)="myCity3.toggle()">
												{{selectedCityName3}}
											</button>                    
											<div ngbDropdownMenu aria-labelledby="dropdown_city2">
												<div class="px-4 py-2">
													<input type="search" class="form-control"  [(ngModel)]="searchCity3" name="searchCity3" placeholder="Cauta">
												</div>
												<ng-container *ngIf="lstCity3 | filterByMateria:searchCity3 as result ">
													<div id="citiesMenuItems3">
														<button class="dropdown-item" type="button"  *ngFor="let subCities of result; let i = index" (click)="selectCity3(subCities.Id, subCities.Name); myCity3.close();">{{subCities.Name}}</button>
													</div>
													<div id="empty3" class="dropdown-header" *ngIf="result?.length < 1">Nici un rezultat</div>
												</ng-container>
											</div>
										</div>
										<a href="javascript:void(0);" (click)="resetCity3()" class="btn btn-primary">Reset</a>
									</div>
								</div>
						</div>
						<div class="form-group row">
							<label class="col-md-2 col-form-label"></label>
								<div class="col-md-6">
									<input type="checkbox" *ngIf="!editmodecity" disabled="disabled" [(ngModel)]="bIsOnline"> 
									<input type="checkbox" *ngIf="editmodecity" [(ngModel)]="bIsOnline">  Meditații online?:
									<div class="alert alert-danger" role="alert" *ngIf="errorCity && errorCity.length>0">
										{{errorCity}}
									</div>
								</div>
						</div>						
					</div>
				  </div>
					<br/>				
				  <div class="card " *ngIf="model && model.IsTeacher">
						<div class="card-header"><b>Descriere</b>
								<div class="btn-group float-right" style="margin-top:-7px;">
										<a href="javascript:void(0);" *ngIf="!editmodedescription" (click)="editDescription()" class="btn btn-primary">Modifică</a>
										<a href="javascript:void(0);" *ngIf="editmodedescription" (click)="saveDescription()" class="btn btn-primary">Salvează</a>
										<a href="javascript:void(0);" *ngIf="editmodedescription" (click)="cancelEditDescription()" class="btn btn-outline-secondary">Anulează</a>
								</div>
						</div>
						<div class="card-body">
							<form>
								<div class="row">
										<div class="col-md-12" style="white-space: pre-line;">
											<span *ngIf="!editmodedescription" class="form-control-plaintext" id="staticCounty" >{{model.Description}}</span>
											<textarea *ngIf="editmodedescription" rows="10"  cols="100" class="form-control" id="Description" [(ngModel)]="model.Description" name="Description" style="max-width: 100% !important;"></textarea>
										</div>
								</div>							
							</form>
		
						</div>
						</div>	
						<br/>

						<div class="card " *ngIf="model && model.IsTeacher">
							<div class="card-header"><b>Pret</b><br/>
								Indicati pretul in lei pe ora.
									<div class="btn-group float-right" style="margin-top:-7px;">
											<a href="javascript:void(0);" *ngIf="!editmodeprice" (click)="editPrice()" class="btn btn-primary">Modifică</a>
											<a href="javascript:void(0);" *ngIf="editmodeprice" (click)="savePrice()" class="btn btn-primary">Salvează</a>
											<a href="javascript:void(0);" *ngIf="editmodeprice" (click)="cancelEditPrice()" class="btn btn-outline-secondary">Anulează</a>
									</div>
							</div>
							<div class="card-body">
								<form>
									<div class="row">
											<div class="col-md-12">
												<input type="text" *ngIf="!editmodeprice" readonly class="form-control-plaintext" id="staticPrice" [(ngModel)]="model.Price" name="Price">
												<input type="text" *ngIf="editmodeprice" class="form-control" id="Price" [(ngModel)]="model.Price" name="Price" class="form-control" type="number"  >
											</div>
									</div>							
								</form>
			
							</div>
							</div>	
							
						
						<br/>
	</div>
</div>
<!-- Modal -->
<ng-template #content let-c="close" let-d="dismiss">
	<div class="modal-header">
	  <h4 class="modal-title">Schimbă poza</h4>
	  <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
		<span aria-hidden="true">&times;</span>
	  </button>
	</div>
	<div class="modal-body">
		<img-cropper #cropper [image]="data" [settings]="cropperSettings"></img-cropper>
		<br>
		<span class="result rounded" *ngIf="data.image" >
			<img [src]="data.image" [width]="cropperSettings.croppedWidth" [height]="cropperSettings.croppedHeight" class="avatar-big">
		</span>
	</div>
	<div class="modal-footer">
	  <button type="button" class="btn btn-outline-dark" (click)="saveImage();c('Save click');">Save</button>
	</div>
  </ng-template>

  <ng-template #disciplines let-c="close" let-d="dismiss">
	<div class="modal-header">
	  <h4 class="modal-title">Materii</h4>
	  <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
		<span aria-hidden="true">&times;</span>
	  </button>
	</div>
	<div class="modal-body">
		<ul class="list-group">
			<li *ngFor="let category of categories; let i = index" class="list-group-item">
				<input type="checkbox" [(ngModel)]="category.selected"> {{category.Name}}
			</li>
		</ul>
	</div>
	<div class="modal-footer">
	  <button type="button" class="btn btn-outline-dark" (click)="saveCategories();d('Cross click');">Save</button>
	</div>
  </ng-template>

  <ng-template #grades let-c="close" let-d="dismiss">
	<div class="modal-header">
	  <h4 class="modal-title">Ciclul scolar</h4>
	  <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
		<span aria-hidden="true">&times;</span>
	  </button>
	</div>
	<div class="modal-body">
		<ul class="list-group">
			<li *ngFor="let cycle of cycles; let i = index"  class="list-group-item">
				<input type="checkbox" [(ngModel)]="cycle.selected"> {{cycle.Name}}
			</li>
		</ul>
	</div>
	<div class="modal-footer">
	  <button type="button" class="btn btn-outline-dark" (click)="saveCycles();c('Save click')">Save</button>
	</div>
  </ng-template>