
<div class="row message-container paddingtop20">
	<aside class="col-md-2 col-sm-4" style="height:100%;">
		<div class="left-navigation">
				<div class="logo" (click)="open(content)" *ngIf="model">
						<a ><img [src]="model.ProfileImageUrl"  class="avatar-big" placement="bottom" ngbTooltip="Click pentru a schimba poza."  /></a>
					</div>
					<br>
			<ul class="list-group" *ngIf="model && model.IsTeacher">
				<!--<li class="list-group-item" data-toggle="modal" data-target="#myModal" (click)="open(disciplines, { windowClass: 'disciplinesmodal' })"><a>Materii</a></li>
				<li class="list-group-item" data-toggle="modal" data-target="#myModal" (click)="open(grades)"><a>Ciclu școlar</a></li>
				//-->
			</ul>
		</div>
	</aside>

	<div class="col-md-10 col-sm-8 conversation-section" *ngIf="model">
		<!--Main content code to be written here -->
		<h1>Profilul meu</h1>
		<h5 style="color: red;">{{(model.FirstName == null ||model.FirstName == "" || model.LastName == null || model.LastName == ""  || model.Experience == null || model.Occupation == null ) ? "Profilul este incomplet" : ""}}</h5>
			<div class="card">
				<div class="card-header"><b>Date generale</b>
						<div class="btn-group float-right" style="margin-top:-7px;">
							<a href="javascript:void(0);" *ngIf="!editmodeprofile" (click)="editProfile()" class="btn btn-primary">Modifică</a>
							<a href="javascript:void(0);" *ngIf="editmodeprofile" (click)="saveProfile()" class="btn btn-primary">Salvează</a>
							<a href="javascript:void(0);" *ngIf="editmodeprofile" (click)="cancelEditProfile()" class="btn btn-outline-secondary">Anulează</a>
						</div>
				</div>
				<div class="card-body">
					<form>
						<div class="form-group row">
							<label class="col-md-3 col-form-label">Nume:</label>
								<div class="col-md-8">
									<input type="text" *ngIf="!editmodeprofile" readonly class="form-control-plaintext" id="staticFirstName" [(ngModel)]="model.FirstName" name="FirstName" >
									<input type="text" *ngIf="editmodeprofile" class="form-control" id="FirstName" [(ngModel)]="model.FirstName" name="FirstName" >
								</div>
						</div>
						<div class="form-group row">
							<label class="col-md-3 col-form-label">Prenume:</label>
								<div class="col-md-8">
										<input type="text" *ngIf="!editmodeprofile" readonly class="form-control-plaintext" id="staticLastName"  [(ngModel)]="model.LastName" name="LastName">
										<input type="text" *ngIf="editmodeprofile" class="form-control" id="LastName" [(ngModel)]="model.LastName" name="LastName" >
								</div>
						</div>
						<div class="form-group row">
								<label class="col-md-3 col-form-label">Email:</label>
								<div class="col-md-8">
										<input type="text" *ngIf="!editmodeprofile" readonly class="form-control-plaintext" id="staticEmail" [(ngModel)]="model.Email" name="Email">
										<input type="text" *ngIf="editmodeprofile" disabled class="form-control" id="email" [(ngModel)]="model.Email" name="Email" >
								</div>
						</div>
						<div class="form-group row">
							<label class="col-md-3 col-form-label">Telefon:</label>
							<div class="col-md-8">
									<input type="text" *ngIf="!editmodeprofile" readonly class="form-control-plaintext" id="staticPhoneNumber" [(ngModel)]="model.PhoneNumber" name="PhoneNumber">
									<input type="text" *ngIf="editmodeprofile" class="form-control" id="PhoneNumber" [(ngModel)]="model.PhoneNumber" name="PhoneNumber" >
							</div>
						</div>
						<div class="form-group row" *ngIf="model && model.IsTeacher">
							<label class="col-md-3 col-form-label">Experiența ta:</label>
							<div class="col-md-8">
								<span *ngIf="!editmodeprofile" class="form-control-plaintext" id="staticExperience" >{{selectedExperienceName}}</span>
								<div *ngIf="editmodeprofile">
									<div class="d-inline-block mb-1"  ngbDropdown autoClose="outside" #myExperience="ngbDropdown">
										<button class="btn  mr-2" id="dropdown_experience"  ngbDropdownAnchor (click)="myExperience.toggle()">
											{{selectedExperienceName}}
										</button>                    
										<div ngbDropdownMenu aria-labelledby="dropdown_experience">
											<ng-container *ngIf="lstExperience">
												<div id="experienceMenuItems">
													<button class="dropdown-item" type="button" *ngFor="let subExperience of lstExperience; let i = index" (click)="selectExperience(subExperience.Id, subExperience.Name); myExperience.close();">{{subExperience.Name}}</button>
												</div>
											</ng-container>
										</div>
									</div>

									<div class="alert alert-danger" role="alert" *ngIf="errorExperience && errorExperience.length>0">
										{{errorExperience}}
									</div>
								</div>
							</div>
						</div>

						<div class="form-group row" *ngIf="model && model.IsTeacher">
							<label class="col-md-3 col-form-label">Ocupație:</label>
							<div class="col-md-8">
								<span *ngIf="!editmodeprofile" class="form-control-plaintext" id="staticOccupation" >{{selectedOccupationName}}</span>
								<div *ngIf="editmodeprofile">
									<div class="d-inline-block mb-1"  ngbDropdown autoClose="outside" #myOccupation="ngbDropdown">
										<button class="btn  mr-2" id="dropdown_occupation"  ngbDropdownAnchor (click)="myOccupation.toggle()">
											{{selectedOccupationName}}
										</button>                    
										<div ngbDropdownMenu aria-labelledby="dropdown_occupation">
											<ng-container *ngIf="lstOccupation">
												<div id="occupationMenuItems">
													<button class="dropdown-item" type="button"  *ngFor="let subOccupation of lstOccupation; let i = index" (click)="selectOccupation(subOccupation.Id, subOccupation.Name); myOccupation.close();">{{subOccupation.Name}}</button>
												</div>
											</ng-container>
										</div>
									</div>
								</div>
								
								<div class="alert alert-danger" role="alert" *ngIf="errorOccupation && errorOccupation.length>0">
									{{errorOccupation}}
								</div>
							</div>
						</div>		
						
						<div class="form-group row" *ngIf="model && model.IsTeacher">
							<label class="col-md-3 col-form-label">URL video YouTube:</label>
								<div class="col-md-8">
										<input type="text" *ngIf="!editmodeprofile" readonly class="form-control-plaintext" id="staticYouYubeURL"  [(ngModel)]="model.YouYubeURL" name="YouYubeURL">
										<input type="text" *ngIf="editmodeprofile" class="form-control" id="YouYubeURL" [(ngModel)]="model.YouYubeURL" name="YouYubeURL" >
								</div>
						</div>
																	
					</form>

				    <div class="form-group" style="display: none;">
						<label for="nume">Nume:</label>
						<input type="email" class="form-control" id="nume">
					  </div>
				</div>
			  </div>
				<br/>
				<div class="card" *ngIf="model && model.IsTeacher">
					<div class="card-header"><b>Locatie</b> 
							<div class="btn-group float-right" style="margin-top:-7px;">
								<a href="javascript:void(0);" *ngIf="!editmodecity" (click)="editCity()" class="btn btn-primary">Modifică</a>
								<a href="javascript:void(0);" *ngIf="editmodecity" (click)="saveCity()" class="btn btn-primary">Salvează</a>
								<a href="javascript:void(0);" *ngIf="editmodecity" (click)="cancelEditCity()" class="btn btn-outline-secondary">Anulează</a>
							</div>
					</div>
					<div class="card-body">
						<div class="form-group row">
							<label class="col-md-2 col-form-label">Locatie:</label>
								<div class="col-md-6">
									<span *ngIf="!editmodecity" class="form-control-plaintext" id="staticCity1" >{{selectedCityName1}}</span>
									<span *ngIf="editmodecity">Judetul:</span>
									<div *ngIf="editmodecity">
										<div class="d-inline-block mb-1"  ngbDropdown autoClose="outside" #myCounty="ngbDropdown">
											<button class="btn  mr-2" id="dropdown_county"  ngbDropdownAnchor (click)="myCounty.toggle()">
												{{selectedCountyName}}
											</button>                    
											<div ngbDropdownMenu aria-labelledby="dropdown_county">
												<ng-container *ngIf="lstCounty">
													<div id="countyMenuItems">
														<button class="dropdown-item" type="button"  *ngFor="let subCounty of lstCounty; let i = index" (click)="selectCounty(subCounty); myCounty.close();">{{subCounty}}</button>
													</div>
												</ng-container>
											</div>
										</div>
									</div>
									
									<span *ngIf="editmodecity">Orasul:</span>
									<div *ngIf="editmodecity">
										<div class="d-inline-block mb-1"  ngbDropdown autoClose="outside" #myCity="ngbDropdown">
											<button class="btn  mr-2" id="dropdown_city"  ngbDropdownAnchor (click)="myCity.toggle()">
												{{selectedCityName1}}
											</button>                    
											<div ngbDropdownMenu aria-labelledby="dropdown_city">
												<ng-container *ngIf="lstFilteredCity">
													<div id="citiesMenuItems">
														<button class="dropdown-item" type="button"  *ngFor="let subCities of lstFilteredCity; let i = index" (click)="selectCity1(subCities.Id, subCities.Name); myCity.close();">{{subCities.Name}}</button>
													</div>
												</ng-container>
											</div>
										</div>										
									</div>
								</div>
						</div>
						<div class="form-group row">
							<label class="col-md-2 col-form-label"></label>
							<br/>
								<div class="col-md-6">
									<div>Locația în care oferi meditații</div>
									<input type="checkbox" *ngIf="!editmodecity" disabled="disabled" [(ngModel)]="bIsOnStudent"> 
									<input type="checkbox" *ngIf="editmodecity" [(ngModel)]="bIsOnStudent">  Domiciliul elevului  :
									<br/>

									<input type="checkbox" *ngIf="!editmodecity" disabled="disabled" [(ngModel)]="bIsOnTeacher"> 
									<input type="checkbox" *ngIf="editmodecity" [(ngModel)]="bIsOnTeacher">  Domiciliul meditatorului:
									<br/>

									<input type="checkbox" *ngIf="!editmodecity" disabled="disabled" [(ngModel)]="bIsOnline"> 
									<input type="checkbox" *ngIf="editmodecity" [(ngModel)]="bIsOnline">  Meditații online:
									<div class="alert alert-danger" role="alert" *ngIf="errorCity && errorCity.length>0">
										{{errorCity}}
									</div>
								</div>
						</div>						
					</div>
				  </div>
				  <br/>		
				  <div class="card " *ngIf="model && model.IsTeacher">
					<div class="card-header"><b>Studii</b>
							<div class="btn-group float-right" style="margin-top:-7px;">
									<a href="javascript:void(0);" *ngIf="!editmodeStudii" (click)="editStudii()" class="btn btn-primary">Modifică</a>
									<a href="javascript:void(0);" *ngIf="editmodeStudii" (click)="saveStudii()" class="btn btn-primary">Salvează</a>
									<a href="javascript:void(0);" *ngIf="editmodeStudii" (click)="cancelEditStudii()" class="btn btn-outline-secondary">Anulează</a>
							</div>
					</div>
					<div class="card-body">
						<form>
							<div class="row">
									<div class="col-md-12">
										<span *ngIf="!editmodeStudii" class="form-control-plaintext" id="staticStudii" >{{model.Studies}}</span>
										<textarea *ngIf="editmodeStudii" rows="10"  cols="100" class="form-control" id="Studies" [(ngModel)]="model.Studies" name="Studies" style="max-width: 100% !important;"></textarea>
										<div class="alert alert-danger" role="alert" *ngIf="errorStudies && errorStudies.length>0">
											{{errorStudies}}
										</div>
									</div>
							</div>							
						</form>
	
					</div>
					</div>	

	</div>
</div>
<!-- Modal -->
<ng-template #content let-c="close" let-d="dismiss">
	<div class="modal-header">
	  <h4 class="modal-title">Schimbă poza</h4>
	  <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
		<span aria-hidden="true">&times;</span>
	  </button>
	</div>
	<div class="modal-body">
		<img-cropper #cropper [image]="data" [settings]="cropperSettings"></img-cropper>
		<br>
		<span class="result rounded" *ngIf="data.image" >
			<img [src]="data.image" [width]="cropperSettings.croppedWidth" [height]="cropperSettings.croppedHeight" class="avatar-big">
		</span>
	</div>
	<div class="modal-footer">
	  <button type="button" class="btn btn-outline-dark" (click)="saveImage();c('Save click');">Save</button>
	</div>
  </ng-template>

  <ng-template #disciplines let-c="close" let-d="dismiss">
	<div class="modal-header">
	  <h4 class="modal-title">Materii</h4>
	  <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
		<span aria-hidden="true">&times;</span>
	  </button>
	</div>
	<div class="modal-body">
		<ul class="list-group">
			<li *ngFor="let category of categories; let i = index" class="list-group-item">
				<input type="checkbox" [(ngModel)]="category.selected"> {{category.Name}}
			</li>
		</ul>
	</div>
	<div class="modal-footer">
	  <button type="button" class="btn btn-outline-dark" (click)="saveCategories();d('Cross click');">Save</button>
	</div>
  </ng-template>

  <ng-template #grades let-c="close" let-d="dismiss">
	<div class="modal-header">
	  <h4 class="modal-title">Ciclul scolar</h4>
	  <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
		<span aria-hidden="true">&times;</span>
	  </button>
	</div>
	<div class="modal-body">
		<ul class="list-group">
			<li *ngFor="let cycle of cycles; let i = index"  class="list-group-item">
				<input type="checkbox" [(ngModel)]="cycle.selected"> {{cycle.Name}}
			</li>
		</ul>
	</div>
	<div class="modal-footer">
	  <button type="button" class="btn btn-outline-dark" (click)="saveCycles();c('Save click')">Save</button>
	</div>
  </ng-template>