<div class="row teachers paddingtop20">
    <div class="col-md-2 col-sm-4 sidebar1">
        <div class="logo">
            <img src="/img/svg/prof.svg" />
        </div>
        <br>
        <div class="left-navigation">
            <strong>Materii</strong>
            <ul class="list">
                <li *ngFor="let category of categories; let i = index">
                    <a (click)="selectMainCategory(category.Id)">{{category.Name}}</a> 
                    <ul *ngIf="category.Id == selectedMainCategory">
                        <li *ngFor="let subCategory of subCategories; let i = index">
                            <a (click)="selectCategory(subCategory.Id)">{{subCategory.Name}}</a>
                        </li>
                    </ul>
                </li>
            </ul>
            <br>
            <h5><strong>Ciclul scolar</strong></h5>
            <ul class="list">
                <li *ngFor="let cycle of cycles; let i = index">
                    <a (click)="selectCycle(cycle.Id)">{{cycle.Name}}</a>
                </li>
            </ul>
        </div>
    </div>

    <div class="col-md-10 col-sm-8 main-content">
        <!--Main content code to be written here -->
        <h1>Lista profesorilor</h1>
        <div>
            <div *ngFor="let teacher of teachers">
                <article class="row">
                    <div class="col-md-1"><a href="/teacher/cristian"><img src="/img/users/cristi.jpg" class="avatar" /></a></div>
                    <div class="col-md-9">
                        <div id="name" class="m-0-top-bottom display-inline-block"><a href="/teacherprofile/{{teacher.Id}}"> {{teacher.FirstName}}  {{teacher.LastName}} </a></div>
                        <div id="title" class="m-0-top-bottom"><div *ngFor="let category of teacher.Categories"> {{category.Name}} </div> </div>

                        <div class="star-rating-small">
                            <div class="star-rating-small-cover">
                                <div class="star-rating-small-progress" style="width:{{ teacher.rating }}%"></div>
                            </div>
                        </div>
                        <div>{{teacher.cycles}}</div>
                        <div class="description">{{teacher.Description}}</div>
                    </div>
                    <div class="col-md-2">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="m-sm-bottom m-0-top">
                                    <div>
                                        <button class="btn btn-block btn-primary btn-sm m-0-top m-0-left-right m-sm-bottom">
                                            <span>Trimite mesaj</span>
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </article>
            </div>

            <!-- pager -->
            <ul *ngIf="pager.pages && pager.pages.length" class="pagination">
                <li [ngClass]="{hidden:pager.currentPage === 1}">
                    <a (click)="setCurrentPage(1)">First</a>
                </li>
                <li [ngClass]="{hidden:pager.currentPage === 1}">
                    <a (click)="setCurrentPage(pager.currentPage - 1)">Previous</a>
                </li>
                <li *ngFor="let page of pager.pages" [ngClass]="{active:pager.currentPage === page}">
                    <a (click)="setCurrentPage(page)">{{page}}</a>
                </li>
                <li [ngClass]="{hidden:pager.currentPage === pager.totalPages}">
                    <a (click)="setCurrentPage(pager.currentPage + 1)">Next</a>
                </li>
                <li [ngClass]="{hidden:pager.currentPage === pager.totalPages}">
                    <a (click)="setCurrentPage(pager.totalPages)">Last</a>
                </li>
            </ul>

        </div>
    </div>
</div>